[2016-06-07 08:55] svilenvul opened #17 "Testing documentation"
I would like to contribute to the testing documentation.
I think it might be difficult for new binding developers to set up and run integration test in openHAB (Eclipse SmartHome too)

Currently we have [Testing Eclipse SmartHome](https://www.eclipse.org/smarthome/documentation/development/testing.html). It is a good staring point, but I would like to go with a different approach - something more

[2016-06-07 13:38] svilenvul opened #18 "Starters guides related to openHAB 2"
Migrated from: https://community.openhab.org/t/starters-guides-not-directly-related-to-openhab-2/11348/1

svilenvul wrote:

- OSGi introduction page
- overview of OSGi Declarative Service specification
- OSGi coding tasks
- Tycho and dependency resolution process
- what is p2, Installable Units, update-site
- info about some basic Equinox commands and core bundles

kaikreuzer wrote:

So in general

[2016-06-16 15:54] rtvb opened #26 "Non default port in example"
The example uses port 8011 instead of the default 8080. For clarity and consistency the documentation should always use the same.

http://docs.openhab.org/tutorials/advanced/installing.html
##

[2016-06-16 19:57] rtvb opened #27 "Error reference television icon"
Reference to television icon wrong.

https://github.com/openhab/openhab-docs/blob/gh-pages/addons/iconsets/classic/readme.md

[2016-06-16 20:01] rtvb opened #28 "New icon walls switch missing"
https://github.com/openhab/openhab-docs/tree/gh-pages/addons/iconsets/classic

[2016-06-17 14:40] kaikreuzer commented on #26
I agree, this has also been discussed already [here](https://community.openhab.org/t/documenting-openhab-2/10568/51?u=kai).

@bipphilippe Will you take this into consideration?

[2016-06-18 03:42] rtvb opened #30 "Custom 404 page"
If you open a non existing page like http://docs.openhab.org/somepage/ a 404 page with GitHub branding is shown. This should be replaced with a OH branded one.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35273598-custom-404-page?utm_campaign=plugin&utm_content=tracker%2F37358380&utm_medium=issues&utm_source=github)** We accept bo

[2016-06-19 04:25] rtvb commented on #27
The file referenced above still doesn't show the fix.

[2016-06-19 18:01] kaikreuzer commented on #27
Change had to be merged at ESH and doc repo pulled changed. Done now.

[2016-06-19 18:01] #27 closed

[2016-06-20 08:33] kaikreuzer commented on #30
Good idea! Could you come up with a PR for this?

[2016-06-20 18:02] rtvb commented on #30
I will give it a try.

[2016-06-25 18:23] dmcwhinnie opened #34 "IDE Setup for Eclipse Neon not working."
Tried getting the IDE setup for the first time, and it appears Eclipse Neon has been released, and this is breaking the Oomph install process.

May want to add a clarification note to IDE setup step 3, indicating Product Version Mars needs to be selected.  It is in the screen shot, but I just took the default which is now "Neon".  Once I went back and select Mars everything worked as expected.

Im

[2016-06-25 18:29] kaikreuzer commented on #34
Right, this is a known issue: https://github.com/eclipse/smarthome/issues/1662

Feel free to create a PR to add a warning to the documentation, but I'd hope to rather fix the installation for Neon.

[2016-06-25 20:01] dmcwhinnie commented on #34
Think I figured out GitHub...

PR here: https://github.com/openhab/openhab-docs/pull/35

[2016-06-25 20:08] kaikreuzer commented on #34
You did - thanks!

[2016-06-25 20:08] #34 closed

[2016-07-01 07:24] #28 closed

[2016-07-06 12:13] kaikreuzer commented on #30
Any success?

[2016-07-06 14:34] rtvb commented on #30
Not yet. Due to personal circumstances I have not been able to do much
computer work in my spare time lately. I'd still like to contribute, but
if someone else can fix this issue shortly, I don't mind.
 

[2016-07-28 16:45] ThomDietrich opened #49 "Non-responsive images"
To resume https://github.com/openhab/openhab-docs/pull/48

I saw, that materialize is used for styling. So despite what I suggested in the other discussion, it would make more sense to rely on materialize to handle pics? http://materializecss.com/media-css.html

[code]
The effect is more or less the same:
[code]
I have no experience with jekyll, would be great if somebody could quickly provide the

[2016-07-28 16:56] ThomDietrich opened #50 "Markdown code validation"
There are occasional problems from markdown documents to a correct presentation on http://docs.openhab.org. Examples https://github.com/eclipse/smarthome/pull/1873 and https://github.com/openhab/openhab2-addons/pull/1159. From a general standpoint, it would be good to have some Markdown Style Guides for docs in place.

I would suggest including a Markdown linter into the build process, possibly ev

[2016-07-28 20:16] kaikreuzer commented on #50
Would be cool. Any suggestion which one of the three and how to configure it to match the requirements of Github Pages for docs.openhab.org?

[2016-07-28 20:35] ThomDietrich commented on #50
I think it would be amazing to have some even more complex style matching in there. One could easily*** build linting rules to have all binding readme's in the same structure, with "Full Example" at the end and all.

The first project seems nice and clean. Rules are extendable.

The second seems to be a less feature rich clone of the first, but in node vs. ruby.

The third is on another level. It'

[2016-07-28 20:41] kaikreuzer commented on #50
Yes, I also like the idea a lot.
If you have the time to experiment a bit with it (e.g. in a test repo of your own), it would be gorgeous. I am afraid that I won't find the time to look into this myself any time soon...

[2016-07-29 10:21] ThomDietrich commented on #50
I'll look into it.
Just to be sure, please tell me if such a tool could be integrated into the contribution process. I saw that you are using a jenkins setup on cloudbees, so i guess the possibilities there are very limited?

[2016-07-29 10:27] kaikreuzer commented on #50
If there are suitable hooks for Github to trigger such a check, we will be able to do it.
Yes, we currently use cloudbees for openHAB 2 PRs to do a test build of them, at ESH there is actually Travis in place since a few weeks.

The easiest integration would probably be to include it in the Maven build itself, then these tests would also be executed for local builds, before people actually create

[2016-08-03 12:28] ThomDietrich opened #53 "sitemap article, missing details"
Hello busy bees,
the sitemaps article is almost done. I've created pull request https://github.com/openhab/openhab-docs/pull/54 to merge the article in it's first version. I would like to point out a few open questions:
- these three [sitemap elements](https://github.com/eclipse/smarthome/tree/master/extensions/ui/org.eclipse.smarthome.ui.basic/src/main/java/org/eclipse/smarthome/ui/basic/internal

[2016-08-03 12:41] ThomDietrich opened #55 "items configuration article"
This is a placeholder for the work on the [items.md](http://docs.openhab.org/configuration/items.html) article. If you are willing to work on this task, please leave a message.

[2016-08-03 12:43] ThomDietrich commented on #55
Note: The sitemap article contains a lot of references to items (labels, icons, etc....). All of them are currently marked with a "TODO" note in source code. Please update these links when the items article is finished.

[2016-08-04 08:44] kaikreuzer commented on #53
- Page: This is not a valid widget (see the "real" list [here](https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.sitemap/src/org/eclipse/smarthome/model/Sitemap.xtext#L14))
- MapView: shows an OpenStreetMap map for a Location item. Try [this](https://github.com/eclipse/smarthome/blob/master/distribution/smarthome/conf/sitemaps/demo.sitemap#L9).
- List: Good

[2016-08-04 16:14] ThomDietrich opened #59 "xtend Syntax highlighting missing"
I was sad to learn, that syntax highlighting in the freshly created sitemap article is not working. Other than on github in preview, GitHub pages + Jekyll does not seem to support the xtend syntax. https://jekyllrb.com/docs/templates/#code-snippet-highlighting

Why not use Java? Because there can always be misinterpretations...

[code]

As you can see, one small < will f up everything.

To get `xt

[2016-08-04 22:26] ThomDietrich commented on #53
Thanks kai, I'll look into that.

I still need somebody to read over the paragraphs on charts, slider and colorpicker. Would you or rkoshak have the time?

@rkoshak: If you feel like it ;)

[2016-08-05 08:05] #49 closed

[2016-08-05 08:26] joergkling opened #61 "Enhance beginner tutorial"
In work by  @joergkling

1.2 Tutorial (Beginner)
1.2.1 Overview
1.2.2 User interfaces
1.2.3 Installing an Extension
1.2.4 Working with Extension
1.2.5 Working with rules and script
1.2.6 Looking at the Logs
##

[2016-08-05 12:51] ThomDietrich commented on #59
@kaikreuzer I think this is building platform related, so you need to make a decision.

[2016-08-05 12:58] kaikreuzer commented on #59
What are the decision options...?

[2016-08-05 12:59] ThomDietrich commented on #61
Hello Jörg,
that's quite a part. Good luck!
After talking to a few frustrated users over the last few weeks, I want to turn your attention to one of the first sentences in the beginner tutorial:

While I was happy to see this warning in there, I think it this should be streched more. A lot of users start fresh with openHAB, thinking they can do everything with PaperUI. This is the vision for the n

[2016-08-05 13:05] ThomDietrich opened #62 "Enhancing the ESH copying process"
Continuing https://github.com/openhab/openhab-docs/pull/56

---

I think this won't work, at least I wasn't very successful when I experimented with such a solution.
What we will indeed need sooner or later is a better manageable copy mechanism, doing it in the pom.xml as it is now will definitely become too complex at some point in time.

Feel free to adapt the copy mechanism accordingly.

---

W

[2016-08-05 13:08] ThomDietrich commented on #59
* live with java or javascript or php syntax highlighting for Xtext/Xtend language (the same mess as in the forum)
* switch over to pygment, which is supported by jekyll and which supports xtend:

[2016-08-05 13:14] kaikreuzer commented on #59
So the drawback would be that people who want to work on the documentation need a bigger zoo of tools installed locally to make it work, right? Not ideal if we want to keep the barrier for contributions low (especially for the start).

[2016-08-05 13:26] ThomDietrich commented on #59
Not really. You don't have to use it. Editors who do not support xtend will just ignore it:

![2016-08-05 15_19_21-start](https://cloud.githubusercontent.com/assets/2870104/17437789/0c0259c6-5b20-11e6-8b36-deceaa4c7163.png)

Others already do, the github online editor [for example](https://github.com/ThomDietrich/openhab-docs/blob/patch-5/features/sitemap.md).

If one of the contributors actually

[2016-08-05 13:39] joergkling commented on #61
Hi Thomas,

yes, I was involved in some of these discussions and this is why drive this issue.

Main objective is to get rid of the emty pages and give new users some guidance to do the first steps. Remember, this is the beginners guide. Migration and more enhanced topics should be handled somewhere else.

[2016-08-05 15:03] ThomDietrich commented on #61
"migration process" as in "openhab2 is shifting to a new approach and still under heavy development" rather than "migrating from 1.8 to 2.0beta" ;)
Sounds good.

[2016-08-06 14:42] ThomDietrich opened #63 "installation articles"
I'm currently in the process of writing a new [general installation overview](http://docs.openhab.org/installation/index.html) article and updating the [Raspberry Pi](http://docs.openhab.org/installation/rasppi.html) article.

* [Overview](https://github.com/ThomDietrich/openhab-docs/blob/installation/installation/index.md) (more or less finished)
* [Raspberry Pi](https://github.com/ThomDietrich/o

[2016-08-07 18:00] kaikreuzer commented on #61
I think even on the long run, we will have these two co-existing concepts: The "full-power" textual configuration as known from openHAB 1, which will stay in place and on what we should also concentrate for now to explain to people in the documentation.
Most of these parts are also possible through the UI by now though and we should try to build this (while implementing the missing parts) in paral

[2016-08-08 10:03] pabloNZ commented on #55
I'll start working on this and get a draft based on the OH wiki article and the discussion in the community forum put together.

[2016-08-08 23:19] ThomDietrich opened #67 "Add info/warning to old wiki articles"
This is a task for whoever wants to contribute and is looking for a starting point:

New updated articles for openHAB 2 are written here, while the old articles in the wiki are still valid for openHAB 1.8. The problem is, that a user searching for a topic in the forum or via google may end up in the 2.0-vise outdated wiki article.
That's why, we need to add an information (highlighted, ...) at the

[2016-08-09 03:20] pabloNZ commented on #55
Pull request is pending. I have kept it in the concepts folder rather than moving it to the configurations folder where it might be better suited. It's a combination of my notes/community posts/ESH wiki/OH1.x Wiki articles so should cover most points.

[2016-08-09 03:27] rkoshak opened #69 "Create a Graphic(s) showing the relationships between Things, Items, Persistence, Rules, and Sitemap"
I intend on using Draw.io so we can keep the source with the project. I believe that is what was used to create the existing architectural drawings already in docs.

Discussion on the forum is here:

https://community.openhab.org/t/lets-talk-about-oh-2-drawings/13096

[2016-08-10 12:00] ThomDietrich commented on #67
Example: https://github.com/openhab/openhab/wiki/Astro-binding
I'm asking for feedback, before this is copied to (nearly) all wiki articles.
As you can see, there are two options:

@rkoshak @kaikreuzer @joergkling

## openHAB 2

This wiki article is only valid for **openHAB 1.8**.
For an updated documentation on the use with **openHAB 2**, please visit:

http://docs.openhab.org/addons/bindings/ast

[2016-08-10 14:05] rkoshak commented on #67
So the change only has to be made once and to avoid confusion I would say "openHAB 1.x" instead of the specific 1.8 version. The confusion comes in as there are in work updates to bindings labeled and referred to as version 1.9.

I personally like the first option if for no other reason then we will not have to come back and change it again later. With the latter option as the openHAB 2 documentat

[2016-08-10 14:14] ThomDietrich commented on #67
Having a hybrid to not come back sounds reasonable. Sadly collides with my wish to directly link to the corresponding article (like shown for astro).

1.x - check
less strong - check

I guess there is a difference regarding the compatibility layer: While sitemap and such are slowly adopted to docs, the OH 1.x bindings will stay in the wiki. We would confuse users if the wiki told them to search fo

[2016-08-10 14:23] rkoshak commented on #67
I don't know if it completely collides with providing a direct link to the corresponding article, where possible. I think this particularly makes sense for the bindings pages. I think there are a lot of really good reasons to do that, particularly for those bindings where there is a 1.x version and a 2 version and those the two work differently.

So maybe we do need to plan on coming back and edit

[2016-08-10 14:26] ThomDietrich commented on #67
Re-edited once. You can just add whatever you feel is right: https://github.com/openhab/openhab/wiki/Astro-binding

[2016-08-10 20:20] Clocker commented on #67
I prefer the first option, the direkt link from 1.x binding to the correspondent 2.x binding is enough.

A user who starts to play with bindings, allready knows about that there exists two implementation philosophies. (At least during installation time he decided which server to install)

The problem at the moment is when you search openhab together with a binding option you will land mostly on th

[2016-08-10 21:42] rkoshak commented on #67
No.

That is the plan and the acceptance of a PR will be contingent on the author updating their binding's documentation page. Documentation for OH 2 bindings has not started yet as far as I'm aware. But the main point is that the writing of the binding page for each binding is the responsibility of the binding authors, if I understand Kai's intent correctly.

All OH 1 bindings are compatible with

[2016-08-11 21:06] ThomDietrich opened #72 "H4 styling missing"
H1..H3 receive styling from style.css
H4 does not and is thereby bigger and darker.

needs to be fixed in ESH and OH2 docs

linked to https://github.com/openhab/openhab-docs/issues/62

[2016-08-11 21:09] ThomDietrich commented on #72
Also style related: violates lists

[code]

[2016-08-15 18:54] kaikreuzer commented on #18
Contributed through #45, #66 and #76 - thanks!

[2016-08-15 18:54] #18 closed

[2016-08-15 18:55] kaikreuzer commented on #18
(I closed this issue, but further PRs about OSGi/Tycho related topics are of course still welcome!)

[2016-08-16 13:18] ThomDietrich commented on #59
After seeing some random syntax highlighting behavior I discovered that, on top of jekyll, there is highlight.js included. I didn't see that before. While I don't exactly know why... that could be a good thing as the discourse community forum also uses highlight.js. By extending highlight.js by a Xtend/Xtext language definition, both worlds should be covered. This should be rather easy as a simila

[2016-08-16 13:26] ThomDietrich commented on #55
Closing because PR https://github.com/openhab/openhab-docs/pull/68
Please do not forget about the sitemap links

[2016-08-16 13:26] #55 closed

[2016-08-29 14:30] ThomDietrich commented on #67
This is still an important TODO.
Yet another example: https://community.openhab.org/t/how-to-organise-group-items-in-paper-ui-dashboard-layout/13634

[2016-09-06 20:48] hynekprokop opened #84 "yahooweather binding example - extra quotation marks"
Hi,

[Here](http://docs.openhab.org/addons/bindings/yahooweather/readme.html#full-example) is a small mistake I think.

Instead of:
`yahooweather:weather:berlin [ location="638242" ]`

should be:
`yahooweather:weather:berlin [ location=638242 ]`

[2016-09-07 06:13] kaikreuzer commented on #84
Thanks for the report, this will be fixed with https://github.com/eclipse/smarthome/pull/2130.

[2016-09-07 06:13] #84 closed

[2016-09-07 13:17] kirilAtan opened #85 "Coding tasks' implementation"
Hello I think it would be a good idea to add implementations to the OSGI Coding tasks in http://docs.openhab.org/developers/prerequisites/osgitasks.html because it will be very beneficial for the beginners to see sample code with the tasks. I would like to implement them.

I want to align where will be the most appropriate place to store them. I would suggest to create a new repository named "open

[2016-09-07 13:33] kaikreuzer commented on #85
I wouldn't mind if we'd simply create a "sample" branch within this repo here - no need for a separate repo, I guess.

[2016-09-07 15:00] rkoshak opened #86 "Add step by step instructions and lessons learned to Migration from 1.x tutorial"
The existing "Migration from openHAB 1 to openHAB 2" has a lot of important information about what will be different between OH 1.x and OH 2 but it really isn't a tutorial. there are no step by step instructions. I'm going to start the migration process myself and will use my experiences to beef up these instructions.
##

[2016-09-07 20:26] rkoshak opened #88 "Change to save the apt repos to openhab2.list"
Update the Linux installation instructions to save the apt- repos to /etc/apt/sources.list.d/openhab2.list instead of openhab.list. This will prevent overriding openhab.list for those who are migrating from OH 1 and used the apt-get install or confusing apt with left over OH 1 openhab.list.distUpgrade files.

[2016-09-07 21:05] #88 closed

[2016-09-07 21:05] rkoshak commented on #88
Sorry, I'm still feeling my way around how GitHub works. Apparently when one submits a pull request it creates a new issue instead of giving you the chance to link it with this one. Or I missed that option.

[2016-09-08 07:04] kaikreuzer commented on #88
Opening a PR does not create an issue, only a PR. You can then add a comment "fixes #xyz" to your PR and this will link it to the issue (and the issue is auto-closed once the PR is merged).

[2016-09-08 10:11] ThomDietrich commented on #86
I think it would be important to mention, that you can go with or without PaperUI. These two need to be discussed equally.

[2016-09-08 10:15] ThomDietrich commented on #86
Here's something I wrote a few weeks back for a friend and was planing to post to the forum, never got around doing it. I just browsed through it and it's already a bit outdated... maybe you want to use parts of it.

# Paperless OH2 - a config based setup

Regardless of whether you are completely new to openHAB or you already have your home all wired up by the use of openHAB 1.8, the time is here

[2016-09-08 13:49] rkoshak commented on #88
Thanks! I need to learn me some GitHub apparently.

[2016-09-08 13:54] rkoshak commented on #86
I like that write-up a lot. Do you think that information about PaperUIless should be the main thread for the migration path or should I treat it as an aside (i.e. show migration using PaperUI and say by-the-way, you can do it without this way if you want). The nice thing about it is that it keeps OH 2 looking more like OH 1 in terms of configuration. However, I don't want to steer users away from

[2016-09-08 14:45] ThomDietrich commented on #86
I think this should be a "by-the-way".
Saying otherwise I would be in big trouble with @kaikreuzer I guess :laughing:

I do not want to steer away from PaperUI, this is just the alternative path for when users need to know about it. As I said: "PaperUI is a big step forward in the world of openHAB and will probably soon reach a point where it can be recommended for general use by everybody".

I am

[2016-09-08 18:47] rkoshak opened #90 "Docker Installation Instructions"
Is it reasonable and feasible to simple replace the contents of installation/Docker.md with the README.md on the Docker's GitHub repo? Or maybe we should just point there? Or we could even just change the link for the Docker instructions to go directly to the Docker Hub site.

I started to add the docker pull instructions to the documents and realized that the entire page is basically lifted from

[2016-09-08 20:38] rkoshak opened #91 "Karaf console command and example do not match"
On http://docs.openhab.org/administration/console.html the instructions say:

However, the provided output of the command shows the user having logged in as user karaf.

This should be

ssh openhab@localhost -p 8101

I'd fix it myself but I don't yet know how to have more than one pull request at a time.

[2016-09-08 22:45] ThomDietrich commented on #90
https://github.com/openhab/openhab-docker

You make a fair point. The instructions that can be found in the README should not be repeated in docs.openhab.org - this also means we should not sync them to docs I think.
I looked through the README and it only contains the minimum information required for someone acquainted with docker. I would suggest an article like the one for the [Raspberry Pi](ht

[2016-09-08 23:00] ThomDietrich commented on #91
Hey @rkoshak, there is no same in that :) You can actually learn quite a lot going through the excellent GitHub Guides https://guides.github.com - have fun!

One pull request is always linked to one branch. A few minutes ago you [already learned](https://github.com/openhab/openhab-docs/pull/89/commits), that commits pushed to a branch will by that also be part of the pull request, which is great f

[2016-09-09 02:23] rkoshak commented on #90
I'm good with that. There are also some caveats with using Docker that people should be aware of. For instance, the Exec binding is executing within the context of the Docker container. So if you want to do something like your Speedtest-cli example, you either need to change the Exec command to ssh out of the container and into your main machine or install Python and everything else you need into

[2016-09-09 02:25] rkoshak commented on #91
Thanks! I'll give that a try tomorrow.

[2016-09-11 10:34] ThomDietrich opened #92 "Netatmo binding formatting error"
Firtst paragraph wrongly formatted: http://docs.openhab.org/addons/bindings/netatmo/readme.html

Yes, this needs to be fixed over at openhab-distro or smarthome.
Better fix while working on https://github.com/openhab/openhab-docs/issues/50
##

[2016-09-12 14:41] kirilAtan commented on #85
Could you create a sample branch "osgi-coding-tasks-samples" for me? Then I will submit my implementations as pull requests to it.

[2016-09-12 14:53] ThomDietrich commented on #85
Are you really talking about a git branch? Why not just create a subfolder at the appropriate place :question:

[2016-09-12 15:21] svilenvul opened #93 "Developer guide to logger configuration"
I would like to add a short page about how to configure the logger during development:

- a few words about the logger that is used - logback;
- required bundles;
- creating an individual logback config file (or modifying the existing one);
- some example patterns and link to the logback official site with more information.

I will appreciate any comments. Do you think this page will be helpful? W

[2016-09-13 08:03] kaikreuzer commented on #85
@ThomDietrich Everything that is in the (default) gh-pages branch ends up being processed by Jekyll for the docs.openhab.org website - that's why I would prefer a "code" branch for this. Ok for you?

[2016-09-13 08:05] kaikreuzer commented on #93
Yes, sounds helpful.
Not sure what is the best place - for now "Basics" sounds best. Once we get more topics, we will probably have to think about some improvements on the menu.

[2016-09-13 11:11] kaikreuzer commented on #86
No, you wouldn't! I personally prefer the "paperless" approach myself and will stick to using configuration files. This is also why I forced everybody to add a textual configuration example in the binding READMEs - to make sure that this is easily possible and also documented for the users.

My recommendation for "power users" would be to go this path (and definitely for 1.x users) - and thus I th

[2016-09-13 11:20] ThomDietrich commented on #85
I would rather stay with one branch.
If this is the solution you wanna go with, I will not steer against it.
My preferred solution would be a non-jekyll-folder exluded in the config file with `exclude: foldername`

[2016-09-13 11:28] kaikreuzer commented on #85
Ok for me, I don't really have a strong opinion about that.

So @kirilAtan No need for me to create a new branch then.

[2016-09-13 11:40] ThomDietrich commented on #86
That's very interesting to know. Now I'm burning to know your opinion on the last paragraph regarding the database. The discrepancy between config files and the database is one of my biggest concerns right now and a topic mentioned in the forum every other day :-/

[2016-09-13 11:45] #91 closed

[2016-09-13 12:14] kaikreuzer commented on #86
I'll try to answer it short:
The reason why the UIs do not edit the config files is that nobody implemented it.
You should note that the Paper UI + the database-driven providers were contributed to ESH by a company that uses ESH, but not openHAB - and where config files do not play any role and thus the whole Xtext stuff is not part of their stack. I made sure that the textual configuration as kno

[2016-09-13 14:09] rkoshak commented on #86
I will rework the tutorial on the forums to make PaperUI as the secondary approach and paperless as the primary approach. I'm hoping to get some more feedback on the tutorial, and I'm still working through some exercises to make sure I have all of the bases covered (e.g. I don't yet have manually creating Things documented, just auto discovered).

[2016-09-13 14:48] ThomDietrich commented on #86
@kaikreuzer thanks! Knowing the background behind a situation is worth a lot.
"new config files that are both human-readable as well as modifiable through UIs" - that is exactly what I would declare as the right approach. From what I can grasp from the PR, this is quite amazing! I'll have to create a comment over there soon :)
Regarding removing Xtext from openHAB... fun fact: I am still thinking

[2016-09-13 14:50] kaikreuzer commented on #86
Haha, not really! I guess we will be have Xtext config around for the next years to come, so I don't think such efforts would be in vain.

[2016-09-18 12:40] #85 closed

[2016-09-21 13:41] BClark09 opened #98 "nginx example is missing two configurations"
I believe that the documentation for the nginx reverse proxy is misconfigured: I believe that proxy_buffering by default should be disabled, since the server will try to wait for the full message recieved from event source objects such as //rest/events?topics=smarthome/items/*/state.
[code]

Secondly, the server at that configuration will not forward https links in REST unless the following is spe

[2016-09-21 14:36] ThomDietrich commented on #98
Thanks for your addition! I'm no expert in that field but it seems like you know what you are doing. Could you post one-two URLs regarding these topics?

"Tutorial" - absolutely! Are you talking about this page? http://docs.openhab.org/configuration/jetty.html
Please extend it as far as you like :wink: Especially interested in a writeup on authentication. Remember that there are already postings r

[2016-09-21 15:45] BClark09 commented on #98
Not a problem! I'm actually fairly new to nginx, but I was having a couple of issues with it to try and investigate the cause:

Firstly, when doing a simple benchmark on the Basic UI, I found that items were taking ages to update using the debugging tools you can see that one of the items gets stuck on pending:

![image](https://cloud.githubusercontent.com/assets/8983584/18717579/3f5878e2-8018-11e

[2016-09-21 15:52] ThomDietrich commented on #98
@kaikreuzer Is this in any way related to https://github.com/eclipse/smarthome/pull/2030 ?

[2016-09-21 17:49] MitchSUEW opened #101 "Broken link in http://docs.openhab.org/developers/development/ide.html"
The link "How to contribute" leads to a 404: http://docs.openhab.org/CONTRIBUTING.md

[2016-09-21 17:52] kaikreuzer commented on #101
There's already a PR for that: https://github.com/openhab/openhab-docs/pull/100

[2016-09-21 18:13] #101 closed

[2016-09-21 18:37] resetnow commented on #98
@BClark09 the one “stuck” request is a server-side event stream, it's supposed to be stuck and it never ends under normal circumstances.

[2016-09-21 18:54] BClark09 commented on #98
@resetnow This is still the case when proxy buffering is off, but the server at least sends an "OK" response for the item.

![image](https://cloud.githubusercontent.com/assets/8983584/18724602/eaa69e60-8034-11e6-8a73-a4e386285d25.png)

It might be coincidental, but I'm definitely getting performance issues with it left on.

[2016-09-22 14:29] ThomDietrich commented on #98
On a side note: It would be reasonable to rename the file `jetty.md` while you are in the process of rewriting it. Be it "nginx", "security" or whatever you think suits best ;)

[2016-09-22 14:52] BClark09 commented on #98
Currently I've kept jetty.md and added nginx.md as a separate page, whilst I don't know much about Jetty, I still think it'll be worth writing about the configuration of Jetty itself. I wouldn't elect myself to write this though, so would you rather me remove the page until someone else has some input to it, or should I keep the page with a "To Do:" label.

[2016-09-23 14:48] BClark09 commented on #98
@ThomDietrich I assumed the former, and have pushed the tutorial to the PR. I hope formatting/style/spelling is correct!

[2016-09-23 17:02] ThomDietrich opened #103 "Check for broken links regulary"
With the current need to rewrite and restructure docs articles, it could be handy to know which links need to be changed.

http://www.deadlinkchecker.com/website-dead-link-checker.asp?u0=http://docs.openhab.org
##

[2016-09-28 14:16] #98 closed

[2016-10-04 15:31] rkoshak opened #110 "Add warnings and/or deemphasize use of PaperUI"
For some context see:

https://community.openhab.org/t/problems-with-items-things-in-habmin-paperui/14777

There are many threads on the forum of users struggling with the use of PaperUI. The problems stem from the following:
- PaperUI saves the config in an opaque DB format rather than files
- PaperUI does not appear to work with or use Items in .items files or Things in .things files
- PaperUI p

[2016-10-04 15:34] rkoshak commented on #90
I've written the article here:

https://community.openhab.org/t/running-openhab-2-in-docker/14267

There have been no comments thus far. If everyone here is happy with the content I'll create the PR.

[2016-10-04 15:40] ThomDietrich commented on #110
As you are well aware we discussed this in many forms now. I already though of another/ an additional way to make things clearer in the docs. I was going to reorganize some articles under "Configuration", with an overview article explaining the options and what they offer (Items can be defined by PaperUI or file, rules can be build in file or visually in Habmin, etc.). I was thinking about somethi

[2016-10-04 15:41] rkoshak commented on #86
The article has been up on the forum here for awhile. It seems to be pretty complete, at last there are not many problems or questions being generated any longer. If there are no further comments from this group I'll submit the PR.

[2016-10-06 12:05] svilenvul commented on #93
I think this can be closed now.

[2016-10-06 12:05] #93 closed

[2016-10-06 13:31] tasosmich opened #112 "my.openhab on raspberry pi"
could you please provide an analytic step-by-step guide for installing and configuring my.opnehab addon on raspberry pi 3.

Thank you in advance,
Tasos
##

[2016-10-06 13:36] ThomDietrich commented on #112
We will look into that. Sounds like a docs-worthy topic.
@rkoshak would you be up to the task? I have honestly never touched that subject.

[2016-10-06 13:38] kaikreuzer commented on #112
Note that a lot of input can be taken from https://my.openhab.org/docs.

[2016-10-06 13:41] kaikreuzer commented on #112
Second note: my.openHAB from the openHAB UG will be terminated some time in the future and replaced by a version run by the openHAB Foundation. So you should not spend to much effort on such a tutorial for now; @digitaldan and @marziman might want to comment as well.

[2016-10-06 13:47] rkoshak commented on #112
Assuming there is nothing special about the Raspberry Pi 3 aspect, I think I already wrote it as part of the Migration Tutorial. I made sure to cover it because the uuid and secret files are in a different location in OH 2.it should be ready to grab that section and turn it into a separate doc. It there is something different about running on the Pi, I won't be much help. I run on an old laptop.

[2016-10-06 14:52] rkoshak commented on #112
Actually, shouldn't this be covered in the addon's readme instead of a separately maintained article? Or are we treating my.openhab separately?

[2016-10-06 19:49] marziman commented on #112
hi @kaikreuzer, @rkoshak,

the documentation of the my.openhab binding is not related to Rpi3 or any hardware. I think this needs to be handled in the new upcoming my.openhab docu. The my.openhab binding functionality is meant to make the communication between my.oh cloud and oh possible. This relationship should be explained at the correct docu space. We might mention it at addons, but I think it

[2016-10-06 20:04] rkoshak commented on #112
I think the big missing piece with the existing docs on my.openhab.org is they are tailored for OH 1.8 and not OH 2. Since the installation procedure is different for OH 2.0 and the uuid and secret files are in different locations it is causing confusion.

Also, when I come to my.openhab without knowing anything, it is not clear to me where the correct place to look for the correct way to install

[2016-10-11 15:41] BClark09 opened #115 "Stop suggesting proxy_buffering for openHAB-nginx settings"
The recent change in eclipse/smarthome#2300 means that we can keep to defaults with openHAB in regards to proxy_buffering (on). This is usually used to free up backend servers in case of slow client connections.

I think the defaults for buffer sizes should be fine for most openHAB users, so this should be a simple case of removing the proxy_buffering line. But I want to test some options before p

[2016-10-18 14:42] #30 closed

[2016-10-18 23:40] BClark09 opened #117 "404 Page Breaks after third 'depth'"
My latest change works up until the third sub-directory for example: http://docs.openhab.org/one/two/three

It looks like the header and footer isn't applying base.html as intended and I'm not entirely sure of the reasoning behind the process. Why is {{base}} used all over in the first place? Surely a working  `<script src="{{base}}/js/jquery.min.js"></script>` is the same as `<script src="/js/jqu

[2016-10-18 23:58] BClark09 commented on #117
Furthermore, to test I have removed all `{% include base.html %}` and replaced any reference of "{{base}}/*" with "/*" and the documentation works all the same, albeit slightly faster at loading.

[2016-10-19 00:02] ThomDietrich commented on #117
I can not shed any light on these files and am more than curious why there is a problem with it now...
Maybe @kaikreuzer does know more about the reasons behind this?

Can you please create a PR?

[2016-10-19 00:04] BClark09 commented on #117
It's most probably something that I've not understood, but will be sure to create the PR when I can!

[2016-10-19 08:27] kaikreuzer commented on #117
Note that parts of the files come from e.g. https://github.com/eclipse/smarthome/blob/master/docs/documentation/concepts/items.md and thus `{% include base.html %}` cannot be removed on them. I kept the same style in the openHAB doc files, so that it is in-line with the ESH files.

[2016-10-19 12:55] BClark09 commented on #117
Thanks @kaikreuzer, I read up on this [here](http://ricostacruz.com/til/relative-paths-in-jekyll) and understand now why it was done in ESH.

Since openHAB docs uses it's own domain (and redirects to docs.openhab.org from the github.io site). We should be able to replace the openHAB version of base.html to: `{% assign base = '' %}`. This will still keep the docs in-line with ESH files but ensures

[2016-10-19 13:02] ThomDietrich commented on #103
Additionally, transform absolute docs links to relative

[2016-10-19 13:03] ThomDietrich commented on #117
Regarding the second part: I do totally agree. The article is by me and this probably happened when I simply copied the working link from my browser. It's not doing any harm currently but I can [look into that](https://github.com/openhab/openhab-docs/issues/103#issuecomment-254805795) after my paper deadline in two weeks...

[2016-10-20 16:50] BClark09 commented on #103
You can also use [linkchecker](https://wummel.github.io/linkchecker/)

e.g:
[code]

Another (but much less forgiving) alternative is using [html-proofer](https://github.com/gjtorikian/html-proofer#using-with-jekyll) you could even run this with a travis build!

[2016-10-29 00:12] ThomDietrich opened #122 "[Linux] Add openhab to dialout"
Adding openhab to dialout is quite important to many bindings and should thereby be mentioned in the installation article

[2016-11-02 15:48] #115 closed

[2016-11-04 13:38] BClark09 commented on #59
Does a pull request have to be sent to highlight.js and wait for it to be included or can there be internal definitions? If the former, sending an xtend pull request may be a good thing but won't it need approval from Eclipse?

Ideally we'd need to separate sitemap, items and rules?

[2016-11-06 20:02] kaikreuzer commented on #86
One month has passed, I would assume it might make sense to move the content over to here now!

[2016-11-06 22:36] ThomDietrich commented on #86
Agreed!

[2016-11-07 15:11] BClark09 commented on #53
I just read through these sections, and it seems well written to me! Hope you don't mind but I had some minor comments:

### Slider

Consider:
This type presents a value as a user-adjustable control which slides from left (0) to right (100).

Consider:
`switchSupport` is a parameter without an assignment. If specified, a short press on the "up" or "down" button switches the item "on" or "off" comp

[2016-11-07 21:04] cniweb opened #129 "Updating paths for new OH2 folder layout"
See: openhab/openhab-distro#318

TODO:
- Modify administration/console.md documentation
- Modify administration/logging.md documentation
- Modify installation/index.md documentation
- Modify installation/docker.md documentation

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39045235-updating-paths-for-new-oh2-folder-layout?utm_campa

[2016-11-08 17:15] ThomDietrich commented on #59
Hey, I still believe that extending highlight.js would be a nice solution.
Implementation is probably not as complicated...
I see a bigger problem in the acceptance of the pull request and the integration (in jekyll and) in discourse. You can check the project github page to see PRs lurking around for a few months now (there are merged ones as well) and who knows how often discourse updates their

[2016-11-08 22:22] cniweb commented on #90
Hi @rkoshak,

LGTM!
But consider this: openhab/openhab-distro#318

Thanks,
Chris

[2016-11-13 16:45] #129 closed

[2016-11-14 07:48] #72 closed

[2016-11-14 11:43] #122 closed

[2016-11-20 07:19] #86 closed

[2016-11-27 05:24] rkoshak opened #144 "Migration Tutorial: Item's Transformed Label State Used to Pick Icons"
See https://community.openhab.org/t/custom-dynamic-icons-for-number-items-when-mapped/16894/10

Unlike OH 1, OH 2 uses the label's transformed state when picking the icons, not the Item's original state.

[2016-11-28 23:16] rkoshak opened #145 "Some Add-on's Categories Missing from Add-Ons Menu"
There should be a page for each of the Add-Ons types under Add-Ons. Missing types are

- Persistence
- Actions
- Transformations
- Misc

As a user I would expect to see a one-to-one mapping between that section and the tabs listed in PaperUI. As it is right now I have no idea where I would look to find the README contents for the XPATH transform or the InfluxDB Persistence.

[2016-11-29 09:28] kaikreuzer commented on #145
We will have to check how we can deal with the differences between ESH and OH1 add-ons. We currently have http://docs.openhab.org/addons/1xaddons.html.
ALL current actions and persistence add-ons are there as well, since we do not have any "native" ESH ones. Especially the actions will rather be replaced by rule modules in future.

Regarding Transformations: Yes, all of them are from ESH already a

[2016-11-29 09:30] ThomDietrich commented on #145
Thanks @rkoshak, I'll try to include these concerns in the upcoming new menu structure.
I'll have a go on this very soon now. Sorry for sounding like a broken record :-/

[2016-11-29 14:58] rkoshak commented on #145
@kaikreuzer Actually there are several actions that are missing. For example, none of the "core" Actions as listed on the wiki page are listed.

Which raises a concern. At least in the case of Actions there are core Actions and add-on actions. I think we have a handle on how to document the add-ons through the readmes, even if the current documentation isn't quite where I and I think new users als

[2016-11-30 13:37] kaikreuzer commented on #145
Well, probably somewhere in the "features" section, we should explain the actions and list them - ideally, we could add on this page a dynamically generated link list to all "action add-ons".

We already have some and we would need a way to document them. The first step probably needs to be done on the ESH side, where the current modules live. Their bundles probably should get a README.md as well

[2016-11-30 13:49] ThomDietrich commented on #145
I was already talking about this with chris at some point: https://community.openhab.org/t/consistency-needed-for-widespread-adoption-of-openhab-2-0/13300/15
documentationUrl would be just as useful as a version number, a differentiation between native ESH, native OH2 or legacy 1.x addons, ...
This information can then also be used in other views like the PaperUI bindings listing to link the READM

[2016-11-30 13:51] kaikreuzer commented on #145
Not that easy, because you do not have a link from the binding back to the extension again...

[2016-11-30 13:52] kaikreuzer commented on #145
There should be no difference from a user perspective. Why show them differently?

[2016-11-30 13:55] ThomDietrich commented on #145
Okay I do not want to argue about these details. I think we can agree that Legacy 1.x bindings are special and should be marked as such. Linking the documentation would be (in regards to Usability) the important detail.

[2016-11-30 15:40] rkoshak commented on #145
I love this idea! I thought it was already in the works, but maybe I'm misremembering that thread @ThomDietrich linked to. I don't want to lose making them findable in the current docs though so this wouldn't, in my opinion, be a replacement for making sure they are all in the docs as well.

I agree that Legacy 1.x bindings are different and there should be some obvious indication of that differen

[2016-11-30 17:23] rkoshak opened #146 "Migration Tutorial Use of _default.sitemap"
In a recent build something changed and the "hack" to set one of your sitemaps as the default that comes up by naming it _default.sitemap no longer works. The Migration Tutorial needs to be updated to remove that suggestion.

This should be replaced with instructions for how to set the default sitemap using runtime.cfg.

[2016-11-30 22:26] kaikreuzer commented on #146
Note: This should not go into runtime.cfg, but basicui.cfg and/or classicui.cfg.

[2016-11-30 23:34] rkoshak commented on #146
Good to know. Not having any examples to go by I wasn't sure and since the config parameter is `org.eclipse.smarthome.basicui:defaultSitemap` it looked like something that went in runtime.cfg

If I put it into basicui.cfg does that mean I can drop the `org.eclipse.smarthome.basicui:` and just use `defaultSitemap`?

I've been struggling with keeping up with what parameters go where. This may be a s

[2016-12-01 08:03] ThomDietrich commented on #146
Just seeing this now. The option in basicui.cfg is there for a long time, I think it's safe to add the information to docs.
https://github.com/openhab/openhab-distro/tree/master/features/openhab-demo-resources/src/main/resources/services

[2016-12-01 08:22] kaikreuzer commented on #146
These .cfg files are indeed only installed, if people choose the demo setup - in a standard setup, they are not created in conf/services, but they are directly set as a [configuration through the Karaf feature](https://github.com/openhab/openhab-core/blob/master/features/openhab-core/src/main/feature/feature.xml#L140), which means that an according file is created in userdata/etc. It might make se

[2016-12-01 09:10] ThomDietrich commented on #146
I did not know that. I had these files in my configs from day one and never started out with a fresh set.

These files/options should be available and documented. Doesn't matter where as long as it's consistent. Thereby I would agree userdata for manual AND PaperUI edits is the better place.
However, for apt based installations this (and a few other cases) creates an awkward new problem: What is s

[2016-12-01 13:24] ThomDietrich commented on #117
@BClark09 As you recently worked on this topic, could you please evaluate the these news:

https://github.com/blog/2277-what-s-new-in-github-pages-with-jekyll-3-3

[2016-12-01 13:50] BClark09 commented on #117
The choice of "{{Base}}" is due to how it's done in Eclipse/Smarthome pages, this update to jekyll 3.3 looks great but it would have to change on the Smarthome side first before we made the appropriate changes here, otherwise we'll have a mis-match of link types on each page. Some pages also use "{{base}} as a way of extending a {{docu}} macro, we'd have to change these too.

From the looks of thi

[2016-12-01 15:01] rkoshak commented on #146
So should the new instructions have them edit userdata/etc/org.eclipse.smarthome.basicui.cfg or services/basicui.cfg?

And this raises another question I had that I never managed to get an answer to which is what takes precedence? If I edit a parameter in  services and also edit it in PaperUI (or apparently in userdata/etc), which takes precedence? Does one take precedence when you edit it but the

[2016-12-01 15:01] kaikreuzer commented on #146
Not more than conf/services and userdata/etc on a normal install, right?

[2016-12-01 15:08] kaikreuzer commented on #146
Just as I said above: "entry in conf/services will overrule any other setting after a system restart"
So the conf folder can be regarded as a static configuration which is ALWAYS taken into account (at system startup). It is useful, if you want to have a reproducible setup. If you do not care about the runtime messing around in your configuration files, you can go for userdata/etc.

I am also not

[2016-12-01 15:32] ThomDietrich commented on #146
With the said above I think we should give users both possibilities.
The configuration in userdata is modified by PaperUI but still accessible by the user for manual edits. Everything under `/etc` is what I always would consider the static overruling configuration solely influenced by the end user. For this purpose I personally love the ``services`` folder. One clear place for absolute settings.
T

[2016-12-01 16:07] rkoshak commented on #146
From a user's perspective, what Thom describes is closer to the way I at least would expect it to work. We set the precedent that add-ons are configured in services and most other Debian installed software puts all their settings in /etc, or at least that is how it seems.

To have a split between some things get configured in /etc/openhab2 while others get configured in /var/lib/openhab2/userdata

[2016-12-04 10:41] ThomDietrich commented on #112
@marziman I am in the process of revising the docs menu. Which page do you want me to link for my.openhab? I wanted to go with https://github.com/openhab/openhab2-addons/tree/master/addons/io/org.openhab.io.myopenhab/README.md just as with all other addons ... but it diesn't exist. I guess it should? Even if it just introduces my.openHAB and then links to https://my.openhab.org/docs
Would you be u

[2016-12-04 11:03] kaikreuzer commented on #112
@ThomDietrich We are currently preparing the launch of a successor, which will be launched on Dec 15. It will come with a new bundle, the "openHAB Cloud Connector", see https://github.com/openhab/openhab2-addons/pull/1522. This PR contains a [README.md](https://github.com/kaikreuzer/openhab2-addons/blob/66d366e75ff948823eb8a085686cffa45f55e767/addons/io/org.openhab.io.openhabcloud/README.md), so t

[2016-12-04 11:19] ThomDietrich commented on #112
Yes, everything's clear now. I'll track the PR and update later. For now I decided to add it here: https://github.com/openhab/openhab-docs/pull/148/commits/00188c96a840fdd5b644832a7acd1389c21ed4a4

Looks amazing by the way ;)

[2016-12-04 20:13] cniweb commented on #112
Yes, looks amazing!

[2016-12-04 22:01] marziman commented on #112
@ThomDietrich as kai mentioned we are just in preparation to launch the opensource version. You should grab the docu of the openhabcloud binding (in review) + openhab-cloud docu (https://github.com/openhab/openhab-cloud/blob/master/README.md).
Lets keep in touch to sync the docu parts!

[2016-12-05 19:56] rkoshak commented on #145
Commenting from #148:

OK, then this is another case where the version numbering is a bit confusing. Using the "idiot in a hurry test" when I look at the transformations page in PaperUI I see a bunch of "9"s. If I look closer I see they are version "0.9.0 SNAPSHOT" as opposed to "1.9.0 SNAPSHOT". I saw the "9"s, assumed "1.9" and came to the wrong conclusion. While I'll admit I can be an idiot som

[2016-12-05 21:52] kaikreuzer commented on #145
Right, that's why I also would not show them in any way different. The version numbers should not be relevant to the user at all, I see that this has led you to some confusion. From a functional perspective, they are fully the same.

Right, and if you do NOT find your technology on the 2.x-binding list, you know that there is no discovery support for it, nor the possibility to use it through the U

[2016-12-06 20:03] ThomDietrich opened #150 "Add Search function"
https://github.com/openhab/openhab-docs/pull/148#issuecomment-264916793

Plugins can not be used on GitHub Pages.
One option: http://digitaldrummerj.me/blogging-on-github-part-7-adding-a-custom-google-search/

[2016-12-06 21:58] jsieberg opened #151 "unable to start Designer on MAC"
I decided to continue with openHAB for my automation plans, but I struggle with the basic installations.
I develop JSF applications with Eclipse but the Designer ( on Eclipse ) will not work.
I downloaded multiple versions 0.7 and 0.8
I have another Eclipse Installation on my Mac for JSF development. May be this is the problem.
I was able to install the Smarthome Eclipse Development, but even this

[2016-12-07 07:56] kaikreuzer commented on #151
I guess the problem is
[code]
Try to launch it from a place where your user has write permissions.
For further support, please rather use our forum at https://community.openhab.org/ instead of the issue trackers - thanks!

[2016-12-07 07:57] #151 closed

[2016-12-08 09:53] jsieberg commented on #151
Hallo Herr Kreuzer,

Danke für die Hilfe.
Ja die Fehlermeldung hatte ich auch gelesen. Die Designer.app liegt aber in
einem Verzeichnis mit Schreibrechten.
Ich konnte mir behelfen indem ich die Designer.app entpackt und in einzelne
Verzeichnisse geladen hatte.
Nun konnte ich die Designer application starten.

Danke und Gruß
Jürgen Sieberg ( OpenHAB Beginner ! )

Kai Kreuzer <notifications@github.c

[2016-12-09 13:17] ThomDietrich opened #152 "Items/Icons Better description of dynamic icons"
https://github.com/openhab/openhab-distro/issues/343

It seems, that the details and functionality of dynamic icons is still pretty unclear. Should receive it's own article, possibly next to the iconsets article.

[2016-12-12 15:30] ThomDietrich opened #153 "openHAB pronunciation"
There should be a pronunciation information on the starting page of docs.

* https://en.wikipedia.org/wiki/International_Phonetic_Alphabet
* http://www.i2speak.com
* http://www.ipachart.com

Maybe an easier solution would be nice ;)

[2016-12-12 16:16] BClark09 commented on #153
We're supposed to spell H.A.B?! [I would have gone with](https://www.youtube.com/watch?v=5l2ND1kiBn0):

"ˈəʊpən ˈhæb "
or
"oh pen hab (as in **hab**it)"

[2016-12-12 17:42] ThomDietrich commented on #153
Exactly ;) The example was wrong. I've removed it to avoid confusing :sweat_smile:

[2016-12-15 20:39] cniweb commented on #112
I think, we must integrate the openHAB Cloud documentation in this openhab-doc (docs.openhab.org), or not?

[2016-12-15 20:59] cniweb commented on #150
I think a search function is useful. But we must have a google account for use the google search engine. Have we one?

[2016-12-15 21:19] ThomDietrich commented on #112
Hey @cniweb if I got you right, you want to extend the document accessible [here](http://docs.openhab.org/addons/io/openhabcloud/readme.html)? That would be great, remember, that it is a copy of [this file](https://github.com/openhab/openhab2-addons/blob/master/addons/io/org.openhab.io.openhabcloud/README.md).

@kaikreuzer there is also the [file you mentioned earlier](https://github.com/openhab/o

[2016-12-15 22:20] marziman commented on #112
From my point of view, we need a place at docs.openhab.org which should have a name like "Cloud/Backends" and not under Addons which brings together:
- openHAB Cloud
- openHAB Cloud Connector

There could be all Cloud based integrations documented. Those requiring a backend to backend integration.
The openHAB Cloud Connector docu is at the right place from my view. I miss a little the docu from th

[2016-12-15 22:45] marziman commented on #112
@ThomDietrich, @cniweb, @kaikreuzer:

Do you agree that we need to bring this smoothly together? (my.openhab.org/docs should be removed)

OH1:
https://github.com/openhab/openhab/wiki/openHAB-Cloud-Connector

OH2:
https://github.com/openhab/openhab2-addons/blob/master/addons/io/org.openhab.io.openhabcloud/README.md

openHAB Cloud:
https://github.com/openhab/openhab-cloud/blob/master/README.dm

[2016-12-15 22:49] ThomDietrich commented on #112
Check out the menu entry "Installation -> myopenHAB", that's were I see the "openHAB Cloud Connector" article.
I would suggest to extend this article with everything you got. The possibility to host your own instance of openHAB Cloud is (great of course but) only interesting to a few. There should be a headline in this article, informing users that self-hosting is possible, with a link to the [ope

[2016-12-16 07:53] kubawolanin commented on #69
I suggest a Jekyll plugin that would allow to store and edit the graphics in plain text.
[jekyll-graphs](https://github.com/tmthrgd/jekyll-graphs) looks like a good candidate.

[2016-12-16 08:04] kaikreuzer commented on #69
Draw.io is the agreed tool for ESH documentation and it is e.g. used in https://github.com/eclipse/smarthome/blob/master/docs/documentation/concepts/diagrams/event_interfaces_source.xml.

As this issue is about the explanation of core concepts, I would actually encourage you to think about contributing it to https://github.com/eclipse/smarthome/tree/master/docs/documentation/concepts, which is pic

[2016-12-16 08:16] kaikreuzer commented on #112
No, not at all. This split has been done deliberately as it is.
- docs.openhab.org contains the OH2 documentation of the connector (under add-ons) as well as the general installation/configuration of myopenHAB (under Installation).
- openhab/wiki contains the OH1 documentation of the connector
- openhab-cloud contains the documentation how to set up your own instance

What would that be? What do y

[2016-12-16 09:04] marziman commented on #112
@ThomDietrich @kaikreuzer ,

the idea to bring it to docs.openhab.org was not so bad from point of view.
But in fact it is myopenhab which needs guidance in the docs.openhab.org. For the openHAB Cloud I will extend the docu to have a full circle docu with "how to connect your device to the cloud".

I know @kaikreuzer that the spilt is on purpose, but that doesnt mean that we wont confuse people wi

[2016-12-16 09:25] ThomDietrich commented on #112
@kaikreuzer I agree with the first few answers. I am still voting for this:

Also:

Well I didn't look into it yet but at first sight I would like a diagram like [this](https://www.softether.org/@api/deki/files/664/=5_remote.jpg) describing the functionality. Another thing that jumps out is the headline "UUID and Secret". What is that? Is that important to me? As an end user this headline doesn't

[2016-12-16 10:38] marziman commented on #112
@ThomDietrich @kaikreuzer ,

what you wrote is what I ve proposed before (just in other words).
You cant just add docu to their certain places without having one place (I thought docs.openhab.org) where it comes together. Since it is a complex setup.
If I go and add it to openHAB Cloud, people comming from that view might have the info, but the others comming from the OH Cloud connector docu dont

[2016-12-16 11:02] ThomDietrich commented on #112
Could you elaborate? After spending hours to optimize the menu and actually showing it to friends to get their "user perspective" I'm a bit rattled by that statement...

[2016-12-16 11:07] kaikreuzer commented on #112
It is information that <1% of users will be interested in and it might rather confuse 99% of users. That's why I like the current setup, which has the information people need to have about myopenhab at just the right places.

I am not against adding the README.md of openhab-cloud somewhere to the docs as well. But I think we do not have any category for such things yet. It is NOT about openHAB run

[2016-12-16 11:08] ThomDietrich opened #156 "Add-ons vs. Extensions"
Somewhere below Add-ons I've mentioned Extensions. After https://github.com/openhab/openhab-distro/issues/352 that should be corrected/updated. This would also be a good time to update screenshots.

[2016-12-16 11:20] ThomDietrich commented on #112
@kaikreuzer sorry to ask again. Can I go forward with this? *"Installation -> myopenHAB", that's were I see the "openHAB Cloud Connector" article.* For me this seems like the correct position.

Regarding openHAB Cloud: I would second your suggestion to leave the document on github. Especially with the "Host your own Instance" section in place.

Regarding Alexa: In my opinion this is a "3rd Party I

[2016-12-16 12:11] ThomDietrich opened #157 "Possibility: add asciinema demos to articles like Linux.md"
https://asciinema.org

Example: https://asciinema.org/a/96303

[2016-12-16 12:37] kaikreuzer commented on #112
Hm, no, I don't agree. It currently points to www.myopenhab.org, which explains what you need to do for myopenHAB installation/setup/configuration: use connector bundle, configure your mobile apps, add notification actions to your rules, link IFTTT to it and use the Alexa skill. This is all relevant for users wanting to "install" and thus use myopenHAB.

The "openHAB Cloud Connector" article is av

[2016-12-16 12:43] ThomDietrich commented on #112
myopenHAB: I would argue differently as I don't like random menu entries throwing me onto other domains. There should be an article in between as a buffer. Be it the mentioned README or another one. :-1:

Alexa: I didn't know that openhab-alexa is about self-hosting. Then I'm of course on the same side as you. :+1:

[2016-12-16 12:43] marziman commented on #112
@ThomDietrich: I meant the OH connectors and myopenhab.org, openHAB Cloud.
It was not meant to say that the docu isnt good or you did a bad job. Sorry if it sounded like that.
But still there is always room for improvements.

With user perspective I meant that at the moment, there a lot of docu sources regarding myopenhab. That is difficult to understand if you look what the people ask in the foru

[2016-12-16 12:46] ThomDietrich commented on #112
@marziman I was not insulted or defensive, don't worry. Please share your thoughts, hopefully we can find a solution for everyone.

[2016-12-16 13:01] kaikreuzer commented on #112
Ok to copy the content of www.myopenhab.org to an intermediate page on docs.openhab.org as well. But it should not be the README.md of openhab-cloud, because this is some very different content and it should not be the documentation of the cloud connector bundle, because this is different content as well.

[2016-12-16 13:13] BClark09 commented on #157
This is fantastic! Copy and paste on-top is a brilliant feature.

[2016-12-16 13:14] BClark09 commented on #117
I think this issue be closed. In my opinion, it looks better as "{{base}}" as it does expanded out, and we won't have to worry about the different {{docu}} implementations.

[2016-12-16 13:18] ThomDietrich commented on #117
Agreed.

[2016-12-16 13:18] #117 closed

[2016-12-16 13:37] ThomDietrich commented on #157
Indeed :) I think it will be pretty nice to have a hands on demo of what's described in the following text, just as in the saying: "A picture is worth a thousand words"

[2016-12-16 17:16] BClark09 commented on #157
https://asciinema.org/a/96340 :)

[2016-12-17 21:35] grubstake opened #160 "Tutorial (beginner) feedback"
Since you [asked](http://docs.openhab.org/tutorials/beginner/index.html)...

I realize the tutorial is a work in progress and the vast amount of work required, kudos to everyone on OpenHAB. These comments are non-critical feedback in response to your feedback request.

I'm a pretty solid target audience for this tutorial and the suggested System Info binding looks like a great starting place...I s

[2016-12-19 19:28] ThomDietrich opened #161 "Linux: Extend file locations"
https://community.openhab.org/t/apt-get-folders/18436/4

[2016-12-20 11:02] cniweb commented on #112
@kaikreuzer Where is the content of the site http://www.myopenhab.org/index.html
@marziman and @ThomDietrich I also think that there must be two different documentations. Once for the connectors, as mentioned on the page already briefly, for OH1 and for OH2. Second, for the cloud itself, if you want to install it. In this case the installation on various platforms, such as Linux, Raspi, Docker, Wi

[2016-12-20 11:12] kaikreuzer commented on #112
Right here: https://github.com/openhabfoundation/myopenhab.github.io

[2016-12-21 16:23] ThomDietrich opened #163 "Remove CalDAV from incompatibility list"
With one exception, documented in wiki:
https://github.com/openhab/openhab/issues/4917
https://github.com/openhab/openhab/wiki/CalDAV#note-for-openhab-2

[2016-12-24 15:15] ThomDietrich commented on #163
Same goes for insteonplm
https://github.com/openhab/openhab/issues/3922#ref-pullrequest-197174009

[2016-12-26 05:00] metbril opened #164 "Certificate for docs website not trusted by browser"
When accessing the docs website through https://docs.openhab.org instead of http://docs.openhab.org, the browser (Safari for iOS, Firefox for Mac) shows a message that the website cannot be trusted. This is due to the fact that the site is using the Github certificate instead of one from openHAB.org.

[2016-12-26 10:34] kaikreuzer commented on #164
This is due to https://github.com/isaacs/github/issues/156.
We might consider using cloudflare to resolve this, but I didn't yet find the time to look into this in more detail.

[2016-12-26 14:38] ThomDietrich commented on #164
If an installation on a dedicated instance is planned, we should talk about thereby possible plugins. e.g. https://github.com/openhab/openhab-docs/issues/150 (Search function).

[2016-12-26 17:59] ThomDietrich opened #165 "[Admin/Bundles] naming convention of an addon"
Add the following description to "Advanced Functionality", wherever fitting.
https://community.openhab.org/t/addons-cfg-proper-way-to-discover-the-name-of-an-addon/17107/3

[2016-12-26 18:10] ThomDietrich opened #166 "[Concepts/ESH] Introduce "Trigger Channels""
What/Why/When/How?
https://community.openhab.org/t/astro-binding-issue/2011/43

[2016-12-26 19:22] kaikreuzer commented on #164
Not really planned atm. Already having too many servers that we need to monitor and regularly reboot - happy for everything that is hosted on Github instead...

[2016-12-26 23:57] ThomDietrich commented on #164
Fine by me, I'd just like to know what to plan for ;)

[2016-12-27 12:54] robnielsen opened #167 "Netatmo 1.x binding is missing from the list of compatible 1.x bindings"
The OH1 netatmo binding works with OH2, but is missing from the list of compatible 1.x bindings. One thing to note is that it requires enabling legacy 1.x bindings to see it in the paper ui.

[2016-12-28 20:07] ShaunCurrier opened #168 "Emphasize that karaf is only reachable from the local host by default"
The documentation [here](http://docs.openhab.org/administration/console.html) does not really emphasize that the karaf ssh interface is only accessible internally on localhost by default.  One would have to either have this be obvious to them (it wasn't to me) or to have some non-beginner knowledge and pay special attention to the code example (which shows `ssh openhab@localhost -p 8101`) to reali

[2016-12-28 20:31] MHerbst opened #169 "Allow readme.md in addition to README.md?"
I was missing the documentation for the Yamaha Receiver binding on docs.openhab.org After checking the maven pom file that is used to generate the documentation the reason is clear: the readme file of the Yamaha Receiver binding is written in lower-case. Github accepts it, but not the pom file.

We can either modify the pom file and allow readme.md or change readme.md to README.md.

[2016-12-28 21:08] jsieberg opened #170 "Devolo MT 2650 does not receive setpoint"
I'm using Raspi with openhab2 and ZME-UZB1.
Cyrus Sensor and Green switch are working fine.
I selected the Devolo heating control because it delivers the current temperature.
I get the temperature but the set point is never set.  I read this already in chats of 2015 and hope that this is solved.
The z-wave device list lists the MT 2650! So it should work.
What is wrong? is there a wrong setup?
I s

[2016-12-28 22:18] ThomDietrich commented on #169
Thanks @MHerbst. I'll look at this and all the other tickets opened the last couple of days shortly.

[2016-12-28 22:19] ThomDietrich commented on #168
Thanks @scurrier03. Looking at the article I can totally agree. Will look into this in the next couple of days.

[2016-12-29 00:36] konklone commented on #164
You could also pay $13/month and put it onto a service like [surge.sh](https://surge.sh). It'd be better than CloudFlare, as with CloudFlare the connection would still be unencrypted between CloudFlare's CDN and GitHub's CDN.

[2016-12-29 14:50] kaikreuzer commented on #164
That does not really matter as we are anyhow only talking about publicly available content.

[2016-12-29 15:06] konklone commented on #164
It's about more than privacy - it's also about preventing [malicious code from being injected into unprotected traffic](https://arxiv.org/abs/1602.07128). The link between GitHub and Cloudflare would make an attractive central point for a [coordinated attack](https://medium.com/@karthikb351/airtel-is-sniffing-and-censoring-cloudflares-traffic-in-india-and-they-don-t-even-know-it-90935f7f6d98#.s65t

[2016-12-29 17:46] kaikreuzer commented on #169
I'd actually vote for this, because README.md is what is usually used on Github.

[2016-12-30 21:38] buzink opened #172 "Add"
Please add thetext below to the bottom of the page http://docs.openhab.org/installation/openhabian.html as this is the only step of the linux manual (http://docs.openhab.org/installation/linux.html) that is not preconfigured in openhabian.

"Java Network Permissions

The Java Virtual Machine hosting openHAB is restricted in it’s permissions to interact on network level for security reasons. Some o

[2017-01-02 08:40] kaikreuzer opened #174 "Make "advanced" tutorial a "Z-Wave + HABmin" tutorial?"
Looking at http://docs.openhab.org/tutorials/advanced/installing.html, this is not really for "advanced" users (e.g. people that want to use all features of openHAB, i.e. similar to openHAB 1 expert users), but it mainly speaks about HABmin, which is not necessarily the tool that all advanced users want or should use (while of course being a valid option).

As I doubt that we will be able to updat

[2017-01-02 08:41] kaikreuzer opened #175 "Describe changing the HTTP(S) port"
This is a very regular question, and I didn't see this covered yet in the documentation (while it was afair there in the initial version of docs.openhab.org). Should probably go somewhere under "Configuration" (where?).

[2017-01-03 10:49] metbril opened #176 "Improve Linux config backup script"
The backup script suggested at the [linux installation](http://docs.openhab.org/installation/linux.html#package-repository-installation) page suggests copying the entire `/var/lib/openhab2` folder. I don't think this is necessary (and taking too much space of and writes to my RPi SD Card). The folders `tmp` and `cache` can be excluded. And at restoring them, these folders could first be simply rem

[2017-01-03 10:50] rtvb commented on #176
Repo file:
https://github.com/openhab/openhab-docs/blob/gh-pages/installation/linux.md

[2017-01-03 10:52] rtvb commented on #176
Suggestions welcome, @ThomDietrich.

[2017-01-06 07:52] rtvb commented on #176
I was thinking of a backup script something like this:

[code]

This is almost working.
Unfortunately, the `find` command does not produce the expected results.
Some of the files are put in the root of the `userdata` folder instead of the required subdirectory.
I need some help with this.

[2017-01-08 13:06] bodiroga commented on #174
Hi Kai!

I don't think that I'm the right person to talk about the openHAB documentation, but reading that link I realized that that tutorial is old and outdated. HABmin can be installed through the Paper UI without any hassle (you don't need to download any .jar file from the github repository) and it doesn't need the ZWave binding to be installed, so, I'm pretty sure that you can delete (or at l

[2017-01-08 19:22] ThomDietrich opened #179 "Define open tasks for openHAB 2.0.0 GA release"
I hope to find the time in the next couple of days to define what, in my opinion, are the crucial parts of docs that need contributions till the release of openHAB 2.0 at the end of January.

Everyone who's reading this and willing to help: That's amazing, Thank you! Please let me know in which area and how much you think you will be able to help out. Of course you can also point out things that n

[2017-01-09 16:22] FrederikNT opened #180 "Windows: Update the whole article"
Missing description how to update to a new nightly build on a windows based system.

At a minimum a list of folders,files which needs to get replaced or which one don't would be really helpfull. In a future state a update scipt would be great :)

NoTechi

[2017-01-09 17:45] ThomDietrich commented on #180
Hey @FrederikNT thanks for your input.

If you feel able to, help by you would be great. You could simply post paragraphs of text here in the comments.

[2017-01-10 16:58] rkoshak opened #183 "Migration Tutorial: Clarify the Necessary Changes"
See the discussion [here](https://community.openhab.org/t/rules-problem-read-by-the-system-at-all/19759/12).

Bullet points instead of paragraphs and eliminate unnecessary information. For example, it doesn't matter that the org.openhab classes have moved to org.eclipse.smarthome because you don't have to import those classes at all any longer.

[2017-01-10 17:14] watou commented on #183
Thanks very much, Rich, for considering my comments.

[2017-01-10 17:32] ThomDietrich opened #184 "Rules: more references for Xtend"
Example: http://jnario.org/org/jnario/jnario/documentation/20FactsAboutXtendSpec.html

[2017-01-11 16:47] rkoshak opened #185 "Rules: sendCommand/postUpdate actions warning"
Add section to Rules to document warnings about using primitives with sendCommand/postUpdate actions

See https://community.openhab.org/t/sendcommand-documentation/9534/9

Question, that posting has a lot of background and generalizations to explain why using primitives with the command/update Actions is a problem. Should they be kept or should the docs update only include a succinct warning to wa

[2017-01-12 00:12] ThomDietrich commented on #160
Hey @grubstake,
I'm sorry you didn't receive an answer till now. I was going to answer you as soon as I was certain what the next step regarding the tutorial should be. I was also seeing that problem and planned to write a completely new tutorial over the holidays. That did of course not play out. 🙃
The last few weeks didn't bless me with much spare time, leaving us with way too many tickets and w

[2017-01-13 00:26] grubstake commented on #160
Thanks for the reply.

I still can’t figure out if OpenHAB is intended to be a tool for developers or a user-friendly application for hobbyists & IOT enthusiasts that are NOT software developers.  (If it’s intended only for developers, consider the following to be simply comments on what confused this particular hobbyist.)

I hope I'm not being overly critical, I am simply hoping this might help y

[2017-01-13 01:03] grubstake commented on #160
I had not seen much of the work I just noticed in docs.openhab.org.  Those pages are not easily found when starting from openhab.org homepage.

Home page large 'button' for "Getting Started" and tab for "Downloads" appear to go to outdated information.

Suggest reviewing starting with Homepage and all directly linked pages.  In particular,

Consider changing "Getting Started" button link to http:/

[2017-01-13 06:48] kaikreuzer commented on #160
They go to openHAB 1, which is currently still the official release.
The links (and other parts of www.openhab.org) will be updated once openHAB 2 is officially released (due this month).

[2017-01-13 12:03] fringefilmsoz opened #188 "Add Section Heading: Add-ons - Bindings - Non-Native 2.0 Bindings"
Add section for 2.0 Bindings not included in the Paper UI installation configuration. Suggest below the Native Bindings section.

Only entry I'm aware of is:

[MySensors](https://github.com/tobof/openhab2-addons/wiki/Installation)  This Binding integrates with the DIY Arduino based [MySensors](http://www.mysensors.org) repository.

[2017-01-13 12:30] ThomDietrich commented on #188
Please enlighten me why this binding is not included.

[2017-01-13 12:53] fringefilmsoz commented on #188
Sorry @ThomDietrich I'm really not sure. MySensors is a major DIY sensors platform.

@tobof the author of the binding would be the person to answer. I'll hit up the MySensors forum and ask Tim to reply.

[2017-01-13 13:01] kaikreuzer commented on #188
A very simple reason: It is not yet part of openHAB, the PR is still in the review queue: https://github.com/openhab/openhab2-addons/pull/1243

Once merged it will be listed.

[2017-01-13 13:01] #188 closed

[2017-01-13 18:44] ThomDietrich opened #189 "Establish fixed term placeholders for the openHAB folders"
Quoting https://community.openhab.org/t/help-im-ready-to-give-up/20006/39

Having one OS specific doc page that defines variables that are then used in the doc is another way:
For example:
debian/apt: `$CONFIG = /etc/openhab2/`
RH: `$CONFIG = /etc/somewhere/openhab2/` (example only)
non-pkg install: `$CONFIG = /opt/openhab2/conf/` (replace /opt/openhab2 with you install folder)
windows `$CONFIG =

[2017-01-15 01:43] ThomDietrich opened #190 "1.x Bindings note"
1.x Bindings are differently used than ESH/OH2 bindings. The main differences are
1. they do not know the concept of things and channels
2. items using them need to be set up in configuration files
3. binding configuration https://community.openhab.org/t/mqtt-openhab2-configuration/20283/2

These three rules plus whatever else is needed should be mentioned here: http://docs.openhab.org/addons/bind

[2017-01-15 09:25] ThomDietrich commented on #183
@rkoshak will you be able to attend to this issue?

[2017-01-15 09:30] ThomDietrich commented on #180
I've renamed this ticket to address the need for a complete update of the article. This is mostly a writing task for someone running openHAB on Windows I believe/hope.

Have a look at the linux article to get some inspiration :)

Possible content:
* Meeting the prerequisites
* Installation
* Upgrade
* Backup
* Differences and restrictions compared to the more common Linux setup (?)
* ...

[2017-01-15 09:37] ThomDietrich commented on #176
Hey @rtvb thanks for making us aware of the problem and posting a solution. I've written these instructions a while ago and they were not strictly meant to be a perfectly complete script. Of course I get why this should be the case.

My suggestion would actually be to stay simple and just delete after copying. What do you think?

[code]

[2017-01-15 09:42] ThomDietrich commented on #175
Hey Kai, there is indeed no fitting place to put this information in the current docs structure.
I feel like this should be mentioned somewhere under http://docs.openhab.org/installation/index.html
If the menu name would have been chosen differently, this topic could be addressed in http://docs.openhab.org/installation/nginx.html
@BClark09 what do you think?

[2017-01-15 09:48] ThomDietrich opened #191 "Tutorial: Transfer Getting Started Tutorial from community forum"
https://community.openhab.org/t/setting-up-openhab2-from-scratch/20080

This tutorial could be the replacement for both the "Demo Setup" and the "Beginner" tutorial.

[2017-01-15 09:55] ThomDietrich commented on #174
I'll talk to Christian, the author of the other tutorial (https://github.com/openhab/openhab-docs/issues/191), about how this can best be integrated.

[2017-01-15 09:59] kaikreuzer commented on #190
@ThomDietrich Beware that you use the term "legacy binding" differently than it is done in the Paper UI (resp. the openhab-addons-legacy.kar).

There, it is defined as " 1.x bindings for which there is already a 2.x version available", i.e. not all 1.x bindings are referred to as legacy, but bindings for which there isn't any 2.x equivalent yet, are considered as regular add-ons.

[2017-01-15 10:05] ThomDietrich commented on #190
Oh, I did not know that 😅  thanks!

[2017-01-15 10:06] ThomDietrich opened #192 "openHABian: Corrections"
This will be a fun week.

[2017-01-15 10:17] ThomDietrich opened #193 "Configuration: main overview article"
This article needs to be filled with information before 2.0 GA. Would otherwise be a bit embarrassing to have an empty article in this prominent spot :)

The article should shortly mention the technical background of configuration (jsondb vs. files), then explain that there are multiple ways to set up bindings, things, items, ... The article needs to clear out the misconception, that Paper UI can

[2017-01-15 10:20] ThomDietrich opened #194 "Rasppi and others: Mention the java revision problem"
http://docs.openhab.org/installation/rasppi.html
that java must be updated to get myopenhab/openHAB cloud connector working. I followed these instructions (found it from this community):
https://www.linuxbabe.com/desktop-linux/install-oracle-java-8-debian-jessie-raspbian-jessie-via-ppa
and now everything is working ok. As a beginner it is quite hard to get openHAB working without valid step to ste

[2017-01-15 10:26] ThomDietrich commented on #172
Hello @buzink,
I believe that is not correct. The mentioned step is part of openHABian: https://github.com/openhab/openhabian/blob/master/openhabian-setup.sh#L339
Could you please recheck if what you are looking for is covered by that?

[2017-01-15 10:26] #172 closed

[2017-01-15 10:28] ThomDietrich commented on #170
Discussed/Solved in https://community.openhab.org/t/devolo-mt-2650-does-not-receive-setpoint/19015

[2017-01-15 10:28] #170 closed

[2017-01-15 10:53] rtvb commented on #176
The point with my issue is that I prefer to limit writes to the sd card. Than a rm before the backup would be better but in that case the start of the service requires downloading any binding etc.

So I still think a restricted copy would be better.

We could prevent tmp and cache being copied or explicitly copy only required folders. But the latter is less future proof.

[2017-01-15 11:22] ThomDietrich commented on #176
[code]
I don't think that's an issue. Still I think an easier solution to go with is rsync: http://stackoverflow.com/a/14789400

Btw. If you execute the commands fast enough the files might not even get written from cache to memory. But I'm now stepping into a gray area 🌫

[2017-01-15 11:50] ThomDietrich commented on #169
I didn't see https://github.com/openhab/openhab2-addons/pull/1633 before, that's great work @kaikreuzer ;)

[2017-01-15 11:50] #169 closed

[2017-01-15 12:05] ThomDietrich commented on #167
@robnielsen thanks for pointing that out. Is the 1.x binding still relevant in comparison to the 2.0 binding?
http://docs.openhab.org/addons/bindings/netatmo/readme.html

[2017-01-15 12:08] ThomDietrich commented on #166
@kaikreuzer Who may we ping for that? Can possibly be copied over from ESH?

[2017-01-15 12:17] ThomDietrich commented on #161
Fixed in https://github.com/openhab/openhab-docs/pull/177

[2017-01-15 12:17] #161 closed

[2017-01-15 12:36] ThomDietrich commented on #153
@BClark09 do you want to take this on?

[2017-01-15 12:39] ThomDietrich commented on #152
Additionally make restrictions of icon files clearer:

https://community.openhab.org/t/solved-custom-icons/12228/23

[2017-01-15 12:43] ThomDietrich commented on #146
I'm happy to realize, that this whole problem has been solved in the meantime. @rkoshak do you agree?

[2017-01-15 12:43] #146 closed

[2017-01-15 12:44] ThomDietrich commented on #145
@rkoshak this has been dealt with in the meantime, correct!?

[2017-01-15 12:44] #145 closed

[2017-01-15 12:46] ThomDietrich commented on #144
@rkoshak more importantly this would need to be documented under items->icons.
Closing this ticket in favor of https://github.com/openhab/openhab-docs/issues/152

[2017-01-15 12:46] #144 closed

[2017-01-15 12:47] ThomDietrich commented on #152
Furthermore:

@rkoshak ping. You wanna take on this task?

[2017-01-15 12:51] ThomDietrich opened #195 "myopenHAB buffer article"
Continuing https://github.com/openhab/openhab-docs/issues/112

The menu entry behind http://docs.openhab.org/installation/index.html --> myopenHAB should point to a short How-to article about myopenHAB before jumping over to http://www.myopenhab.org

[2017-01-15 12:52] #112 closed

[2017-01-15 12:53] ThomDietrich commented on #110
https://github.com/openhab/openhab-docs/issues/193

[2017-01-15 12:53] #110 closed

[2017-01-15 13:01] ThomDietrich opened #196 "Check all add-on READMEs for markdown errors"
Yes, this needs to be fixed over at openhab-distro or smarthome.

e.g. https://github.com/openhab/openhab-docs/issues/92
Also check out https://github.com/openhab/openhab-docs/issues/50
A tool needs to be selected (hot candidate: remark-lint) and a config file could be part of the code here.

[2017-01-15 13:01] #92 closed

[2017-01-15 13:03] ThomDietrich commented on #90
@rkoshak what's the status here?

[2017-01-15 13:03] ThomDietrich commented on #69
@rkoshak ping

[2017-01-15 13:06] #61 closed

[2017-01-15 13:08] ThomDietrich commented on #59
@BClark09 just to clarify. Did you consider implementing this or did you just ask out of interest?

[2017-01-15 13:10] ThomDietrich commented on #26
Solved in the meantime. Could be related to https://github.com/openhab/openhab-docs/issues/175.

[2017-01-15 13:10] #26 closed

[2017-01-15 13:11] ThomDietrich commented on #17
@svilenvul can this ticket be closed?

[2017-01-15 13:11] #17 closed

[2017-01-15 13:16] ThomDietrich opened #197 "Rasppi manual setup: mention SSH disabled by default"
https://www.raspberrypi.org/blog/a-security-update-for-raspbian-pixel

[2017-01-15 13:18] ThomDietrich opened #198 "Paper UI: Describe functionality"
A short list of functions would be enough. Do not write a fully blown user manual that will be outdated in two months.

[2017-01-15 13:18] ThomDietrich opened #199 "Help: How to post a problem, How to contribute a solution"

[2017-01-15 13:23] ThomDietrich opened #200 "Apps: Decorate the iPhone article"
Update: Android part is finished. iPhone still needed

http://docs.openhab.org/addons/uis/apps/android.html
http://docs.openhab.org/addons/uis/apps/ios.html

Please contribute some content for these articles. A feature list, two screenshots, whatever you think is needed.

@digitaldan are you free to do that?

[2017-01-15 13:25] ThomDietrich opened #201 "QNAP: Add a few details"
https://github.com/openhab/openhab-docs/pull/148#issuecomment-265747892

@thopiekar would you be able to add details to this sad looking article: http://docs.openhab.org/installation/qnap.html

[2017-01-15 13:30] ThomDietrich opened #202 "JsonDB storage description"
http://docs.openhab.org/administration/jsondb.html

A short introduction into jsondb would be enough. The process of how a user could (if ever needed) edit the db file manually would be good too. Most info can probably be taken from the community forum thread https://community.openhab.org/t/replacement-of-mapdb-by-jsondb/17498

@cdjackson would you take this on?

[2017-01-15 13:40] kaikreuzer commented on #198
Ideally should be contributed to https://github.com/eclipse/smarthome/blob/master/extensions/ui/org.eclipse.smarthome.ui.paper/README.md

[2017-01-15 13:44] ThomDietrich opened #203 "Mac: Update the whole article"
In parallel to the Windows article. https://github.com/openhab/openhab-docs/issues/180

This is mostly a writing task for someone running openHAB on Windows I believe/hope.

Have a look at the linux article to get some inspiration :)

Possible content:
* Meeting the prerequisites
* Installation
* Upgrade
* Backup
* Differences and restrictions compared to the more common Linux setup (?)
* ...

[2017-01-15 13:49] ThomDietrich opened #204 "Initial Setup: How to reset"
https://community.openhab.org/t/a-single-distro-from-now-on/19903/40

[2017-01-15 13:53] BClark09 commented on #59
Hi @ThomDietrich, sorry! It was merely interest so far. If I'm honest, I didn't really find a direction I could take with it.

[2017-01-15 13:59] BClark09 commented on #153
Yes! Assign me away!

[2017-01-15 14:05] ThomDietrich opened #205 "Tutorials: Give a list of Tutorials and Examples"
Right at the starting page of the Tutorials section or in one subcategory: http://docs.openhab.org/tutorials/

Incomplete Examples List:

* https://community.openhab.org/t/about-the-tutorials-examples-category/15581

* https://community.openhab.org/c/setup-configuration-and-use/tutorials-examples

* [Example 1](https://community.openhab.org/t/washing-machine-state-machine/15587/1), [Example 2](htt

[2017-01-15 14:16] BClark09 commented on #175
It might be better to assign this instruction into "Configuration" as @kaikreuzer  said. I'd think the best approach would be to have a new page called "System" inside here, which can cover topics about the additional optional choices a user can make.

As well as changing the local port, other common configurations in here can include changing the locale or anything else mentioned on the same page

[2017-01-15 14:16] ThomDietrich commented on #153
@kaikreuzer maybe not an issue for today: Do you agree that a bigger part of the openhab org members  should have the ["Read" permission](https://help.github.com/articles/repository-permission-levels-for-an-organization)? That would for example allow Ben to "Have an issue assigned to them".

@BClark09 Even without having your avatar up there, Flame on! 🔥

[2017-01-15 14:24] robnielsen commented on #167
@ThomDietrich, yes it is. The 2.0 binding is still missing a bunch of functionality that the 1.x binding has.

[2017-01-15 14:25] ThomDietrich commented on #175
We are once again trapped in the discussion about what is covered by "Installation" and "Configuration". You probably remember that I was looking for better words for these two big documentation categories. The first was supposed to cover installation and set up of the openHAB distribution on the **outside**, the second was supposed to describe how to configure your home automation system **inside

[2017-01-15 14:28] ThomDietrich commented on #167
@kaikreuzer

[2017-01-15 14:30] ThomDietrich commented on #179
@kaikreuzer I'm finished sorting out, adding and labeling issues.

[2017-01-15 14:36] robnielsen commented on #167
Here's a few:

- Ability to set unit system
- Ability to set pressure units
- Min/Max and Sum types

[2017-01-15 14:40] kaikreuzer commented on #175
Why is it a changing strategy to put it under Configuration?
To me, the installation/setup is what you have to do **outside** in order to make openHAB "being there and startable" at all. Changing the port is something that has effects **inside** of openHAB, just as locale, what add-ons are there, etc. It is nothing that everybody has to be pointed to during the installation, it is rather "advanced

[2017-01-15 14:42] kaikreuzer commented on #167
As pointed out in the other issue, we should change [this title](http://docs.openhab.org/addons/bindings.html#legacy-1x-bindings) anyhow to just call it "1.x Bindings" and in [here](http://docs.openhab.org/addons/bindings.html#further-1x-bindings) we could add a new list of all legacy 1.x bindings.

[2017-01-15 14:44] kaikreuzer commented on #153
I have added all "openHAB Contributors" at https://github.com/openhab/openhab-docs/settings/collaboration - this has simply been missed when setting up this repo.

Issue is now assigned to @BClark09 :-)

[2017-01-15 14:47] robnielsen commented on #167
@kaikreuzer. So what makes a binding legacy? I'd hope this would only happen once a 2.0 binding is as full featured as the 1.x, otherwise the 2.0 should be a beta binding or something similar.

[2017-01-15 15:34] kaikreuzer commented on #166
Should probably be a part of the "Things concept" page to mention them in general. How to create rules that make use of them, probably needs to go to the rule section (we already have examples there, don't we?)
Sorry, I don't know anybody, who could be pinged... Probably leaves mainly me, but I am not sure how much I can add during the next days...

[2017-01-15 15:44] ThomDietrich commented on #175
"advanced configuration" as in "advanced functionality"?
My intention is to leave the part of docs that's called "Configuration" to only talk about home automation setup: things and items definition, sitemaps, rule building, yada yada. The HTTP port is clearly a technical matter. We have to be careful to not mix too many different worlds. Did you take the time to read issue 160? It's an interestin

[2017-01-15 16:19] kaikreuzer commented on #175
What about the other configurations that you find in the Paper UI under "Configuration->System"? Locales, Persistence, JSON Storage, Legacy-Addon configuration, Linking mode, access control / security, etc? To me this is all clearly a configuration aspect.

[2017-01-15 16:20] ThomDietrich commented on #191
Add a list of further tutorials and examples to give the user perspective https://github.com/openhab/openhab-docs/issues/205.
Result could be similar to https://wiki.python.org/moin/BeginnersGuide/Programmers

[2017-01-15 16:38] DocFraggle commented on #191
Hi Thomas,

https://github.com/openhab/openhab-docs/pull/207

Regards, Christian

[2017-01-15 17:16] buzink commented on #172
You're right. Thanks.

[2017-01-15 17:47] MHerbst commented on #150
We have an account for Google Search and I have already created a search engine. You can test it with this URL: https://cse.google.com/cse/publicurl?cx=003707250976775348452:h9hxadbatfq

@ThomDietrich I can add it to the website but where do we want to put the search field? One option would be in the menu at the right with an expandable edit field.
Or in the left sidebar on top of the menu items.

[2017-01-15 18:31] rtvb commented on #164
@ThomDietrich Why did you close this issue? It is not resolved yet?

[2017-01-15 18:40] kaikreuzer commented on #164
FTR: I have meanwhile successfully migrated the foundation's website to Cloudflare, see https://www.openhabfoundation.org/ (with the help of @MHerbst), which is also hosted on Github Pages.

I think this would be a good (and free) compromise for docs.openhab.org as well. So if you agree, I could would move the site's DNS records to Cloudflare as well.

[2017-01-15 20:06] rtvb commented on #164
Please see comment https://github.com/openhab/openhab-docs/issues/164#issuecomment-269642824 re. injections.

[2017-01-15 20:10] rtvb commented on #176
It is not about the size of the file but about my SD card aging more quickly.

http://superuser.com/questions/17350/whats-the-life-expectancy-of-an-sd-card

[2017-01-15 20:54] ThomDietrich commented on #150
Sounds fantastic. I was not able to do a search (no progress after an empty "Loading" page) but I'm sure that's just a small problem.
I like both your options. It would feel more natural to have it in the header, on the top right. Is the horizontal space sufficient for it? Looking forward to that PR! 🎉

[2017-01-15 21:24] MHerbst commented on #150
We can try it. On my website I am using an "expandable" input box. It gets wider when you click into it. But I am not sure whether this is possible with the Google search. We will see :-)

[2017-01-15 21:25] kaikreuzer commented on #164
That's what I meant with "good compromise". I don't really think that injections are an issue for us as all content is publicly hosted, not confidential and not security critical. We survived with http all over the years and switching to https is mainly necessary for making Chrome happy.

[2017-01-15 21:29] ThomDietrich commented on #164
Sorry @rtvb I was sweeping through issues today and thought the topic was settled as the last info was to stay on GitHub. I've read the concerns and studied the articles you both linked. That's indeed an unpleasant topic we should consider when the only reason for moving over to another hosting service is https. Which alternatives would you suggest?

[2017-01-15 21:49] ThomDietrich commented on #176
I got your point and am aware of the problem.

How about rsync then?

[2017-01-15 21:55] ThomDietrich commented on #176
Writing 100MB once (if they are actually written before deleting from cache) will not wear out your sd card at a considerable speed. 100MB is nothing against 100000 to one million writes plus wear leveling on a e.g. 16GB card. Don't you think?

[2017-01-15 22:11] konklone commented on #164
While using CloudFlare is helpful, that argument doesn't make sense. Malicious code injections don't have to relate to the content being served. They can forcibly enlist the user's computer into a botnet, for DDoS or otherwise, or can serve code that takes advantage of unpatched vulnerabilities.

Your website also doesn't have to be specifically targeted -- code injection logic could be applied to

[2017-01-15 22:15] kaikreuzer commented on #164
You are right, this arguing was not correct. My main argument is indeed that it is not worse than using http.

[2017-01-16 12:16] #153 closed

[2017-01-16 21:27] lsiepel opened #211 "Athentication and encryption addendum"
The page that describes the reverse proxy based on NGINX is very helpfull, but is missing one final piece. It doesn't describe how to skip basic authentication for clients on the local network the way OH1 did.

        location / {
                proxy_pass                            http://localhost:8080/;
                proxy_set_header Host                 $http_host;
                proxy_se

[2017-01-17 05:13] rkoshak commented on #183
Yes but it will probably be a week or so. I'm about to be on travel and I'm still short on time at home. I'll try to get it in earlier but can't promise anything right now.

[2017-01-17 10:06] kaikreuzer commented on #189
Definitely makes sense to come up with such placeholders.
We actually even have them already technically in place, see [here](https://github.com/openhab/openhab-distro/blob/master/distributions/openhab/src/main/resources/bin/oh2_dir_layout#L6-L10).

Having the `OPENHAB_` prefix might be a bit annoying to always type in the docs & discussions, though - but it would definitely be the correct way of

[2017-01-17 10:19] ThomDietrich commented on #189
I would second starting off with these. We just need to agree on one style.

An examples with all kinds of variations:

* `$OPENHAB_CONF/items/test.items`
* `$CONF/items/test.items`
* `$conf/items/test.items`
* `<conf>/items/test.items`
* `<openhab_conf>/items/test.items`
* `<CONF>/items/test.items`
* `<OPENHAB_CONF>/items/test.items`

Attention: angle brackets are interpreted as html tags outside

[2017-01-17 10:30] kaikreuzer commented on #189
So you vote for `$OPENHAB_CONF/items/test.items`?
Would be fine for me.

[2017-01-17 10:43] M-ax-G commented on #160
Thanks Tim!!
**Very true, very constructive...**
And while nobody else says it: Thank you! for explaining what the initiated IMHO do not (seem to) get.
I would love to help improve the doc or provide example, but I do not get the thing to work myself... which needs to happen firsts, before I can help others.

[2017-01-17 11:13] ThomDietrich commented on #189
Yep :)
What do the others think?

[2017-01-17 12:57] ThomDietrich commented on #189
One addition, we should also define a default placeholder for the openHAB hosts IP address.

[2017-01-17 13:04] BClark09 commented on #211
Hi @lsiepel Good Spot! I've made appropriate changes in the above PR!

[2017-01-17 13:28] #211 closed

[2017-01-17 16:48] kaikreuzer commented on #175
I have now added information on how to change the port AND how to bind only to a certain interface to the new "security" page, see https://github.com/openhab/openhab-docs/pull/218 - I think this is a good place for now.

[2017-01-17 17:13] thopiekar commented on #201
Sorry for the late reply @ThomDietrich but I'm currently very busy due to my internship in the Netherlands.

It looks like we are using markup as language for our docs, isn't it? Am I allowed to move the pictures I use in my QNAP repo into here?

Regards

[2017-01-17 17:18] ThomDietrich commented on #201
Yes sure. If you are unsure about pictures and formatting, give me some paragraphs and image links and I'll add the formatting for you (if this better suits your busyness ;) )

[2017-01-17 18:23] ThomDietrich opened #219 "Linux: Update to RC, Remove Offline/Online"
https://community.openhab.org/t/openhab-2-0-0-release-candidate/20462/3

@kaikreuzer you were tagged in this thread.
I could do the needed changes, maybe @BClark09 want's to continue?

[2017-01-17 21:18] MHerbst commented on #150
I have just created the PR for Google Search. Probably the look & feel needs some tweaking. I especially don't like that I had to put the magnifying glass symbol in the menu into a separate li-tag to avoid a line break. Please feel free to improve the styling :-)

[2017-01-17 21:21] MHerbst opened #223 "Add Imprint and Privacy Policy to website"
The website uses Google Analytics. So we should add a Privacy Policy page with an opt-out policy for Google Analytics. To avoid any problems I would recommend to add an imprint too.

For a Privacy Policy page we can use the first half of http://www.openhabfoundation.org/privacy. The domain openhab.org is owned by Kai, so we would need a different text for the imprint if we want to add one.

I woul

[2017-01-18 02:26] dmcwhinnie commented on #67
We should also add details about the configuration files for the bindings.
in 1.x we prefixed the settings with the add-on name.  in 2.x we use a separate file for each binding.

for example using weather binding.

1.x
weather.location.home.latitude=35.0906884
2.
location.home.latitude=35.0906884

[2017-01-18 09:42] ThomDietrich commented on #67
Also see https://github.com/openhab/openhab-docs/issues/190

[2017-01-18 10:32] ThomDietrich commented on #190
Example case: https://community.openhab.org/t/itead-switches-and-sockets-cheap-esp8266-wifi-mqtt-hardware/15024/49

[2017-01-18 10:49] sihui62 commented on #190
https://community.openhab.org/t/itead-switches-and-sockets-cheap-esp8266-wifi-mqtt-hardware/15024/53?u=sihui

[2017-01-18 13:43] dmcwhinnie commented on #67
I agree, it makes sense to not put it in the 1.x binding docs.

[2017-01-18 14:07] DocFraggle commented on #200
Tested with Firefox and Chrome

[2017-01-18 14:36] kaikreuzer commented on #183
@rkoshak Note that openHAB 2 is going to be the official successor of openHAB 1 on next Monday - so there will be a huge number of readers of this migration tutorial. It would be great to address at least the most important parts of it before that!

[2017-01-18 14:58] kaikreuzer opened #226 "Update Demo tutorial"
The demo tutorial on http://docs.openhab.org/tutorials/demo.html is not matching the current distro anymore and thus would need to be updated.

@ThomDietrich Is this already planned some where? If not, I can try to take care of it.

[2017-01-18 15:33] ThomDietrich commented on #226
I was hoping to make it redundant with @DocFraggles tutorial. Would rather include the list with further resources.
(on the phone)

[2017-01-18 15:43] kaikreuzer commented on #226
Ok, you refer to https://github.com/openhab/openhab-docs/issues/205, right?
Fine for me - although I think that the demo setup should be described somewhere as well. Maybe I do a short YouTube video for it and link it on http://docs.openhab.org/configuration/packages.html#demo-package-sample-setup.

[2017-01-18 15:43] #226 closed

[2017-01-18 15:45] kaikreuzer commented on #205
I would limit the links to official openHAB resources only (i.e. mainly content on the forum).

The other references are better placed in an article at an independent place like Wikipedia :-)

[2017-01-18 16:05] ThomDietrich commented on #226
That's an excellent idea!

[2017-01-18 16:30] ThomDietrich commented on #205
This was just a first approach to find as **much** as possible. Sadly there are not as many good external ressources for openHAB 2 yet. onesmarthome is quite nice.

We could remove all of them, yes.
However I believe they will serve a good cause. They broaden the selection for users and do not hide other valuable sources (which can become more and more over time). Additionally I think it's encoura

[2017-01-18 16:36] kaikreuzer commented on #205
Maybe at a later point, not now. And maybe at a different place, let's see.

[2017-01-18 16:44] ThomDietrich commented on #205
@kaikreuzer this goes hand in hand with the restructuring of the forum. A topic we didn't touch yet :zipper_mouth_face:

[2017-01-18 17:02] ThomDietrich opened #227 "Fix QNAP article after #220"
https://github.com/openhab/openhab-docs/pull/220

[2017-01-18 21:56] DrPepper124 opened #229 "Install Doc Correction"
On Page
http://docs.openhab.org/installation/linux.html#installation
Change
sudo apt-get update && sudo apt-get install oracle-java8-jdk
To
sudo add-apt-repository ppa:openjdk-r/ppa
sudo apt-get update
sudo apt-get install openjdk-8-jre

[2017-01-18 22:16] ThomDietrich commented on #219
Also relevant: https://github.com/openhab/openhab-docs/issues/229

[2017-01-19 01:41] ThomDietrich commented on #229
Hello @DrPepper124,
I've just done the needed changes but went with another repository. Please have a look.

[2017-01-19 13:34] #194 closed

[2017-01-19 13:34] #197 closed

[2017-01-19 16:38] ThomDietrich commented on #219
Addition: please add the location of jsondb to the file locations table.

[2017-01-19 20:45] rkoshak opened #233 "Yahoo Binding Example in Migration Tutorial is no longer correct"
Apparently the Yahoo binding channel ID syntax has changed slightly since the tutorial was written. See:

https://community.openhab.org/t/items-syntax/20672

[2017-01-19 20:47] rkoshak opened #234 "Remove .migration.md.swp"
It was probably me that checked this in. Remove the vi swap file.

[2017-01-19 20:58] rkoshak commented on #199
In what context? How to post a problem to the forum and how to provide a solution to a problem?

If so should it be written up in the FAQ first?

[2017-01-19 21:00] rkoshak commented on #184
Does it make sense to point to forum postings?

Is this in addition to or in place of the discussion we had about adding a Rules DSL section to the FAQ?

[2017-01-19 21:22] ThomDietrich commented on #184
The link was more of a first reminder.
The idea here is to give more professional help for programmers. Thinks *like* the above could be helpful.

[2017-01-19 21:32] ThomDietrich commented on #199
Some of these tickets were thought more for myself than others.
This was meant to address the "Help" area here: http://docs.openhab.org/appendix/help.html

There I would like to see a short motivation to contact the forum. Not critical atm. This is btw also related to forum templates

[2017-01-19 21:35] #234 closed

[2017-01-19 22:29] rkoshak commented on #152
I'll take it. Probably won't get to it today but perhaps tomorrow afternoon.

Does it deserve its own article or should it be added to the icons page or the Items page or the Sitemap page?

As an article it would only make up a few sentences.

Is this another one that needs to go to ESH and pulled in from there?

[2017-01-19 22:30] rkoshak commented on #90
Reworking the article based on new experience I gained rebuilding my system from scratch. Plan on submitting a PR this weekend.

[2017-01-19 22:31] rkoshak commented on #69
Totally forgot about this one. Looking into it, refreshing my memory.

[2017-01-19 22:42] rkoshak commented on #53
Just now seeing this. Here are my recommended changes (mostly minor)

**Sitemaps**

At least in the GitHub preview it treats the demo.sitemap as a link. The demo.sitemap in the next sentence is not treated as a link.

**Concepts**

Remove "counted"

Remove "will", "or status data"

Replace with "As shown in the example, each element generates a descriptive text next to an icon on the left side and

[2017-01-20 00:05] ThomDietrich commented on #152
The ticket was aimed at this: http://docs.openhab.org/configuration/items.html#icons

The details are already there. It's just a bit messy. The whole article needs a rework but I'm afraid there is no time for that...

Do as much as you like. if you could add a [TOC](https://github.com/openhab/openhab-docs/blob/gh-pages/installation/linux.md), that would be great.

[2017-01-20 13:07] lolodomo opened #239 "openHAB Cloud Connector: enhancing the documentation"
I installed openHAB Cloud Connector only yesterday and I got difficulty to understand that it is normal that no items appear in "Items" frame when I logged to my account (https://myopenhab.org).

I think the documentation should more clearly explain that only items that are defined in the "expose" configuration settings will appear in this place, that this setting is required only to expose these

[2017-01-20 14:44] ThomDietrich commented on #168
We should also mention, that the first connection will be the trigger to generate the internal karaf remote console key and can take a few seconds and even timeout on slower systems (RPi2/3). https://github.com/openhab/openhab-linuxpkg/issues/15#issuecomment-272630590

[2017-01-20 15:44] splatch commented on #168
Documentation does say that in later part

We can reorganize documentation so this sentence will be present in first paragraph making no confusion to inpatient readers. :-)

[2017-01-20 15:46] ThomDietrich commented on #168
Yes I think that's what we have to take from the issue. Yes it's there but obviously should be mentioned where the "impatient reader" (perfect choice of words :smiley:) does find it.

[2017-01-20 17:51] scurrier03 commented on #168
Agree on both counts :)

On Fri, Jan 20, 2017, 9:46 AM Thomas Dietrich <notifications@github.com>
wrote:

[2017-01-21 10:39] FrederikNT opened #244 "Docu Windows Update"
I followed the new description how to update openhab on http://docs.openhab.org/installation/windows.html

Running the start.bat ´does not start openhab and I get following errors:
[code]

Something must be wrong in the description

NoTechi

[2017-01-21 17:10] lolodomo commented on #239
And please mention that there is an exception for Paper UI: right URL is https://home.myopenhab.org/paperui/index.html and not https://myopenhab.org/paperui/index.html

[2017-01-21 17:41] watou commented on #239
If same code as old my.openhab.org, "home" was added to pass all URIs, whereas original only passes a subset (recalling comment from @belovictor).

[2017-01-21 18:09] #201 closed

[2017-01-21 18:09] #227 closed

[2017-01-21 19:21] kaikreuzer commented on #239
Note that the cloud connector add-on is at https://github.com/openhab/openhab2-addons/blob/master/addons/io/org.openhab.io.openhabcloud/README.md (not here in docs) - you might want to create a PR with your suggestion there.

Note that myopenHAB is ONLY a reference instance, while the connector add-on is meant for ANY cloud instance, so the documetation should not have any references to myopenhab.

[2017-01-21 22:59] #233 closed

[2017-01-22 08:19] gahubs commented on #176
Why not use subversion or something? Would be more flexible...

[2017-01-22 12:13] sihui62 commented on #190
PR [#247](https://github.com/openhab/openhab-docs/pull/247) created

[2017-01-22 13:14] ThomDietrich opened #248 "Code highlighting, formatting style, Icons"
While working on the docs page the last couple of weeks, I encountered a few flaws in some docs styling aspects. I've finally found the time to look into these problems and prepared a rather big change last week, addressing most of these. The most prominent and one that I would like to fix as soon as possible is the highlighting issue:

![grafik](https://cloud.githubusercontent.com/assets/2870104/

[2017-01-22 13:28] #156 closed

[2017-01-22 13:30] kaikreuzer commented on #248
If you have found room for improvement and even solutions to it, why should I comment in any way? Looking forward to any updates. The only comment is one you might expect yourself: It would be nice to have the same adaptions made at the ESH documentation to keep these in sync. Thanks!

[2017-01-22 17:26] ThomDietrich opened #249 "[RPi] Warning and recommendation DHCP lease"
Add a short info to the RPi article that it's beneficial for the RPi to have a fixed IP address, best accomplished via DHCP setting.

https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/590

[2017-01-22 17:31] ThomDietrich commented on #192
Manual installation tested on RPi0: https://community.openhab.org/t/oh-on-the-raspberry-pi-zero/10997/15

[2017-01-22 20:56] xylo commented on #193
I think that's a good idea.

You can add the following:

|                               | files | PaperUI | HABmin |
|-------------------------------|-------|---------|--------|
| Edit z-wave device properties |       | buggy   | works  |
| Stable regarding upgrades     | yes   | no      | ?      |

[2017-01-22 22:26] #219 closed

[2017-01-23 01:49] ThomDietrich commented on #193
@xylo I've uploaded a first version of the article. Please have a look. #253

[2017-01-23 01:49] #193 closed

[2017-01-23 02:08] xMTinkerer opened #254 "404 when clicking [beginner’s tutorial!] link on linux.html"
Hey guys!
   I got a 404 when clicking the [beginner's tutorial] link on this page:
http://docs.openhab.org/installation/linux.html#package-repository-installation

It brought me to this page:
http://docs.openhab.org/tutorials/beginner/1sttimesetup.md

Which doesn't exist.

[2017-01-23 09:30] BClark09 commented on #254
Whoops that was my fault. Submitted a new PR.

[2017-01-23 14:40] kubawolanin commented on #150
Should this issue be closed? BTW. I've added small fix for the placeholder in #257

[2017-01-23 16:14] paulianttila opened #258 "Header logo link"
Should openHAB logo link in the header go back to openHAB main page (www.openhab.org) rather than docs.openhab.org index page? If not, then header probably should have a link to openHAB main page (www.openhab.org).

[2017-01-23 18:17] MHerbst commented on #258
Linking he log in the header to the openHAB main page would be very confusing. A click on the log normally brings you to the home page of a site (in this case docs.openhab.org).
But I agree with you that a link to would be fine.

I am planning to a add footer line (#223) for links to imprint and privacy. Would could a link to the openHAB website to this line.

[2017-01-23 19:15] #254 closed

[2017-01-24 04:58] rgerrans opened #259 "Typo in "Authentication & HTPPS""
_Under "Adding the Certificates to Your Proxy Server"  The edits to the config file currently read:_

The certificate and key should have been placed in /etc/ssl/. NGINX needs to be told where these files are and then enable the reverse proxy to direct HTTPS traffic. In the NGINX configuration, place the following underneath your server_name variable:

`nginx ssl_certificate /etc/ssl/openhab.crt;

[2017-01-24 05:44] LKuech opened #260 "Updating the openHAB Runtime: File missing"
Hi.

The section "Updating the openHAB Runtime" (http://docs.openhab.org/installation/windows.html#updating-the-openhab-runtime)

is missing to mention that the file "**userdata\etc\version.properties**" needs to be delete as well.
Otherwise openhab will continue to search for artifacts of the older version.

[2017-01-24 08:27] kaikreuzer commented on #205
@ThomDietrich We forgot to remove the demo tutorial before the launch - I think this is pretty confusing now and should be removed asap.
As we would be left with only 2 options on that page, would you want to rather replace the demo tutorial link with a link to the examples & tutorials on the forum?

[2017-01-24 11:54] ThomDietrich commented on #205
I didn't even have the time to worry about that ^^ yes you are right.
I do not really have much time right now. Let me come up with something quick...

[2017-01-24 12:11] ThomDietrich commented on #205
Going for the two options page. Just looks better actually... stay tuned.

[2017-01-24 13:21] ThomDietrich commented on #260
Thank you! We will take care of that ;)
Related to #180 #244 #262

[2017-01-24 14:08] #205 closed

[2017-01-24 20:12] MHerbst opened #267 "Old file features/bindings.md causes 404 errors"
The page features/bindings can be found via Google. But the links on the rendered page causes 404 errors because they are pointing e.g. to http://docs.openhab.org/features/bindings/exec/readme.html.

The site seams to contain some more invalid links caused by the move from ../features to ../addons at least Google complains about some invalid links.

[2017-01-24 22:43] ThomDietrich commented on #267
I've created redirects for the important pages some might have linked in the forum or similar.

So... sounds like a Google problem!? They should have updated their index by now.

[2017-01-24 22:45] xylo commented on #193
Looks good. :)

[2017-01-24 22:56] ThomDietrich commented on #193
No it does not 😅  The article is just a first draft and the details in the table are not completely correct.

[2017-01-24 23:15] ThomDietrich opened #268 "Document switching/restarting package selection"
https://community.openhab.org/t/a-single-distro-from-now-on/19903/40

[2017-01-25 08:34] xylo commented on #193
As a first draft, it looks pretty good.  Sorry, that I cannot contribute much, but I used only the PaperUI, habpanel, and a bit of HABmin so far.  And my first issue is already included.  Since yesterday I know that my second issue regarding upgrade stability is no longer relevant.  Upgrades can keep the local database now.

[2017-01-25 09:41] ThomDietrich commented on #193
Ah yes, the second issue. I didn't include it because it's not really a capability or feature but a question of the underlying technology. I was meaning to answer you on that question here. Nice you got your answer.
Thanks for your "like" ;)

[2017-01-25 12:06] MHerbst commented on #267
Most of the 404 reported by Google are really obsolete. The remaining 404 came from this page: http://docs.openhab.org/features/bindings.html. For example the links to Exec, Feed, Global Cache are not valid.

What about replacing http://docs.openhab.org/features/bindings.html by a redirect to http://docs.openhab.org/addons/bindings.html? Would solve the problem and the "old" list is no longer show

[2017-01-25 13:49] ThomDietrich commented on #267
Oh wait. This page should not exist anymore. Well that explains everything.

[2017-01-25 13:51] ThomDietrich commented on #267
Oh :disappointed: after #148 I forgot to "revert revert" this one: https://github.com/openhab/openhab-docs/commit/ec9f9856299de1c613785b7ef156cc547a25f1bc

[2017-01-25 14:11] #267 closed

[2017-01-25 14:19] ThomDietrich commented on #267
I hope this resolves it. Thanks @MHerbst !

[2017-01-25 17:47] rkoshak opened #272 "Add a note that transformations may need to be installed to Items doc"
A good suggestion from a PM I received from a new user on the forum who was confused by the fact that the MAP transformation was not installed. They initially used the Demo package where it was installed but then moved to a package where it wasn't.

A single sentence added to the Transformation section of the Items doc would have avoided his confusion.

[2017-01-25 18:20] ThomDietrich commented on #244
@FrederikNT sorry for not getting back to you earlier. Did you try not deleting `C:/openhab-offline/userdata/etc/config.properties`? Would be great to find a solution for your problem...

[2017-01-28 16:04] rkoshak opened #275 "Clarify binding config section that not all bindings create a cfg"
This is on the Items doc. See: https://community.openhab.org/t/will-binding-cfg-files-be-automatically-created/21040/8

[2017-01-28 16:14] rkoshak opened #276 "All links on the front page appear not to work"
404 errors are generated.

Also, the featured technologies probably needs to be updated. See:https://community.openhab.org/t/main-frontpage-www-openhab-org-needs-an-update/21396/2

[2017-01-28 16:26] BClark09 commented on #276
Looks like an issue for https://github.com/openhab/openhab.github.io,

http://www.openhab.org/features/supported-technologies.html should be http://www.openhab.org/technologies.html

[2017-01-29 16:36] #276 closed

[2017-01-29 16:36] MHerbst commented on #276
Yes, but in this repo the issue tracker it not activated.

[2017-01-29 16:38] kaikreuzer commented on #276
Right, we only accept PRs there.
We should do the same on other repos, too 😆

[2017-01-29 16:51] MHerbst opened #278 "Invalid links"
Page http://docs.openhab.org/concepts/guidelines.html contains an invalid link to http://docs.openhab.org/concepts/guidelines.html.

I think the correct target would be http://docs.openhab.org/developers/development/ide.html

On page http://docs.openhab.org/addons/uis.html all links in section "App" are invalid. They must be changed to "../addons/**uis**/apps/..."

Page: http://www.openhab.org/tec

[2017-01-30 17:14] #244 closed

[2017-01-31 13:48] #259 closed

[2017-01-31 17:24] ThomDietrich commented on #190
Might still be needed: #275

[2017-01-31 17:24] #190 closed

[2017-01-31 17:25] ThomDietrich commented on #275
With the above PR, We've added this part:

I guess that's it?

[2017-01-31 17:28] ThomDietrich commented on #275
Aaaah sorry. Overlooked "This is on the Items doc."

So part of #250 then? :smiley:

[2017-01-31 18:23] watou opened #280 "Incorporate OH1 docs and re-factor add-ons section"
I am working on a PR to refactor the add-on pages to be generated and linked per source (esh, oh2, oh1) so name clashes don't happen and choices are clearer.  See also https://github.com/openhab/openhab1-addons/pull/5029

[2017-02-01 10:05] watou commented on #280
Here are screenshots of the PR in progress.

Individual bindings are removed from user-menu as there are too many.

Options to filter the flat list of all bindings to see only the kinds wanted.  Each checkbox explains the differences.

![bindings-p1](https://cloud.githubusercontent.com/assets/3008217/22502409/a1deb8c8-e864-11e6-8875-d4cb8fb5e68b.png)

The table of all bindings follows the above, b

[2017-02-01 10:31] kaikreuzer commented on #280
Thanks @watou, looks nice!
A few comments, if you allow:
- I would remove the "eclipse smarthome" badge and only keep it as "openHAB 2.x". You might have noticed that I had changed the version of the Karaf features for ESH bindings to 2.0 as well, so they appear in the list all the same way. For the end user, it should not matter whether it is ESH or OH2 and I want to keep the path open to easily

[2017-02-01 16:20] watou commented on #280
Understood and done.  All ESH extensions will be treated as OH2 addons from the perspective of the documentation.

Could we compromise on this point, so that the "install manual" badge is unchecked by default, and the text describing its meaning is further improved?  IMHO it's much better to have a single index of all documentation per add-on type, so users can more easily help test the ones that

[2017-02-01 16:48] AngelosF commented on #202
@ThomDietrich:
Chris wrote a more detailed explanation of the JsonDB here: https://github.com/openhab/openhab-docs/pull/282

I think that we should drop my PR (https://github.com/openhab/openhab-docs/pull/281) and use his ([282](https://github.com/openhab/openhab-docs/pull/282))

[2017-02-01 17:28] ThomDietrich commented on #202
What a coincidence :astonished: Why did you both decide to write something **in the same hour**? Hahaha what a shame :(

I don't think we should drop your content! You have many great things in there, like a good headlines structure, screenshots and examples. It would be great to have both!

My suggestion would be, that we first merge @cdjackson's article. After that you can step in and "sneak" in

[2017-02-01 17:34] cdjackson commented on #202
I’m not sure it was quite “the same hour” as I committed it during lunch, but as I was typing directly into github (since I was at work) I did the PR when I got home, but certainly the same day :)

For me is fine anyway - sorry it was a bit slow coming from your original request - I had 2.5 weeks in India and just returned last week...

[2017-02-01 17:43] ThomDietrich commented on #202
No problem at all. We are all here for the fun of working for others for free :sweat_smile:

I was in India just two month ago. Hope you enjoyed it ;)

[2017-02-01 17:45] cdjackson commented on #202
:)

Yes - loved India - did a trip from Delhi through Rajasthan - really great place :)

[2017-02-01 21:53] michelde opened #285 "Wrong karaf console command -> log:display-exception"
On KARAF Logging (http://docs.openhab.org/administration/logging.html) section it refers to:

but I think it should be:

[2017-02-02 08:19] kaikreuzer commented on #280
We can! The new text looks pretty good, I think this is a good compromise.

We can have a try - it might look awkward though on a single-column phone layout, if the logo comes last. Alternatively, we could also put a new column at the left side of the table. Let's simply experiment and see what looks nicer.

Ok for me - if we leave them where they are, we have enough screen space.

[2017-02-02 09:31] AngelosF commented on #285
Correct.

There is also an alias for this: `lde`.  Will you make a PR or should I?

Source: https://karaf.apache.org/manual/latest/#_using_the_console

[2017-02-02 12:34] #285 closed

[2017-02-03 19:24] rkoshak opened #288 "Migration Tutorial needs to reference 1.9 bindings with a trailing 1"
The migration tutorial was written before the convention of appending a 1 to the end of the 1.9 binding names (e.g. mqtt1). The "Text only" section needs to update to include this fact and take it into account in the example.

[2017-02-03 19:31] watou commented on #288
Please make sure it's made clear that 1.x binding feature names end with a "1" appended, for the purpose of installing a 1.x binding.  Other uses of the binding ID do not have a "1" appended.

[2017-02-03 19:43] rkoshak commented on #288
I tried to update the patch but it is telling me the file cannot be edited.

[2017-02-03 19:46] AngelosF commented on #288
I made the comment below on your forked commit (maybe I should have wrote it here :)) (I am still learning github)

Maybe use version 1.x since after the release of openHAB 2.0.0, the snapshot versions of the bindings have been bumped up to 1.10.
Some users may use OH2 <2.0.0 where you have 1.9 and some OH2 > 2.0.0 where you have 1.10 for the "old" bindings

[2017-02-03 19:48] rkoshak commented on #288
I'd rather do that in a separate Issue as it has implications across the docs, not just this one section of the Migration Tutorial.

[2017-02-03 19:51] rkoshak opened #289 "Scrub docs for references to version 1.9 and replace with 1.x"
Since the version of the bindings have advanced to 1.10, the docs should be more generic and just reference 1.x. I know the migration tutorial has some references and suspect other pages do as well.

[2017-02-03 19:51] AngelosF commented on #288
True.
A google search of:
[code]
gives me 2 relevant results: Your migration tutorial and http://docs.openhab.org/addons/bindings.html

I will open up another issue on this small change

[2017-02-03 19:52] rkoshak commented on #288
Already done. Feel free to implement it. I'm probably going to be signing off for the day in a few minutes to go take some more medicine and sleep a bit.

[2017-02-03 19:54] AngelosF commented on #288
I saw the issue that you posted. It's fine.  I will prepare a PR for the bindings.html doc entry.

Get well !

[2017-02-03 19:56] watou commented on #288
Please review open PRs because binding.md is fully reworked there! :-)

[2017-02-03 20:07] rkoshak commented on #288
I give up trying to edit that file. I'll try again later or if someone else can figure it out that's great too.

[2017-02-04 19:26] #280 closed

[2017-02-05 05:11] metbril opened #291 "Items: Add use of 'autoupdate'"
The docs entry for items currently does not provide any explanation of the feature to add `autoupdate=false` to the binding definition.

http://docs.openhab.org/configuration/items.html
or
https://github.com/openhab/openhab-docs/blob/gh-pages/configuration/items.md

More info:
https://github.com/openhab/openhab1-addons/wiki/Samples-Item-Definitions

[2017-02-05 08:43] ThomDietrich commented on #291
@rkoshak

[2017-02-05 09:25] metbril opened #292 "Sitemaps: iOS app only supports HTML codes for valuecolor"
In Sitemap page add a [known issue](https://github.com/openhab/openhab.ios/issues/112) that the iOS app currently only supports HTML color codes for valuecolor.

So #ff0000 instead of 'red'

iOS repo issue:
https://github.com/openhab/openhab.ios/issues/112

Community discussion
https://community.openhab.org/t/openhab2-valuecolor-not-changing-in-ios-app/14831/2

Repo doc
https://github.com/openhab/

[2017-02-05 18:37] MHerbst opened #295 "Links to add-on documentation in Paper UI are broken"
Due to a change in the documentation structure (commit https://github.com/openhab/openhab-docs/commit/5be5bc2fb9d83777fc1116def6c5c5a45999a31c  @kaikreuzer ) it seems that all links to add-on docs are broken. The add-ons are using URLs like this:
[code]
But the URLs have changed to:
[code]
... and there seem to be no redirects.

BTW: The links in the search results are currently also wrong until G

[2017-02-05 23:21] watou commented on #295
This could be addressed by using [this Jekyll plugin](https://github.com/jekyll/jekyll-redirect-from) and a small change to the build process.

[2017-02-06 00:33] ThomDietrich commented on #295
I'm not sure if we really need to address that. I've added redirects in the past but for the main articles. Do we need every bindings old URL? Google will update quickly and links posted in the forum or somewhere else will loose their importance quickly. The user will see our 404 page and can go from there.

[2017-02-06 07:09] kaikreuzer commented on #295
@watou & @ThomDietrich I think you are missing the severity of this issue:

The links mentioned by @MHerbst are used in the openHAB Distro (Paper UI -> Addons) to link to the documentation of the according add-ons.
ALL OF THOSE LINKS ARE NOW BROKEN FOR ALL USERS. As openHAB 2.0.0 is out there, we cannot change these links.
I wasn't aware that @watou's refactoring changed these links, this should n

[2017-02-06 09:15] watou commented on #295
No I am not;  I've submitted now two PRs to address it.  As I was not aware that PaperUI had a documentation link for 2.x bindings.

Will #297 allow users to access OH1 binding docs?

[2017-02-06 09:19] kaikreuzer commented on #295
Right, this comment was rather meant for @ThomDietrich as he suggested not to fix it :-)

Once merged, I can do the necessary adaptions in the distro. Currently, there simply is no link to docs in the PaperUI for 1.x add-ons.

[2017-02-06 10:58] #295 closed

[2017-02-06 12:40] ThomDietrich commented on #295
I was in fact not aware of that. Great you found a solution!

[2017-02-06 17:32] jeffsf opened #298 ""Accessing the Console" should indicate localhost required"
http://docs.openhab.org/administration/console.html

While it is prudent that Karafe console access be tightly controlled on an IoT device that may be exposed by inexperienced users, the current documentation does not clearly indicate that the Karafe console's ssh access appears to only bind to localhost.

Current text:

Suggested text (assuming the "intent" statement is correct):

(Note that the

[2017-02-06 17:50] ThomDietrich commented on #298
Hello @jeffsf thanks for reporting that issue and already suggesting a solution!
The idea of adding this warning was already posted here https://github.com/openhab/openhab-docs/issues/168, we will take care of all mentioned aspects shortly!

It would be an amazing help if you could create the appropriate Pull Request for all mentioned changes! ;) Would you be up for that?

[2017-02-06 18:08] jeffsf commented on #298
First part is "easy" (once I figure out how to preview the .md pages), so yes on that.

I'll have to figure out how to "answer" the two bulleted points and confirm that they work before I get out a pull request for the "Suggested additions"

[2017-02-06 19:18] ThomDietrich commented on #298
Will answer in PR

[2017-02-06 22:46] #298 closed

[2017-02-06 22:47] ThomDietrich commented on #292
Did you open an issue there? Can't find it...

[2017-02-07 05:56] rtvb commented on #292
I hadn't yet. Done now.

https://github.com/openhab/openhab.ios/issues/112

[2017-02-07 06:09] metbril opened #304 "Sitemaps: Lightgray missing in color table"
In several demos I have seen use of 'lightgray' ('#d3d3d3') as valuecolor. However this color code is missing in the table in the docs. If this is a standard agreed color it should be included. If not, the official examples should not use it.

Unfortunately have not found an example to point to. Perhaps we should check at least the demo config for the use, too.

Repo ref
https://github.com/openhab

[2017-02-07 07:36] watou opened #305 "Migration: CallType no longer exists"
[Page](http://docs.openhab.org/tutorials/migration.html#rules)

[Needed content from here](https://community.openhab.org/t/fritzbox-tr064-binding-creation-of-esh-event-failed/10064/12?u=watou):

[2017-02-07 08:14] AngelosF opened #306 "Clarification: Item Type Group in the Frame element of a sitemap"
We should add a clarification to the http://docs.openhab.org/configuration/sitemaps.html#element-type-frame that Item Type Group cannot be used in the Element Type Frame.

Potentially, add an example on how to correctly display a Group within a Frame:
[code]

The following does not work:
[code]

Ps: https://community.openhab.org/t/automatic-frame-generation-from-group-items/22117

[2017-02-07 08:21] watou commented on #53
I just noticed [MapView](https://github.com/eclipse/smarthome/pull/277) is still not documented.  I worry that an issue like this with so many other issues in it might be better broken out so as to be workable?

[2017-02-07 08:25] kaikreuzer commented on #306
I wasn't even aware that you can define a "normal" item for a frame. What does that do? How is that rendered? I am not sure that this actually makes much sense at all... The frames are really only meant to do some visual separation with a title, nothing more than that.

[2017-02-07 08:59] AngelosF commented on #306
It just renders the item info in the "header" of the frame
Example:
[code]

With item definition:
[code]

Will result to:
![frame_item](https://cloud.githubusercontent.com/assets/25465966/22684309/7e5fc81e-ed24-11e6-879f-91814817d4ed.png)

[2017-02-07 09:01] kaikreuzer commented on #306
That's what I was wondering - showing some item status simply does not make sense for the frame. I would rather suggest to remove this "feature" completely.

[2017-02-07 09:04] AngelosF commented on #306
I also agree...
Should I close this issue then or we should "re-use" to remove from the sitemaps docs entry the option to use item in the Frame element syntax?

[2017-02-07 09:23] kaikreuzer commented on #306
For me ok to re-use as the title is about a "clarification" :-)

[2017-02-07 11:14] ThomDietrich commented on #53
For me it would be okay... I just didn't work on the issue yet :cry: I'll put it onto my todo list!

[2017-02-07 18:58] kubawolanin opened #308 "ZoneMinder docs missing"
Environment: Latest SNAPSHOT

Steps to reproduce:
1. In PaperUI go to Add-ons / Bindings
2. Scroll down to ZoneMinder binding
3. Click on ZoneMinder binding's title

Expected result:
ZoneMinder's docs are displayed on http://docs.openhab.org/addons/bindings/zoneminder/readme.html

Actual result:
Error: 404
The page you were looking for was not found!

Notes:
* Tried also http://docs.openhab.org/ad

[2017-02-07 19:03] ThomDietrich opened #309 "Add-ons: missing configuration part"
@watou I just realized that with your big change to the Bindings section, this whole configuration part fell off the table:

https://github.com/openhab/openhab-docs/blob/44266484bf2abea81c0c1fc8738efbd79278eed6/addons/bindings.md#1x-bindings

[2017-02-07 19:20] watou commented on #309
Most of it has been either restated more concisely and clearly at the top of the new bindings page, some of it was a valiant but now obsolete attempt to work around the chaotic state of the wiki where most pages had no guidance for OH2 users, and the incompatible bindings list was outdated, incorrect and better stated in the specific add-on's readme (which is true of Sagercaster and maybe a few ot

[2017-02-07 21:16] #308 closed

[2017-02-07 21:20] kaikreuzer commented on #308
Now available at http://docs.openhab.org/addons/bindings/zoneminder/readme.html

[2017-02-08 09:33] #306 closed

[2017-02-08 09:44] ThomDietrich commented on #309
Well I'm not sure if I'm missing something here. The following topics are not covered anymore:

* function and behave differently
* do not support the auto-discovery
* do not define openHAB 2 things and channels
* recommended to resort to native bindings if possible
* configured through text based files
* global openhab.cfg file. This file is not part of openHAB 2
* `<binding_name>.cfg`
* without

[2017-02-08 10:36] watou commented on #309
Are we reading the same [page](http://docs.openhab.org/addons/bindings.html)?  My read of the new page is that these points are covered perfectly clearly, and a bit more accurately than the old page.

"These newer bindings can be the easiest to use."

I caution against editorialising further about which choices are better for the user, as we don't know their needs, and lots of people worked very h

[2017-02-09 03:41] stephenbonar opened #312 "Things: enhance configuration document"
The configuration document for things is currently a stub and needs some content. I'm going to start writing a document for it to submit as a PR and I plan to cover the following at a minimum:

* Introduction
* Discovery based configuration
* File based configuration
    * Highlighting the fact that some bindings (for example, Z-Wave) do not currently work properly with things files
    * Basic sy

[2017-02-09 03:45] stephenbonar opened #313 "Services: missing configuration document"
The Services configuration document is currently a stub and needs some content. At this point it is not clear what all should be covered there, but I'm thinking at a minimum we should have /conf/services explained. Any thoughts on what all should be covered? If we can come up with some ideas I'll write something up and submit a PR.

[2017-02-09 05:06] hakan42 commented on #312
An example where you put a Thing into a specific Location would be nice.

For example "Foo" @ "Garden"

[2017-02-09 07:31] genesisfactor opened #314 "you meant "tool" :)"
on page: http://docs.openhab.org/administration/index.html, you're missing the "l" in tool

As a base technology openHAB uses Apache Karaf, a modern and polymorphic container able to host different kinds of applications. The Karaf Console is a powerful **too**

to interact with the core of your openHAB installation.

[2017-02-09 10:45] ThomDietrich commented on #314
Yes... No... Maybe... That's confidential.

:smile: Thanks @genesisfactor I've fixed that just now!
Any interest to help add content to this or any other page?

[2017-02-09 10:45] #314 closed

[2017-02-09 20:17] genesisfactor commented on #314
lol.  I haz ur secrets now.

I literally just OpenHab 2 yesterday.  :).  I'd love some help figuring out
a few things myself, but would be happy to enhance any page I can.

At risk of turning this into a bug report or a conversation thread....

One thing i noticed: i created a panel HABPanel in my new install.  I saved
my panel.  Then i made it a static ip address for a different address.
Now my p

[2017-02-09 23:04] ThomDietrich commented on #314
Sorry can't help here. I'm personally not working with Habpanel... You will be happy with the answers you will receive in the community forum, promise it ;)

[2017-02-09 23:06] genesisfactor commented on #314
Sweet deal.  I'll see how i can contribute!

On Thu, Feb 9, 2017 at 3:04 PM, Thomas Dietrich <notifications@github.com>
wrote:

[2017-02-10 07:51] metbril opened #316 "Sitemaps: missing default color for valuecolor"
Proposal: add value color 'default' to possible colors.

If using `valuecolor`, one sometimes needs to set default color for default values.

For example:

If you specify
[code]

then any time the color has changed to orange, it will not revert back to the default color when <= 40. This can be resolved by adding an additional color for any remaining value, like:

[code]

However, both "black", "gr

[2017-02-10 11:26] ThomDietrich commented on #316
I'm unsure if this is in need of a documentation solution... To me it sounds like either a bug or a feature request.

Are you sure? I have similar elements doing what they are supposed to. In the following example the default state (0) is always presented in "default" color.

[code]

[2017-02-10 13:48] rtvb commented on #316
Perhaps you are correct.

I did some more testing. As long as the value stays below the treshold of 40, it has the default color. When it passes the threshold of 40 it becomes orange. But when it then lowers back below the threshold (say 10%) it remains orange and never turns back to the default color.

Should we consider this a bug to be reported to eclipse smarthome repo?

[2017-02-10 14:11] ThomDietrich commented on #316
Yes I think you can do that right away. However I believe you need to do some more testing because with my discrete values example shown above, I do not encounter that bug.

[2017-02-11 21:06] whopperg commented on #176
Hey @rvtb,
I did a script whigh updates the oh2 installation with the latest snapshot. I'don't use rsync for backup. See here: https://github.com/openhab/openhab-docs/pull/307#issuecomment-278290828

[2017-02-12 09:08] watou commented on #309
I think the issues described here are already addressed and that this issue can be closed.  @ThomDietrich, WDYT?

[2017-02-12 11:57] watou commented on #313
There are many configuration files that may belong there.  I would advise against duplicating any of the add-on documentation that describes files that belong in the services directory.  I would also advise against using "conf" in any of the documentation, because users who install openHAB via apt-get might spend hours looking for a directory that does not exist.  Very careful wording is needed th

[2017-02-12 12:10] watou opened #318 "[Configuration/Items] Correct bad information"
The [following paragraph](http://docs.openhab.org/configuration/items.html) is replete with incorrect information and advice:

The use of the word "legacy" is incorrect; the use of openhab.cfg is incorrect; the use of the directory "conf" is unhelpful on installs with no such directory, the distinction from openHAB 2 bindings is incorrect.

I would highly prioritize a correction to this document a

[2017-02-12 17:03] ThomDietrich commented on #318
Good catch! I believe that's a concern for https://github.com/openhab/openhab-docs/pull/250 ?

[2017-02-12 17:28] watou commented on #318
Thanks for the link to @rkoshak's  #250.  It's not easy to tell what that PR is about given the title.

[2017-02-12 17:46] ThomDietrich commented on #318
No doubt about that :)

[2017-02-12 17:46] #318 closed

[2017-02-12 17:55] watou commented on #318
Hi @ThomDietrich could you please reopen this issue since I cannot find any treatment of the contents of this issue in #250 or the related issue?  I think it's important to not let these errors remain in the documentation.

[2017-02-12 18:45] watou opened #319 "[Configuration/Items] Correct bad information"
Please do not close this issue until the subjects it describes are addressed and merged.  This is a copy of the now closed issue #318.  If @rkoshak is working on this, please assign this issue to him.  Thanks!

---

The [following paragraph](http://docs.openhab.org/configuration/items.html) is replete with incorrect information and advice:

The use of the word "legacy" is incorrect; the use of ope

[2017-02-13 09:21] sihui62 commented on #309
Can't find the section anymore where the "trailing 1" info for installing a 1.x binding through addons.cfg is addressed, still questions in the forum:

https://community.openhab.org/t/is-the-mios-binding-auto-install-working-in-openhab2/22820/5?u=sihui

I don't think it is advisable to have the users edit all 1.x bindings wiki pages for that information.

[2017-02-13 09:44] watou commented on #309
I think the important information that you rightly point out is missing needs to be under the [Configurarion/Services section](http://docs.openhab.org/configuration/services.html) or wherever it would be explained what belongs in addons.cfg.  Replacing that stub with something that explains how to configure openHAB would seem to be urgent! 😄

The docs.openhab.org site should no longer refer to the

[2017-02-13 09:46] watou commented on #309
This issue should perhaps be renamed: "[Configuration/Services] Missing documentation"

[2017-02-13 09:50] watou commented on #313
Also see #309, which describes urgently needed information describing the contents of addons.cfg.

[2017-02-14 00:53] rkoshak commented on #319
I'm on travel until March 4th and won't have a chance to work on anything until then. I welcome anyone else taking this. Otherwise it will have to wait.

[2017-02-15 01:44] psyciknz commented on #160
Regarding Tims post...as a 6 month Openhab 1 user, coming to to Openhab 2, point 4 was the one that seriously got to me.

Discovered items (discovered in paper UI) don't show up in the smart home designer, or in the familiar config files and vice versa.  and there's a disconnect between what you see in the BasicUI in terms of discovered items and hand configured items - in that discovered items sh

[2017-02-15 01:47] psyciknz opened #326 "Smart Home Designer Documentation"
As part of the documentation for Smart Home Designer, a note that the configuration will not be loaded if (in windows) you use a UNC path.

The user must map a drive to the openhab configuration directory (on linux via apt =  /etc/openhab2).

Also as a newly installed linux system, I had no idea what directories I needed to share.  I was lucky to have an openhabian system with a samba config I cou

[2017-02-15 10:34] ThomDietrich commented on #326
All this should be documented here: http://docs.openhab.org/installation/linux.html#network-sharing !?

[2017-02-15 19:30] psyciknz commented on #326
So it is....but I was looking for help in http://docs.openhab.org/installation/designer.html#setup page - and there's no reference back to that installation page - given at the point I'm using Smart Home I have an already running OpenHab system, and may or may not have required the docs to get to that point.

[2017-02-15 21:54] ThomDietrich commented on #326
That's a fair point... but even then one of the first sentences states:

[2017-02-15 22:28] ThomDietrich commented on #326
@psyciknz I've tried to improve upon your concerns. Could you please review the changes?

https://github.com/openhab/openhab-docs/pull/329/files?short_path=b5c1eed#diff-b5c1eed5c2541b9dad67534a0ece2a36

[2017-02-15 23:19] psyciknz commented on #326
Hi, reviewed it directly.  Looks good, and obvious enough that skim readers should also pick up on it.

[2017-02-15 23:54] #326 closed

[2017-02-17 12:32] ThomDietrich opened #330 "IO/System Integration articles 404 from menu"
@watou could you please have a look? http://docs.openhab.org/addons/io.html

[2017-02-17 13:39] watou commented on #330
Not sure what caused it, but I will submit a PR.

[2017-02-18 08:26] watou commented on #330
@ThomDietrich PR #332 submitted.

[2017-02-18 08:48] brharoh opened #333 "OpenHAB core-to-binding API documentation"
Either I did not find the API documentation between the openHAB 2 core and any bindings, or it is practically non-existent.  Should such an essential part not be well documented to assist binding developers who are going to make openHAB more universal?
I took a tool to analyze the relationships between core and my binding code which was modelled after the Stiebel Eltron binding and got the attache

[2017-02-18 08:51] brharoh opened #334 "OpenHAB 2 Installation Instructions"
Here is a description of my experiences during a new installation of openHAB 2.  Maybe it is useful for who
[OpenHAB2-IDE-Installation.pdf](https://github.com/openhab/openhab-docs/files/784893/OpenHAB2-IDE-Installation.pdf)
ever maintains the openHAB 2 documentation web pages.

[2017-02-18 10:31] kaikreuzer commented on #333
Hm, what you have documented are the old openHAB 1 APIs, which are not really used anymore - the documentation for "new" bindings is at https://www.eclipse.org/smarthome/documentation/development/bindings/how-to.html (which is being linked to from the [openHAB Developer Guide](http://docs.openhab.org/developers/development/bindings.html).
I agree that some class diagrams might be helpful for this

[2017-02-18 11:58] ThomDietrich commented on #333
Never understood why the javadoc is not the goto place for this topic. I've checked the tutorial and the next few pages and it's hardly mentioned anywhere. The few links that are there point to the source code on github...
https://www.eclipse.org/smarthome/documentation/javadoc/index.html

[2017-02-19 16:07] chiefymuc opened #335 "Sitemaps: Setpoint incorrect"
In the Setpoint syntax, the  does not have "" for 'minValue', 'maxValue' and 'step'.

This is incorrectly reflected in the documentation.

Example:

It should be:
`Setpoint	item=Volume label="Volume" icon="audio" minValue=0 maxValue=50 step=1`
NOT
`Setpoint	item=Volume label="Volume" icon="audio" minValue="0" maxValue="50" step="1"`

[2017-02-19 20:23] ThomDietrich commented on #335
Thanks @chiefymuc,
I'll take this as a sign to finally work on #53 and other open sitemap issues.

[2017-02-19 20:26] ThomDietrich commented on #316
Any update? Did you report a bug? Is there still an issue related to documentation?

[2017-02-19 20:26] ThomDietrich commented on #304
Will be part of #53

[2017-02-19 20:42] ThomDietrich commented on #292
Just replied on the other issue. I'll leave this on pending for a few more days. Maybe it will be solved by then :)

[2017-02-20 06:02] rtvb commented on #316
No I did not have the time yet.

[2017-02-20 07:48] kaikreuzer commented on #330
@watou @ThomDietrich There is still a 404, if you navigate from the entries on http://docs.openhab.org/addons/io.html.

[2017-02-20 08:56] watou commented on #330
@kaikreuzer #332 only changed non-generated content and removed generated content that shouldn't have been added.  I was leaving the checking in of new generated content to you.  This would mean `git add addons/io`.  I can submit a PR with my generated content there, or you could on your next re-gen of the site.  What do you prefer I do now and in future PRs?

[2017-02-20 09:25] watou commented on #330
Added #338 so your normal "updated generated content" script ought to work after it's merged.

[2017-02-20 09:51] kaikreuzer commented on #330
Ah, sorry @watou, I must have missed that somehow - I had content regenerated locally, but I didn't correctly push it to giithub. Just updated everything now and the issue is indeed solved. Many thanks!

[2017-02-20 09:51] #330 closed

[2017-02-20 10:30] ThomDietrich commented on #176
@gahubs this ticket is not about version-controlling your configuration. The backup goal is to backup and restore all userdata in case of an upgrade or hardware switch.

[2017-02-20 11:50] whopperg commented on #176
Fyi @rtvb @ThomDietrich : https://github.com/openhab/openhab-distro/pull/426

[2017-02-21 21:52] chiefymuc opened #341 "Sitemaps: "Default" item example and screenshot"
I think this would be very helpful to understand. Took me a while to get it :)

[2017-02-22 12:19] ThomDietrich commented on #341
On it. Will be part of #53. Thanks!

[2017-02-22 21:36] rgerrans opened #343 "Rules: System-based Triggers language changes"
The following needs to be modified for the behavior of 'System started' since it runs on any rule refresh, not just the ones that it is in.

[code]

Suggested edit:

Note that adding or modifying any rules will cause startup rules to execute once, even if openHAB is already up and running.

For reference:  https://community.openhab.org/t/startup-rules-are-executed-even-though-oh-already-running-fo

[2017-02-23 16:09] ShaunCurrier opened #344 "Cloud Connector doc is not able to be browsed to from the menu"
http://docs.openhab.org/addons/io/openhabcloud/readme.html

Both docs search and google search can locate the above docs URL, but this doc page is not able to be found by navigating the docs menu, making it inaccessible and nonexistent to many.

[2017-02-23 16:16] rkoshak opened #345 "The instructions for changing the Karaf ssh password is incomplete"
See https://community.openhab.org/t/change-karaf-password/23576 .

At some point after the doc was written, password encryption has enabled in Karaf (this is a good thing). However, this now means the sed command at the bottom of http://docs.openhab.org/administration/console.html is only valid if you have never logged in to the console as the openhab user before. Once you log in that nice plainte

[2017-02-23 17:39] ThomDietrich commented on #345
You are absolutely right. openHABian uses the slightly more vague
[code]
which workds just fine.

[2017-02-23 17:45] ThomDietrich commented on #344
@watou

[2017-02-23 19:42] ShaunCurrier commented on #344
I made some general comments on #332 [over here](https://github.com/openhab/openhab-docs/pull/332#issuecomment-282096112), giving my opinion on the question of menu structure.

But addressing this issue specifically, and regardless of what is determined in #332, couldn't the case be made that the Cloud Connector is special and perhaps deserving of elevated position in the docs which reflects its s

[2017-02-23 22:47] ShaunCurrier commented on #344
Tangentially relates to my proposed improvements to Cloud-related docs in general on the [openHAB community forums](https://community.openhab.org/t/improving-openhab-cloud-related-documentation/23714).

[2017-02-24 12:30] chriscolden commented on #168
Details should be added to the documentation on changing the default ssh port.

I've had a go at documenting it in the tutorials section of the community forum.
https://community.openhab.org/t/howto-change-ssh-port-on-openhab2/23669/5

[2017-02-26 06:52] ShaunCurrier opened #348 "demo.sitemap link is broken"
In the following docs page, the demo.sitemap link is broken.  It 404's.
http://docs.openhab.org/configuration/sitemaps.html

The broken link on that page:
https://github.com/openhab/openhab-distro/blob/master/features/openhab-demo-resources/src/main/resources/sitemaps/demo.sitemap

[2017-02-26 06:59] ShaunCurrier commented on #348
Looks like this is probably the preferred link these days:
https://github.com/openhab/openhab-distro/blob/master/features/distro-resources/src/main/resources/sitemaps/demo.sitemap

[2017-02-26 13:26] ThomDietrich commented on #348
Thanks!

[2017-02-26 13:26] #348 closed

[2017-02-26 20:52] ShaunCurrier commented on #278
I think your first point intends to say that the IDE Setup link is wrong.  I can confirm.

I also confirm that the App links are invalid.

I'm unclear which of the links on the technologies page is broken.  I can't find anything related to "gcal" on that page.  Which image did you click?

[2017-02-26 23:52] ShaunCurrier commented on #278
I fixed these issues in #353 except for the last part dealing with http://www.openhab.org/technologies.html.  I think that problem might need to get routed elsewhere.

[2017-02-27 07:45] kaikreuzer commented on #278
I think this does not exist anymore since I regenerated that page one or two weeks ago.
Many thanks for fixing the rest, @ShaunCurrier!

[2017-02-27 18:08] MHerbst commented on #278
@kaikreuzer 's assumption is correct. I have checked the and they are OK now. Thanks for fixing the links @ShaunCurrier

[2017-02-27 18:47] ThomDietrich commented on #278
Can the issue be closed then?

[2017-02-27 18:59] MHerbst commented on #278
I wanted to wait until the PR was merged before closing this issue.

[2017-02-27 19:03] ThomDietrich commented on #278
Well then ;)

[2017-02-27 19:06] #278 closed

[2017-02-28 09:45] ShaunCurrier opened #354 "Astro binding description is incomplete or cut off"
On this page:
http://docs.openhab.org/addons/bindings.html

`The Astro binding is used for calculating`

[2017-02-28 09:47] watou commented on #354
The source README.md must have its description paragraph all on one line.  Please re-open the issue or submit a PR against

https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.astro/README.md

Thanks!

[2017-02-28 10:08] ShaunCurrier commented on #354
OK will do.

I assume it's the same for netatmo's problems in the same page.

[2017-02-28 11:43] ThomDietrich commented on #354
@ShaunCurrier I've talked about this with @watou before. Most of these READMEs need to be edited to have a clear introduction sentence. We also need to take care of Binding READMEs which begin with a list or an image. I wanted to look into this but am swamped with other projects and ideas right now. Feel free to take this on!!

[2017-02-28 23:45] ShaunCurrier commented on #345
I ran `sed -i "s/openhab = .*,/openhab = $sshPassword,/g" /var/lib/openhab2/etc/users.properties` on my system and I was able to replace the hash, but found that the hash is not regenerated upon next login with the new password.  So what is the correct procedure for changing after initial login?

[This karaf doc](https://karaf.apache.org/manual/latest/security) says it should work otherwise:

[2017-03-01 12:15] ThomDietrich commented on #345
The hash is regenerated the next time openhab ist restarted (as far as I remember)

[2017-03-02 03:00] ShaunCurrier commented on #345
I tested this by restarting today. It proved to be true.

On Wed, Mar 1, 2017, 6:15 AM Thomas Dietrich <notifications@github.com>
wrote:

[2017-03-02 15:53] watou opened #358 "Addons: fix error on addons/persistence.html (Exec)"
Per https://github.com/openhab/openhab-docs/pull/357#discussion_r103924707

The code [here](https://github.com/openhab/openhab-docs/blob/gh-pages/process_addons.groovy#L71) attempts to mate up installable features from feature.xml files to the various package names, but because sometimes "misc" features come from "io" packages, "transformation" features come from "transform" packages, and maybe so

[2017-03-02 16:11] ThomDietrich commented on #358
How many add-ons (approximately) are effected by this? Yielding a warning during `update.sh` generation may be helpful to support fixing this on the feature.xml side of things. Wdyt?

[2017-03-02 16:27] watou commented on #358
Only one that I'm aware of, because they share "-exec".  The effort of adding a warning is probably as much work as fixing the problem.

[2017-03-04 15:26] mueller-ma opened #360 "Keyword "Thing""
Do I need the keyword "Thing" in a things file? Some addon docs use it, some not

[2017-03-04 18:58] ThomDietrich commented on #360
It's optional but recommended for clarity.
This information is part of the Things article which will be online in the next few days. I'd invite you to check if the article would have answered your question. https://github.com/openhab/openhab-docs/pull/321

Please close the issue if your question was answered. Thanks

[2017-03-05 01:04] #360 closed

[2017-03-07 14:48] ThomDietrich commented on #312
Reopening for the second iteration.

Open ToDos:

* Bridges: https://github.com/openhab/openhab-docs/pull/321#issuecomment-283495822
* Item Linking: https://github.com/openhab/openhab-docs/pull/321#issuecomment-283589128
* Syntax clarification: https://github.com/openhab/openhab-docs/pull/321#issuecomment-284740728

[2017-03-09 23:23] Gelisob commented on #188
came back to give openhab another try since I saw the release video. Went through all the installation etc. Found out that MySensors still are not getting love and are not in the addons list, sigh.. ohwell, maybe back in the future then. Could we get an update when there's change in this?

[2017-03-14 19:14] jeffsf commented on #312
Strongly suggest that the text and examples conform with the current syntax as discussed in https://community.openhab.org/t/current-and-correct-documentation-of-syntax-for-things-and-items-needed/24864

Any and all examples should be checked to see that
* They check as "correct" in Designer
* They properly load into a clean, running instance of openHAB, release version

Further strongly suggest th

[2017-03-15 14:58] Boby71 opened #361 "Wrong link"
http://docs.openhab.org/addons/uis/apps/ios.html

It says: It also supports my.openhab.org including push notifications.
Should be: It also supports myopenhab.org including push notifications. (without the "." between my and open. Besides that, the link leads to the same page you already are on.

[2017-03-15 15:02] #361 closed

[2017-03-15 15:03] ThomDietrich commented on #361
Both issues fixed. Thank you! ;)

[2017-03-15 15:06] Boby71 opened #363 "Wrong command stated"
Link: http://docs.openhab.org/addons/io/homekit/readme.html

It says:
"To do this, you can issue the command smarthome homekit clearPairings from the OSGi console."
But that doesn't work, because there is a colon missing.

Correct would be:
"To do this, you can issue the command smarthome:homekit clearPairings from the OSGi console."

[2017-03-15 15:16] ThomDietrich commented on #363
Change submitted. Please be aware that all articles below add-ons are replicated from the various addons repositories.

Issue tickets are always welcome, if you feel confident about a change, you can also create the PR directly.
Thanks!

[2017-03-15 15:17] #363 closed

[2017-03-15 15:19] #358 closed

[2017-03-15 16:39] Boby71 commented on #363
Never thought of changing myself because I didn't want to ruin anything, but I guess there's no real risk - I'll do it next time, thanks.

[2017-03-16 13:37] ThomDietrich opened #364 "openHAB cloud related documentation improvements"
Let's restart discussions on that topic @marziman @ShaunCurrier

For reference:

* One simple proposal by me: https://github.com/openhab/openhab-docs/issues/195
* Some questions: https://github.com/openhab/openhab-docs/issues/239
* @ShaunCurrier's extensive thread in the community https://community.openhab.org/t/improving-openhab-cloud-related-documentation/23714
* A nice step by step self hosting

[2017-03-16 21:07] rtvb commented on #316
@ThomDietrich Issue https://github.com/eclipse/smarthome/issues/3065 is closed. The bug should be fixed. Should we close this issue too or add it to #53?

[2017-03-17 00:00] marziman commented on #364
@ThomDietrich,

thanks mate for trying to coordinate this.
At the moment we have some urgent this to fix and improve and therefore my and dans focus is somewhere else.
I like the post of @ShaunCurrier, so we might tackle it soon. I need to think more deeper how to do this step by step.
I was also starting to create a "OH cloud Security" chapter for the readme.

I will get back soon with some time

[2017-03-17 14:21] ThomDietrich commented on #316
Depends... if the issue is fixed (great) what's still needed in docs?

[2017-03-17 20:17] bdleedy opened #365 "openHAB update script for Windows"
I'm not sure if there is an interest in having an upgrade script for Windows or not. There are two files. One is a batch file to call the powershell file as admin and also set the execution policy to bypass.

Batch file "upgrade.bat" Right click, run as administrator.
`
powershell.exe -file %~dp0UpgradeOH2.ps1 -ExecutionPolicy bypass
`

UpgradeOH2.ps1

[code]

I tested this in Windows 10. I'm not

[2017-03-17 20:54] ThomDietrich commented on #365
Hey, that's longer than I would expect...

We were actually discussing an integrated update script in openhab-distro. Could you please have a look at and add your script to:

* https://github.com/openhab/openhab-distro/issues/299
* https://github.com/openhab/openhab-distro/pull/426

[2017-03-17 21:07] bdleedy commented on #365
Sure. How do you want me to add it? Just slap it in a code block in a comment in each?

[2017-03-17 22:34] ThomDietrich commented on #365
Depends on your ambitions ;) If you'd be willing to help integrate update routines into the distribution you can comment on what has been said before. If ou just want to provide your script, write a comment in the first ticket and link the script from here.

[2017-03-18 12:05] #168 closed

[2017-03-18 12:05] #345 closed

[2017-03-18 12:06] ThomDietrich commented on #345
@rkoshak this should be settled. Please review the new content of http://docs.openhab.org/administration/console.html

[2017-03-18 12:07] ThomDietrich commented on #168
All mentioned here should be settled. Please review the new content at http://docs.openhab.org/administration/console.html

[2017-03-19 11:55] colski commented on #341
the conf part on this page http://docs.openhab.org/tutorials/beginner/sitemap.html

seems to be a different path in the openhabian case.  .. for me it is at /etc/openhab2/sitemaps or /etc/openhab2/items respectively.

[2017-03-20 10:30] ThomDietrich commented on #341
the exact location of "conf" depends on your installation. For Linux these are the interesting locations: http://docs.openhab.org/installation/linux.html#file-locations

This misunderstanding will be part of #189

[2017-03-22 03:50] ShaunCurrier commented on #195
I find the jump jarring so I'd agree with this.  I'd even suggest going a step farther and build the myopenhab.org instructions into the docs themselves in a similar manner to how various README.md files are referenced and built in.  Is it possible?

[2017-03-22 04:07] ShaunCurrier commented on #195
Would another option be to get an anchor created in the myopenhab.org "Setup and Configuration" header and link to that from the docs?  At least then the user would be looking at more documentation-type information that they expected.

I admit I'm not sure what the best answer is here, but I just know that I had a blind spot to the very useful documentation on the myopenhab.org page because I thou

[2017-03-22 04:23] ShaunCurrier commented on #364
Re-reading my [too-long thread](https://community.openhab.org/t/improving-openhab-cloud-related-documentation/23714) in the community, here's what I still believe could use some attention:
* The openHAB Cloud README.md is nowhere in the docs, but is truly part of the openHAB ecosystem, so I propose that it belongs there.
* The full workflow of joining a Cloud instance is not brought together anywh

[2017-03-22 12:00] ThomDietrich commented on #195
The direct link was never supposed to stay there. It's a relic from the "Big Menu Restructure" https://github.com/openhab/openhab-docs/pull/148 and the switch from my.openhab to myopenhab.

Whether this new articles is placed in this or another repository should be decided by @marziman, he will probably be the one to update it on a regular basis. Both solutions are possible.

Good idea. Even thoug

[2017-03-22 12:06] ThomDietrich commented on #364
Hey Shaun,
your suggestions in the community thread are all valuable. I'd agree to start small and come to them next. With that said I'd start with the buffer article #195 because it's the one part regarding myopenhab every* new user will look at.

[2017-03-22 17:31] kaikreuzer commented on #195
The point I want to stress here is that myopenhab.org is NOT a part of openHAB and thus it does not belong into the documentation AT ALL. What is part of openHAB is the openhab-cloud project.

myopenhab.org is "just" an example of a deployment of openhab-cloud, which is hosted and operated by the foundation. I'd like to keep this separation very clear (while I understand that it shouldn't be made

[2017-03-22 17:41] ThomDietrich commented on #195
Thanks for the reminder @kaikreuzer, somewhere deep down this was clear to me (we discussed it before).

We should remove the myopenhab menu entry and add content describing the openHAB cloud.
The openHAB Cloud Service is very briefly mentioned in http://docs.openhab.org/installation/security.html#myopenhab-cloud-service - The security article grew quite big, covering multiple topics. We should at

[2017-03-22 19:11] ShaunCurrier commented on #195
@kaikruezer understood the important separation here and that we should not conflate Cloud with myopenhab.org.  But would you consider myopenhab.org to be enough of a reference implementation to be mentioned in the docs with proper disclaimers and warnings? This would keep people from misunderstanding it, while still acknowledging it for what it is. I bring up this question because you said myopen

[2017-03-22 19:29] marziman commented on #364
@ThomDietrich, @kaikreuzer, @ShaunCurrier,

I found myself lost in threads.
I think we should clearly seperate myopenhab.org from openhab Cloud. Also in the Docu.
The Cloud Connector is not tight to myopenhab.org and thats also a reason to not put it too close together.

I think a good way could be to extend the oh cloud Readme and extend it.
I would do the following, so that you know which parts

[2017-03-22 19:42] marziman commented on #195
@kaikreuzer,

I think there can be confusion. Reference Implementation doesnt mean it is a professionally, SLA backed and 100% Service+Supported Service.
It seems users get confused with this..

We could describe it with the following words in docu:
myopenhab.org is a community-baked cloud service on best effort level, based on the openhab cloud.

We somehow inform that this is not a professional

[2017-03-22 21:53] kaikreuzer commented on #195
I wouldn't call it "reference implementation" as it is no implementation, but a deployment. And yes, I think it is ok to mention it on docs.openhab.org, but it should really rather reference a detailed page at myopenhab.org. The service should come with its own documentation (which I tried to do on http://www.myopenhab.org/).

Well, this is simply not correct, because it is openhab-cloud, which is

[2017-03-22 22:04] ShaunCurrier commented on #195
It all makes sense. I think we can propose something and review it from there.

[2017-03-22 22:51] marziman commented on #195
@kaikreuzer,

haha of course. I ve twisted it. I meant:
myoh is a service on best effort level, based on communitybaked oh cloud.

Lets call myoh "reference hosting or deployment"

[2017-04-01 18:50] jeffsf opened #367 "Logging level documentation is outdated and factually incorrect"
http://docs.openhab.org/administration/logging.html

Improperly identifies how to change logging levels, where, and the use of the Karaf console.

No, I'm not going to guess as to what it should be as to where and how to set logging levels. Enough of the blind leading the blind already.

[2017-04-03 11:36] ThomDietrich commented on #367
Hey @jeffsf,
I get that incorrect documentation can be frustrating but please bare with us. What exactly are you complaining about? A command like the following does the job for just fine:
[code]

[2017-04-03 13:37] halfbaked opened #368 "rules-ng"
The docs concerning the  Next Generation Rules (though still useful) appear out of date. I got started using the rasberry pi openhabian image openhab 2.0.0-1, and with that version the option to include experimental repositories does not exist. It is however possible to find the experimental rules extension simply enough in the Add On section under Misc.

[2017-04-03 15:44] ThomDietrich commented on #368
http://docs.openhab.org/configuration/rules-ng.html

Hello @halfbaked, thanks for reporting this.
@kaikreuzer besides updating the installation instructions how do we want to deal with the topic? Is new information available regarding the feature? Should we mention the [famous PR 1783](https://github.com/eclipse/smarthome/pull/1783) or [this page](https://github.com/steve-bate/openhab2-jython)?

[2017-04-04 04:41] metbril opened #369 "XPath needs work"
The documentation of the XPath transformation is nearly empty so it needs some serious work.

http://docs.openhab.org/addons/transformations/xpath/readme.html

[2017-04-04 04:46] rtvb commented on #367
I think the documentation is quite clear. There is only one thing that is not documented properly. And that is that if you set the log level to DEFAULT that is only kept in the current session. After a restart of the openHAB service the previous log level is set. So setting to DEFAULT does not remove the entry from the configuration file. The only way to achieve this is to manually edit the config

[2017-04-04 18:09] jeffsf commented on #367
http://docs.openhab.org/administration/logging.html#config-file
does indicate that log configuration is to be done in `org.ops4j.pax.logging.cfg`

It does not indicate that changes from the console are not “sticky” across reboots. I have read that it does not somewhere in the Community or docs, but can’t find it at the moment. However, [Chris Jackson states that it _does_ persist across restarts](

[2017-04-05 12:19] ThomDietrich commented on #367
Hey @jeffsf, a short answer (I'm at work):

* Console vs. file:
http://docs.openhab.org/administration/logging.html#defining-what-to-log states:

* "`openhab-distro/lauch/home/logback_debug.xml`" - This is openHAB 1.x information and needs to be removed. A link to the logging article should be added.

@rtvb DEFAULT is not special in the sense that logging settings via console are volatile.

**Conc

[2017-04-05 13:22] kaikreuzer commented on #368
I would suggest to fix the installation instructions and leave 1783 out of scope for now - if all goes well, this will be merged in a few weeks and once this feature is available, we can revisit the docs.

[2017-04-05 13:47] ThomDietrich commented on #368
:+1: @halfbaked would you by any chance like to create a corresponding Pull Request?

* The article you want to edit is https://github.com/openhab/openhab-docs/blob/gh-pages/configuration/rules-ng.md
* You can edit the file directly on GitHub via the pen symbol to the top right
* Pay attention to our sign off requirement: https://github.com/openhab/openhab-docs/blob/gh-pages/CONTRIBUTING.md#sign-y

[2017-04-05 13:51] halfbaked commented on #368
Happy to contribute... leave it with me.

On 5 April 2017 at 15:47, Thomas Dietrich <notifications@github.com> wrote:

[2017-04-05 14:47] halfbaked commented on #368
https://github.com/openhab/openhab-docs/pull/370

[2017-04-07 03:34] rtvb commented on #189
For the technically challenged users using forward slashes in the docs , but then replacing them with backslashes for windows needs to be addressed somewhere.

[2017-04-11 08:37] ThomDietrich commented on #189
Good point @rtvb. I'm currently investing my free time into openHABian. After the last few changes I'll be back on docs! That's probably in about 2-3 weeks

[2017-04-11 09:46] ThomDietrich commented on #334
Thanks @brharoh, from what I am able to see, this should all be covered in docs by now. If one or two points are missing from your point of view, **please** comment and reopen the issue! Thanks for your contribution ;)

[2017-04-11 09:46] #334 closed

[2017-04-11 09:50] ThomDietrich commented on #291
Should be part of #250

[2017-04-11 10:41] halfbaked commented on #204
@ThomDietrich PR here https://github.com/openhab/openhab-docs/pull/371

[2017-04-22 10:08] houxiaodong opened #375 "how should I do my customization UI Layout？"
hello，
  everybody， we want to use the layout of our own design,now. but we do not know how to start custom UI layout ? have anybody konw something?please give me some help,thanks!

[2017-04-22 12:08] kaikreuzer commented on #375
Please use our forum at https://community.openhab.org/ for general questions - thanks!

[2017-04-22 12:08] #375 closed

[2017-04-23 11:16] wborn opened #376 "Recommendation for using SNAPSHOT over official release"
The documentation suggests installing a SNAPSHOT version is better because openHAB 2 is still under development. I doubt these statements still fully apply now that there is a final 2.0 release.

See for instance:

* http://docs.openhab.org/installation/index.html#setup-variants :
[code]

----

* http://docs.openhab.org/installation/macosx.html :
[code]

[2017-04-25 14:49] ThomDietrich commented on #376
Absolutely correct, we've missed that despite heavily updating the (maybe most important) linux article frequently.

[2017-05-02 16:59] #376 closed

[2017-05-03 12:47] halfbaked commented on #368
PR accepted

[2017-05-03 12:47] #368 closed

[2017-05-03 17:45] halfbaked opened #382 "Iconsets"
There seems to be a gap in the docs around icons and icon sets generally. In the items section we have the following:

There is enough info to muddle through, but it lacks a proper overview of how iconsets and bundles fit together. Is there only one iconset called classic? Why is it called classic and not default? A legacy reason maybe?

Asking a user to put the custom icons in /conf/icons/classic

[2017-05-09 13:08] michel53 commented on #53
"For the technically interested: The sitemap definition language is an Xtext DSL."
The "Xtext DSL" link
https://github.com/openhab/openhab1-addons/blob/master/bundles/model/org.openhab.model.sitemap/src/org/openhab/model/Sitemap.xtext
leads to a 404 error.

[2017-05-09 14:45] ThomDietrich commented on #53
Thanks @michel53 !

[2017-05-12 14:12] Idus opened #384 "Tutorial (Beginner) catch 22(?)"
Hello,

Yep, a true beginner here... trying to follow your tutorial for my new Raspberry Pi 3, model B

1. Downloaded preconfigured image openHABian (ver. 20170317)
2. Etcher:ed my SD
3. Inserted and booted RPi... waited loong time until need to login (openhabian/openhabian)
4. System told me it skipped(!) WiFi setup and no Ethernet cable - so stopped and need to be restarted???? No way to moving

[2017-05-13 13:34] ThomDietrich commented on #384
Hello Idus,
The documentation article at http://docs.openhab.org/installation/openhabian.html already tries to clarify most of the problems you are describing. One of these can be found in the "Raspberry Pi" section:

Ethernet should always work. If it didn't for you, something pretty was pretty weird. Wifi is not mentioned there... Wifi is a slightly more complicated topic because you need to sup

[2017-05-23 07:24] martinvw commented on #203
So this is the issue you were actually referring to, can you assign it to me?

[2017-05-23 12:16] ThomDietrich commented on #203
@kaikreuzer could you add martin as a contributor so I can select him as the assignee. If possible you could also give the privileges to do so to me...

[2017-05-23 19:26] kaikreuzer commented on #203
@ThomDietrich Done and done!

[2017-05-24 11:28] ThomDietrich commented on #203
Thanks Kai!

[2017-05-28 00:44] levimadeley opened #387 "issue with latest image and rpi3 install..it Fails"
i downloaded openhabianpi-raspbian-20170318-git9767b24-crc9616e8a1.img.xz
flashed to sd card using etcher.
followed instructions like a good little pleb(lol)
eth connection - power - hdmi
connects and tries to download some dpkg packages - comes up with "failed"
and asks for login, so i put in default login/passwords
login ok,
and thats it. some more notes that it failed.
rebooted tried again 2 mo

[2017-05-31 22:33] rkoshak opened #389 "Add documentation for the core actions"
The core actions (e.g. sendCommand, executeCommandLine, sendGetHttpRequest, etc.) are missing from the OH 2 docs.

https://github.com/openhab/openhab1-addons/wiki/Actions#http-actions
http://docs.openhab.org/addons/actions.html

[2017-06-06 18:18] ThomDietrich commented on #387
Hello,
please discuss issues like these in the community forum openHABian thread: https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379

You should not work with the netinst image. We had a few problems in the past and will not continue it. Please retry with the raspbian based image. There are known issues with the setup, please just give it a second chance.

Closing the issue, pl

[2017-06-06 18:18] #387 closed

[2017-06-06 18:22] Sp4rtan commented on #384
I would like to join this conversation as I have a similar problem.
I tried to get things up with both the Pi3 and the Pi0w.
I followed the instructions strictly as mentioned obove.

As I have a pi0w wifi is my only choice.
After trying both of my wifi SSIDs I still cant establish any connection.

I dont know what else I could try... :/

[2017-06-07 09:48] ThomDietrich commented on #384
Are you working with a RPi3, RPi0W or Pine A64? The article seems correct, no clue why this wouldn't work.

Please come to https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379 for more discussion of the issue.

[2017-06-07 09:48] #384 closed

[2017-06-13 00:52] #176 closed

[2017-06-13 20:46] rkoshak opened #393 "Add to the Install Docs (?) how to change the default ports"
I was trying to answer [this](https://community.openhab.org/t/how-to-change-default-port-on-mac/29842) question and realized I couldn't find this information in the docs anywhere.

I expected it to be in the installation docs and then tried the Advanced Functionality and Configuration and couldn't find them there.

I remember there used to be several ways to do it including editing the start scrip

[2017-06-13 21:33] BClark09 commented on #393
For people using the apt-get installation, you should use the `/etc/default/openhab2` file. But for everyone else, changing the OPENHAB_HTTP_PORT and OPENHAB_HTTPS_PORT environment variables is all that is needed.

[2017-06-13 21:38] BClark09 commented on #393
Forgot to mention, this is currently described in the docs [here](http://docs.openhab.org/installation/security.html#webserver-ports)

[2017-06-14 09:48] ThomDietrich commented on #393
Hard to say if this position can be found easily... obviously not by most. Maybe move this one section over to somewhere around http://docs.openhab.org/installation/linux.html#java-network-permissions

@BClark09 Let's do something to clear things up a bit...

[2017-06-14 10:07] lolodomo opened #395 "Sitemap image element to be corrected"
item can now support image item in addition to String item.
It has to be explained.

[2017-06-14 10:37] BClark09 commented on #393
That'd be fine, but I guess it was put there because the statement applies across all operating systems. If it's moved to Linux, then additional instructions for each operating system need to be added.

[2017-06-14 10:40] ThomDietrich commented on #393
Yes but currently it's phrased for Linux, doesn't make sense then.

[2017-06-14 10:41] #395 closed

[2017-06-14 10:57] BClark09 commented on #393
Ah, so would moving only the apt sentence be appropriate? Keeping the environment variable statement where it is, or do you think it's best to move it to each install type? If the latter then we could add a quick how to set env vars which would be a little more helpful?

[2017-06-14 11:08] ThomDietrich commented on #393
How about a mix of your suggestions. Remove the Linux specific part; Add a hint "check the platform articles for details"; Add a section to all of these.

Did you see the linuxpkg PR?

[2017-06-14 11:28] BClark09 commented on #393
Sounds like a plan! :smiley:

[2017-06-14 12:38] ThomDietrich commented on #393
Wonderful. Who wants to go at it? @rkoshak??

[2017-06-14 16:28] rkoshak commented on #393
The current location of the docs (Security and Remote Access) is not an intuitive location. I'm more familiar with the docs than most and I never even thought to look there for this information.

(As an aside, what are the thoughts on a search function, do we already have an enhancement issue?)

Now just to be clear, what we are recommending doing is:

- moving the Linux specific parts from the ex

[2017-06-15 16:03] rkoshak opened #399 "Links to ESHD in the Migration Tutorial should point to the OH2 docs, not the ESHD Download Page"
The Migration Tutorial should reference the OH2 ESHD docs instead of going straight to the ESHD download page. This keeps our docs internally self-referential and allows us to provide additional information to the user that might be missing from the ESHD download page.

[2017-06-16 11:34] ThomDietrich commented on #393
Search function already exists :) http://docs.openhab.org/search?q=port+8080

List: sounds about right! Would be amazing if you can look into this. The [PR from before](https://github.com/openhab/openhab-linuxpkg/pull/49) should play along nicely with this.

[2017-06-16 14:06] rkoshak commented on #393
I'm blind. `<smacks head>`

I'll get started this weekend. Shouldn't take too much assuming I can successfully figure out how to switch branches. ;-)

[2017-06-16 21:48] kaikreuzer opened #401 "Binding menu has many duplicates"
The left menu comes with many duplicate entries for bindings (whenever there's a 1.x and 2.x version):

<img width="171" alt="screen shot 2017-06-16 at 23 45 53" src="https://user-images.githubusercontent.com/3244965/27245836-0ef8a7e0-52ee-11e7-8fc9-62dfd6174c9b.png">

This isn't really helpful and rather confusing (looks like a bug to the user).
I wonder if we should keep this long list at all -

[2017-06-17 16:07] ThomDietrich opened #402 "[Items] Continue article, Attend to PR comments"
All comments from this PR are still not included: https://github.com/openhab/openhab-docs/pull/250

Other issues are available related to the items article.

[2017-06-18 01:01] chmorgan commented on #202
Should this one be closed now that #282 was merged? I'm only asking because I'm looking to get into openhab hacking and stumbled upon this one and if it is closed its making it more difficult to identify issues that are still open.

[2017-06-18 01:52] AngelosF commented on #202
I will update this PR to introduce some small enhancements to the jsonDB docs entry (on top of what 282 introduced)
I will do this soon :)
Welcome to openHAB hacking ! 👍

[2017-06-19 15:55] #291 closed

[2017-06-19 15:56] ThomDietrich commented on #291
@metbril do you think this is solved?

[2017-06-19 15:56] ThomDietrich commented on #402
Further changes needed...

[2017-06-20 04:32] metbril commented on #291
@ThomDietrich You did a lot of hard work on that topic!

I think the autoupdate documentation will suffice for now. At least, people can be aware of the feature and we can safely refer or point out to it when needed.

[2017-06-20 11:52] ThomDietrich commented on #291
Wonderful :)

[2017-06-20 12:14] ThomDietrich commented on #393
@rkoshak  as discussed in https://github.com/openhab/openhab-distro/pull/443 it would be amazing if your addition covered the newly added interface option while you are at it. Thanks!

[2017-06-21 07:00] kubawolanin opened #408 "Move "Syntax highlighting for extenal editors" from openhab1-addons wiki"
There's an article about syntax highlighting presets for various editors:
https://github.com/openhab/openhab1-addons/wiki/Syntax-Highlighting-for-external-editors

It would be worth to move it to docs + mention [openhab-vscode](https://github.com/openhab/openhab-vscode) as well ;-)

[2017-06-21 08:07] bgilmer77 commented on #343
I support the addition of the note.  This is NOT expected behavior, and could cause unintended consequences for OH2 users.  This seems like a bug, but for now, at a minimum, we should put users on notice that this behavior is normal.

[2017-06-21 09:48] bgilmer77 opened #409 "1.x migration tutorial - Restart required when editing config files"
Issue:  The migration tutorial [here](http://docs.openhab.org/tutorials/migration.html) fails to mention that text-based config files are read-only, and that a restart is required in order for changes to go into effect.  This is particularly challenging because, when you make a change to a text-based rules file, a note appears in the log saying that the rules file has just been read.  Hum.  Read,

[2017-06-21 10:37] ThomDietrich commented on #409
Hello @bgilmer77,
thanks for this long description and the offered addition!

While I like your list and would very much like to include it in the tutorial (pinging @rkoshak for that) I can not agree with your main argument. Configuration files are always loaded and taken into effect immediately. I do however not understand what you are trying to do/achieve exactly, especially related to entry 5 o

[2017-06-21 11:54] bgilmer77 commented on #409
Not on my system.  But you were kind enough to point out that a number of changes have been made in the past few months.  I am on the stable distribution branch.  You suggested that I try the snapshot branch, which I will now do.

When I go to the snapshot branch, if I still have problems, I will open another issue.  Thank you.

[2017-06-21 12:15] ThomDietrich commented on #409
Yes, please let us know of your experience.
Let's leave the issue open as the other points on your list are still valid. Let's wait for @rkoshak 's opinion. In general if you think something is missing you can also open a PR right away.

[2017-06-21 12:32] bgilmer77 commented on #409
Okay - question.  Will switching to the 'testing' or 'unstable' apt distro get me to the snapshot, or should I just pull down the zip?  Also, given this situation, is it best to wipe the entire existing installation (apt-get purge openhab2), or should I install the snapshot over the existing installation?

[2017-06-21 14:44] bgilmer77 commented on #409
Reporting back.  Yes - installing the snapshot from cloudbees fixes my issue.  Changes in rules go into effect immediately.

[2017-06-21 16:01] rkoshak commented on #409
Some quick comments:

1. No problem with this. There was no JASONDB when the migration tutorial was first written (I think). This should be added somewhere, perhaps the Necessary Changes section where the other list of things that are different are listed.

2. Yes, however not all configurations go to JSONDB. For example, bindings installed through PaperUI go ??? (somewhere in cache presumably). I

[2017-06-22 20:43] rkoshak opened #411 "Documentation on Tags in the Items article should be more explicite"
In particular, the fact that the tag needs to be before the { }. I was only able to find this information in the ImperiHome readme.  It was not in the other binding's readmes which use tags.

[2017-06-23 08:59] Confectrician opened #412 "Restructuring styles/navigation for small screens"
While reading through the issues and especially #401 i decided to add this suggestion.

Browsing the docs in its current design on a phone is a mess, especially while reading trough a binding documentation, since the navigation stays opened.
Even if the in #401 mentioned duplicates get removed in that list it will be still very long.

Maybe it would be more comfortable to have this large Navigatio

[2017-06-23 10:49] ThomDietrich commented on #412
Hey @Confectrician and thanks for your input. I had the same thoughts as well, sadly didn't have the time yet to do the structural changes needed. The basic structure if the page is currently not ideal, especially in light of the functionality and help of the used framework Materialize. If you have any experience with web design I'd be happy to work on this together.

[2017-06-23 10:54] ThomDietrich commented on #401
Looking into it.
The problem is, that we can not remove the entries completely as the articles will not have an anchor in the menu, which can be seen as a bad design. In fact we had the page without the submenu entries just a few weeks ago and users were complaining about this.
Please give me a few days to look into the page design in general. There needs to to be some fundamental changes as I alr

[2017-06-23 21:06] ThomDietrich commented on #411
Related to #402

[2017-06-23 21:19] ThomDietrich commented on #343
I feel the same way. "System started" suggests a different behavior and this should (1) be documented and (2) solved.
@kaikreuzer I did a quick search and didn't find an issue where this topic is discussed. "System started" should only trigger when openHAB is started, another keyword could be introduced to execute on every change. Is there an issue or discussion we can refer to, do you feel we sho

[2017-06-23 21:27] ThomDietrich commented on #408
By all means. Let's do that.
I'm not quite sure where this content would fit best in the existing menu structure. How about next to the SmartHome Designer article: http://docs.openhab.org/installation/index.html - we could even extend this one.
The new article could be headlined "Editors", "External Editors" or something similar. Wdyt?

[2017-06-24 07:37] Confectrician commented on #412
Hi,

I have some kind of experience with web-design.
Nothing professional, but i worked with sass/css and ofc other web stuff several times.
Currently i am digging into jekyll since i have never worked with it, to get an impression of how the docs are build and to be able to take a look under the docs "surface".

Changing the navigation to an off-canvas menu would be no big deal, but as you mentio

[2017-06-24 09:05] Confectrician commented on #408
Agree.
I think that Editors in general should be separated from the installation Process.
They can be useful during the whole lifecycle of OpenHab so there's no reason to arrange them in the installation area.

I think configuration would be a good place.
We would have information there about how to configure things and which tools can help a user with that configuration.

[2017-06-24 15:37] Confectrician commented on #411
Related:
http://docs.openhab.org/configuration/items.html#item-definition-and-syntax

This is not only important for tags, it is important for all Item Syntax Elements.

I think the items article is clear enough for the syntax.
Maybe it would be better to add a hint to the Anchor above @ the Tag Docs on related Binding readmes.

[2017-06-24 16:19] Confectrician commented on #412
Maybe something like this could be a first Workaround.
![image](https://user-images.githubusercontent.com/7161177/27509886-c8eb26b4-5906-11e7-8e50-995aa81028f6.png)

But as i recognized while looking at the page on mobile emulation, there are some more things that could be more comfortable on a smartphone.

This:
![image](https://user-images.githubusercontent.com/7161177/27510005-a0506884-5908-11e

[2017-06-24 19:08] kaikreuzer commented on #343
No, there isn't any discussion.
The reason for the behaviour is rather simple: There is no "start time" of openHAB, as all components can come and go dynamically. So the system makes sure that every "system started" rule is executed as early as possible as soon as the system knows about it.

I wouldn't want to technically change anything there until we might have https://github.com/eclipse/smartho

[2017-06-25 10:58] bgilmer77 commented on #343
Thank you Kai for the explanation.  I have been running OH1 for a while and am now moving to OH2.  As a *NIX SysAdmin and native English speaker, I want to give back by contributing to the documentation, and I have just started working with Thom to learn how to do that.  I will contribute a little text around this to help others who come after me understand the behavior of the System started trigg

[2017-06-25 12:01] kaikreuzer commented on #343
Many thanks @bgilmer77, I very much appreciate your efforts!

[2017-06-26 18:51] ThomDietrich commented on #408
You are absolutely right. That's how the menu structure was supposed to be organized. The SmartHome Designer is listed under installation because at that time I saw setting it up as one of the first (installation) steps before actually using openHAB.
@kubawolanin you've opened the issue. Does this also mean, that you want to work out the PR or is the task free to choose?

[2017-06-26 19:04] kubawolanin commented on #408
@ThomDietrich I can certailny grab this one, but no sooner than in next week.
So for anyone concerned - feel free to submit a PR, I can provide my insights later on :)

[2017-06-27 08:25] ThomDietrich commented on #408
I'll try a quick edit today so there is a reference to your extension after the 2.1 release. No promises.

[2017-06-28 01:07] ThomDietrich commented on #248
While everyone is getting ready for the release of binaries I've been looking into code highlighting 🌈
@kaikreuzer @BClark09 which of those styles do you like better? I chose one which fits nicely and one that creates contrast.

![sample_jekyll-github](https://user-images.githubusercontent.com/2870104/27616211-54628864-5bae-11e7-9c08-2ae7f7d2e4d7.png)
![sample_tomorrow_night_eighties](https://user

[2017-06-28 08:01] BClark09 commented on #248
Nice! My vote would be for the first, I really like both but the first fits the general page much better.

[2017-06-28 08:23] kaikreuzer commented on #248
I agree with @BClark09!

[2017-06-28 09:34] ThomDietrich commented on #248
Wonderful. I tested a dozen and liked these two, I'll go with the first one.

[2017-06-28 20:28] #389 closed

[2017-06-28 20:35] rkoshak commented on #402
Some suggestions. Over all it looks good to me.

In openHAB "Items" represent all properties and capabilities of the user’s home automation.
The quotes around Items are not necessary. If you want o emphasize it use italics instead.

This is wording correct but comes off as overly technical. Maybe reword to something closer to:

"In openHAB, Items represent all the data and controls of the user's h

[2017-06-28 20:41] bgilmer77 commented on #343
@kaikreuzer I have created a pull request, adding a little text to explain the behavior of the System started trigger at #416 .  You might want to look at it to see if I have described the behavior correctly.  This is the behavior I experience on my system.
Thanks.

[2017-06-29 04:47] AngelosF opened #419 "Update `Install->Windows` for 2.1.0 download links"
Update the link for 2.1.0 Stable Release
Change from:
[code]

To:
[code]

Snapshot download link is ok

[2017-06-29 04:52] AngelosF commented on #419
Note: For now (!?) the snapshot link is ok since it still uses the 2.1.x naming (`openhab-2.1.0-SNAPSHOT.zip`)
I assume that soon (!?) this will change (to 2.2.0 ?) and we will have to update again the link for the Snapshot download.

[2017-06-29 06:22] #419 closed

[2017-06-29 06:22] kaikreuzer commented on #419
Correct, by tonight we also should have a 2.2.0-SNAPSHOT available.

[2017-06-29 12:08] kaikreuzer commented on #419
2.2.0 snapshots are now available. Created https://github.com/openhab/openhab-docs/pull/421.

[2017-06-29 17:15] ThomDietrich commented on #62
@kaikreuzer bringing this back to life. You don't have to read the above, just answer me this real quick:
The update.sh script currently pulls the other repos which are included as submodules, then copies over relevant content.
In my opinion the submodule solution brings more problems than benefits. Are there any arguments against removing them and temporarily cloning the repos inside the script?