[2017-06-30 18:29] Confectrician opened #424 "Eclipse IoT Marketplace Integration Page is missing in the Side Navigation"
Hi,
 I was looking for some other things and noticed that the Eclipse IoT Marketplace Integration Page from PR #415 is missing in the Navigation.
I simply wanted to add it with a PR, but didn't know where to mention it.

The article itself is stored within the _configuration_ folder of this repo,
but maybe _addons_ would be a better playce for the .md and the navigation entry.

Wdyt?

(Rookie ques

[2017-06-30 20:25] kaikreuzer commented on #62
"temporarily cloning" sounds if it will take much much longer. At the moment, the script only does a pull of the latest changes and it is very quick to do an update.
What kind of issues do you see with the submodules? They are merely a reference to other repos and by default not being checked out, so they do not impact the "real" repo in any way.

[2017-07-01 00:00] ThomDietrich commented on #424
Hey @Confectrician, good catch. You are right and this entry should be added.
The article is linked [here](http://docs.openhab.org/addons/io.html) *inside the article* and adding the menu entry at the right position is [easy](https://github.com/openhab/openhab-docs/blob/gh-pages/_includes/user-menu.html#L129-L130). Please create the PR 😉

Regarding the rookie question: No problem there. You can ch

[2017-07-01 19:33] ThomDietrich commented on #62
If or if not a submodule is checked out (by default) is sadly depending on your git clients configuration. Mine does it by default, I can only imagine others do the same.

Ideally only a pull of the latest changes is needed. You are assuming that the submodules were cloned before, which is (see above) not normally the case. I get that you are referring to your setup as you are running the update s

[2017-07-01 20:20] kaikreuzer commented on #62
I am ok with removing the submodules, but I would wish that the update script does not do a temporary cloning, but that it only clones the repos in a specified path if they aren't there already - if they already exist, the latest changes should be pulled only. This way we can keep the processing quick as it is today without bothering any docs contributors with it.

[2017-07-01 20:43] ThomDietrich commented on #62
Sure thing 😉
I'll look into this soon.

[2017-07-02 14:40] hannibal85 opened #425 "Addons: exec-binding default parameters missing"
Hey,

while migrating from openhab 1.x to 2.1 I struggled a little bit with the documentation of the exec binding.

Because I just want to use the `run` channel I skipped all the parameters ending with the exec command running every minute.
It took me some time troubleshooting to find out that I have to specify `interval=0` to prevent the script from running every minute.

So I think it would make

[2017-07-05 18:24] BClark09 opened #430 "{{LatestVersion}} and {{SnapshotVersion}} variables"
Perhaps added to base, or have javascript automatically calculate them, using these variables keeps things up to date quickly/automatically. Especially when using download links:

e.g:

[code]

[2017-07-06 04:22] kaikreuzer opened #431 "Padding lost on documentation homepage"
Somehow the padding got lost here, making the page look slightly broken:

![bildschirmfoto 2017-07-06 um 11 14 00](https://user-images.githubusercontent.com/3244965/27895471-30371fbe-623d-11e7-8393-1fb3d085ad0d.png)

I assume that wasn't by intention?

[2017-07-06 08:23] Confectrician commented on #431
Maybe padding-related too:
![image](https://user-images.githubusercontent.com/7161177/27902183-1956fbd2-6235-11e7-8c75-89f36c358ffb.png)

[2017-07-06 10:35] ThomDietrich commented on #431
Wasn't by intention, check!
I didn't see that because my screen is wider.
@Confectrician that's unrelated. This happens because of the general structure of the page.

[2017-07-06 15:36] #424 closed

[2017-07-06 21:02] Confectrician commented on #408
I am working on a quick n dirty import of the wiki article now.
(+ first addition of a vs code section)
Smart Home Desigenr not included atm, but thats a smaller update, when the Editors page itself is existing.

2 Questions.

Is the Navi position fine for you?
![image](https://user-images.githubusercontent.com/7161177/27932663-e631c664-629e-11e7-8fe8-0a634b1be283.png)

Can someone organize the ol

[2017-07-10 09:41] AngelosF opened #436 "Fix mixed slashes in openHAB2-wrapper.conf (Win Service Install)"
Current Windows Service Installation instructions ([Step 4](http://docs.openhab.org/installation/windows.html#starting-openhab-as-a-service)) include a `openHAB2-wrapper.conf` with mixed slashes (`/` and `\`).

The config works but we should update all the slashes to `\` (backslash.... windows style) for consistency.

Ref: https://github.com/openhab/openhab-distro/issues/478#issuecomment-313114369

[2017-07-11 15:46] #436 closed

[2017-07-11 19:09] 130s opened #439 "Commandline-only openHAB server setup instruction"
I'm writing a script that allows install and set up openHAB server with demo addons without any interaction on web-based UI, in order to test my apps on CI where no GUI-interaction is basically available. Here being able to setup everything via commandline is very beneficial. I don't think I've run across any tutorial for doing that so far.

- If one exists, I appreciate you point me there (found

[2017-07-12 03:20] kaikreuzer commented on #439
Sounds like a great idea, I would be happy to see such a tutorial! And no, we currently do not have anything like that, so your help would be highly appreciated.
I'll leave the details of the how and where to @ThomDietrich, though :-)

[2017-07-12 08:15] ThomDietrich commented on #439
I agree, a nice idea!

I wonder about the exact nature of your tutorial. If you want to specifically talk about how to set up openHAB without GUIs from a CI then it sounds like a great addition to the ["Tutorials & Examples" forum category](https://community.openhab.org/t/about-the-tutorials-examples-category/15581).

However what would be interesting: The [Basic Tutorial](http://docs.openhab.org/

[2017-07-12 15:11] mueller-ma opened #440 "Remove Google Fonts"
Do we really need the fonts hosted by Google? This decreases privacy.
openHAB stands for freedom and privacy!

[2017-07-13 20:34] shakerb opened #441 "WAF (Wife Acceptance Factor)"
A friendly suggestion: please drop the "WAF" in your Introduction page - "... And here is where openHAB shines: It is very stable, has apps for all different end devices, allows voice interaction, etc, so once installed, it has a very high WAF...".

A 1950's term, it smacks of gender stereotyping, and distracts from the otherwise good intro for a great product.

Thank you.

[2017-07-13 21:36] AngelosF commented on #441
I have to agree with you :)

I don't know where is (if there is) a repo for https://www.openhab.org/introduction.html

In docs.openhab.org the WAF term appears only in http://docs.openhab.org/addons/bindings/caldav-command1/readme.html

An issue should be raised also in https://github.com/openhab/openhab1-addons/tree/master/bundles/binding/org.openhab.binding.caldav-command

[2017-07-13 22:44] BClark09 commented on #441
I also agree!

The repo for the website is found at: [openhab/openhab.github.io](https://github.com/openhab/openhab.github.io)

[2017-07-14 04:09] kaikreuzer commented on #441
Thanks @shakerb, I have removed that part!

[2017-07-14 04:09] #441 closed

[2017-07-14 06:27] AngelosF commented on #441
just a note: I added:
https://github.com/openhab/openhab1-addons/issues/5248
&
https://github.com/openhab/openhab1-addons/pull/5249

[2017-07-14 12:32] ThomDietrich commented on #441
Good catch. Thanks @shakerb and @AngelosF

[2017-07-15 11:12] jboeddeker opened #442 "SNMP binding documentation is outdated / undocumented feature"
I was experimenting with the SNMP binding and discovered the documentation is a bit outdated:

http://docs.openhab.org/addons/bindings/snmp1/readme.html#item-configuration

At least in my install of openHAB 2.1 i am able to bind string items to SNMP as well.
This item definition properly shows the port description of my TP-Link SG3424 switch.
(IP Adress replaced with x.x.x.x)

`String switch1p17na

[2017-07-15 11:25] jboeddeker commented on #442
wrong  location

[2017-07-15 11:25] #442 closed

[2017-07-15 18:57] ThomDietrich opened #443 "Marketing term for JSR223 scripting"
Continuing from #428

[2017-07-15 18:58] ThomDietrich commented on #443
Reply bei @BClark09:

[2017-07-15 18:58] ThomDietrich commented on #443
Reply by @steve-bate:

[2017-07-15 18:59] ThomDietrich commented on #443
What do the others think? @smerschjohann @kaikreuzer @martinvw and others

[2017-07-15 19:13] martinvw commented on #443
I do agree the current term is to technical so I would be happy with a correct but not to technical name 😄

[2017-07-15 19:35] BClark09 commented on #443
My vote is on "Scripting for openHAB", I also agree with @steve-bate and think we should also allow people to add these scripts to a "scripts" directory as well as the jsr223 directory (for legacy).

[2017-07-15 19:36] ThomDietrich commented on #443
I like @BClark09's suggestion to follow "Scripting for the Java platform" and call it:
"Scripting for openHAB" or "Scripting" in short. It's meaning is intuitive while still having a technical touch and the term doesn't have a fixed meaning in the openHAB world yet. Users can later also talk about "scripting examples/solutions" or "Jython scripting". The term will be easy to establish and grasp

[2017-07-15 22:38] mueller-ma opened #445 "Favicon has white background"
and I dont know why.  openhab-docs/_iconsets/classic/icons/favicon.ico seems to have a transparent background

[2017-07-16 05:18] kaikreuzer commented on #443
This won't work as the "scripts" folder specifically ONLY accepts xtext scripts (i.e. "old" rule engine stuff, just like "rules" is only for Xtext rules.

We already had a [long discussion in January](https://github.com/eclipse/smarthome/pull/1783#issuecomment-269971226) about that and the outcome was the `automation/jsr223` folder.

I don't think that "Scripting for openHAB" is in any way specifi

[2017-07-16 05:33] kaikreuzer commented on #443
More on the topic of the original question: I agree that jsr223 is very technical and I am fine with finding another term for it. But I think the right term might differ per topic that we want to describe.

Looking at the Python examples, we are actually looking at programmed classes and not at all at scripts...

[2017-07-16 09:34] ThomDietrich commented on #445
Good question, I've thought about this as well. The reason might be, that the background of a browser tab is not known to us and colors might mix poorly. Just think about this firefox addon as an example: https://addons.mozilla.org/de/firefox/addon/colorfultabs

Let's learn from others:

![grafik](https://user-images.githubusercontent.com/2870104/28246457-a5ab9916-6a1a-11e7-95f6-00e57eb049d9.png)

[2017-07-16 11:13] steve-bate commented on #443
I never understood during that discussion why it was so important to have only Xtext scripts in the scripts directory. I don't think having all scripts there would cause significant confusion for the users and could possibly be less confusing. I understand that there might be a technical issue with Xtext rules only being able to invoke Xtext scripts rather than any JSR223 scripts (not sure if that

[2017-07-16 11:13] mueller-ma commented on #445
I have the firefox dark theme and the github icon is very bad readable. IMO the android icon might not fit perfectly because of the cast shadow which is very android like.
We should wait for https://community.openhab.org/t/openhab-logo-update/31242.

[2017-07-16 12:12] BClark09 commented on #445
Also these sorts of icons (when you bookmark a page for example) get rather lost in other UIs for example in some versions of IOS, where any transparency is filled with black.

Out of the first three, two would be most appropriate although it'd probably be cleaner to just round off the four corners instead of trying to wrap round the icon.

[2017-07-16 14:34] kaikreuzer commented on #443
I think you did not really get my point, let me try to explain again:

"Scripting" is after all just a technical term for "programming" - and in that way it is equally technical & unspecific as "jsr223".
There is nothing like "scripting for openHAB/ESH", just like there isn't anything like "programming for openHAB/ESH".
Yes, openHAB already uses "script" as a terminology and it has a very specific

[2017-07-16 17:38] steve-bate commented on #443
Based on this clarification I think I did understand. However, I have a very different perspective. Scripting is a kind of programming but that doesn't make "scripting" and "programming" synonymous terms. I would hope you would agree that almost all the existing openHAB functionality is implemented using programming tools and techniques that would _not_ be considered "scripting" by practically any

[2017-07-19 22:09] ghys opened #447 "Chocolatey option to install on Windows"
Hi,
I recently thought openHAB could use a [Chocolatey](https://chocolatey.org) package for Windows, only to discover that @bcurran3 already made one 🎉  (kudos to you!)

https://chocolatey.org/packages/openhab

So a great option to have openHAB running on Windows very quickly (for instance to try it out locally) is to [install Chocolatey](https://chocolatey.org/install) and then simply do:

    ch

[2017-07-20 08:51] kaikreuzer commented on #443
So what would you call a binding implemented in Jython through JSR223 then? Is it scripted or programmed?

No, definitely not if this "jsr223 script" is a binding or a rule module type handler.

So you mean it would be better to have a single "conf" folder where people can throw in anything they like (rules, add-on configurations, item files, etc.)? I indeed prefer it a bit more sorted, so that th

[2017-07-20 09:37] ThomDietrich commented on #447
That's great! @bcurran3 anything you want to add? What are the limitations of this approach? Is a change of the location to `C:\openHAB2` possible? Great work!

[2017-07-20 09:45] AngelosF commented on #447
`so I'm opening this issue to consider it as an alternative in the Windows install instructions page.`

Absolutely with you!
The current set of instructions for the windows installation (and service deployment) are far from perfect :)

I will test this choco package manager and provide feedback.  So far, it looks great!

[2017-07-20 13:01] kubawolanin opened #448 "[Proposal] Automatically deploy Tutorials & Examples to the docs"
I've discovered that Discourse (forum engine that openHAB Community uses) has a great feature that allows you to get raw post's content

Let's take this great on-going tutorial post on advanced HABPanel usage written by @ghys:
https://community.openhab.org/t/30755

We could easily deploy this content dynamically by taking the latest content of it from here:
https://community.openhab.org/raw/30755

[2017-07-20 13:13] ThomDietrich commented on #448
Hey @kubawolanin, .... WOW!!
I never even considered this to be possible. I always thought it would be amazing to include some tutorials&examples in the openHAB docs while leaving them open for discussion (and improvement) in the community.

Some community articles are already linked here: http://docs.openhab.org/tutorials - they could easily be mirrored to the documentation articles. I'd make sur

[2017-07-20 13:16] ThomDietrich commented on #448
Side note: In case you didn't know, Discourse threads can be configured as "wiki threads" , making the first posting writable by all users. That could be something we could start opening up for some tutorials to allow easy contributions.

[2017-07-20 13:21] ghys commented on #448
I think it's a great feature, I've made the post referenced above by @kubawolanin a Wiki thread as I like the idea of it being a "working document" - easily editable when anyone just thought about something to add, spots an error or feels like adding a new chapter.

[2017-07-20 16:41] kubawolanin commented on #448
Absolutely! [This page](http://docs.openhab.org/tutorials/) is the best place for that kind of content.
I'm now thinking of dynamically fetching list of compelling tutorials dynamically for it.
We could perhaps replace `Here are just a selected few of the existing tutorials and examples` with a dynamic list generated from here:
https://community.openhab.org/c/tutorials-examples.json

(I recommend

[2017-07-20 21:13] rkoshak opened #449 "JSR233 Docs references contradictory paths"
That is the conf folder, not the USERDATA folder. So either the USERDATA needs to be changed to CONF or the path should be changed to /var/lib/openhab2/automation/jsr233.

I do not know which is correct or I'd just make the change myself.

[2017-07-20 21:48] Confectrician commented on #448
That would be a great improvement to the static docs page.

Maybe something like the "Top 10 trending tutorials" or sth like that would be also really nice.
So a visitor would be able to see the variety of usescases and solutions.

[2017-07-20 23:56] BClark09 commented on #448
"You da real MVP" ;)

[2017-07-21 05:11] kaikreuzer commented on #449
It must be CONF, not USERDATA!

[2017-07-21 11:14] BClark09 opened #451 "Recommendation of Zulu"
The [main installation page](http://docs.openhab.org/installation/index.html#prerequisites) mentions that Zulu's only disadvantage is that it's not available as a package for most systems default repos, but it's very simple to install in each:

 - [Deb based linux](http://zulu.org/zuludocs-folder/Content/ZuluInstallationGuide/PrepareZuluPlatform/AttachAPTRepositoryUbuntuOrDebianSys.htm)
 - [RPM ba

[2017-07-21 11:17] bcurran3 commented on #447
@ThomDietrich - Don't promote because it's just fun volunteer work. :) I've got a few hundred packaged up programs.

I can package the next release to install to c:\openHAB2. It's not a big deal at all. Before doing so, any particular reasoning there? Personally I hate filling up the root of my hard disk, I like all my programs put somewhere else. Since openHAB basically just extracts and runs, it

[2017-07-21 11:22] bcurran3 commented on #447
The nuspec and scripts can be found in my repo. Feel free to make a pull request if you see anything that could be better.
https://github.com/bcurran3/ChocolateyPackages/tree/master/openhab

[2017-07-21 11:50] ThomDietrich commented on #451
The main installation page already states

but I'd say yes to changing the disadvantages section and to update the linux article. In the Linux article we could just link the official Zulu instructions. We don't need to duplicate content from another source unrelated to openHAB. Wdyt?

[2017-07-21 13:08] BClark09 commented on #451
Absolutely, I can do that but probably during the weekend. Could you assign this issue to me please?

[2017-07-22 12:04] steve-bate commented on #443
Yes. Either answer is correct. Scripting is a subcategory of programming, not synonymous with it. The artifacts created by the script (like a binding) seems to me to be irrelevant to the question.

I should have been more precise. The artifacts created by a JSR223 script can be used (or called) from scripted rules (which are just another artifact). This includes abstract bindings or rule module ty

[2017-07-22 20:16] ThomDietrich commented on #448
I don't know what the fuzz is all about. Firefox/Palemoon has a JSON viewer builtin 😃

![grafik](https://user-images.githubusercontent.com/2870104/28494320-0756c93c-6f2b-11e7-960b-28514270803f.png)

Back to the topic: I'm not so sure about the "Top 10 trending tutorials". The list should be a meaningfully ordered list of selected tutorials. The json and the raw view of a thread will still be usefu

[2017-07-22 20:45] ThomDietrich commented on #449
Actually it should be `$OPENHAB_CONF` 😃

* Proposal: #189
* Truth: https://github.com/openhab/openhab-linuxpkg/blob/master/resources/etc/profile.d/openhab2.sh

Would you please update your PR?

[2017-07-22 20:46] ThomDietrich commented on #189
For orientation: https://github.com/openhab/openhab-linuxpkg/blob/master/resources/etc/profile.d/openhab2.sh

[2017-07-22 22:47] BClark09 commented on #189
Yeah I like the sound of that!

A copy and paste job for our automatic users would probably be a good thing!

[2017-07-23 17:54] Confectrician commented on #448
I thought about this as an **additional** thing, that would be interesting maybe.
But you are right, thats not a topic for this issue. :)

[2017-07-23 20:57] ghys commented on #447
@bcurran3 the upgrade script is meant to automate the [non-trivial tasks](http://docs.openhab.org/installation/windows.html#updating-the-openhab-runtime) necessary to perform an upgrade while retaining the user configuration. But currently it also downloads the openHAB distro from either cloudbees (for daily snapshots) or bintray (for stable releases); if the user is upgrading through choco those

[2017-07-24 13:01] kaikreuzer commented on #443
I think I start seeing where the confusion comes from.

You seem to think about jsr223 scripts as "code that is added to the classpath", so similar as (compiled) Java code can be thrown into "add-ons", you would want a folder (tree) where you can put any kind of scripted code.

What you are missing here is that openHAB is not a monolithic Java application, but that it is highly modular and differe

[2017-07-24 21:54] steve-bate commented on #443
If I'm missing something, it's not that. I understand OSGi class path behavior and Java class loaders in general.

Not true. The Jython scripts can define services for those types of components and register them with OSGi using the bundle context of the JSR223 script loader. Take a look at my GitHub repo for several examples. Although the components are currently defined in separate scripts, they

[2017-07-25 06:13] bcurran3 commented on #447
There is a Automatic Update (AU) system that the Chocolatey Core Team and other package maintainers use. I started looking in to it one night, late at night, and it looked like a convoluted mish-mash of various technologies that had way too much reading for me to take on and understand that night. At some point I will get back to it. It's basic premise is that check files on the web for new versio

[2017-07-25 07:01] ThomDietrich commented on #447
(Related to #180 and maybe #365)

Hello @bcurran3 👋

you are absolutely right, there is no apparent reason to choose `C:\openHAB2`. The problem is, that parts of the openHAB folder will need write access by the user, parts are written to by openHAB itself. The folder in it's completeness is hence not suited for the `C:\Programs` folder (as you already know). Putting everything into e.g. `C:\Progra

[2017-07-25 09:56] #451 closed

[2017-07-26 01:21] bcurran3 commented on #447
In the case of the Chocolatey package and putting it in \programdata\chocolatey\lib\openhab, I assign rights to the installing user account in the script:

[code]

It probably doesn't work for everyone, but it probably works for most.

The suggested segmentation would look right for a typical program, but I don't see OpenHAB as typical. Since OpenHAB is basically a server, I don't see any advantag

[2017-07-26 03:21] cygtoad opened #456 "Documentation Correction"
Greetings,

At this URL:  http://docs.openhab.org/administration/index.html

is the following text:
________________________________
Contributions Wanted

Help improve the openHAB 2 documentation! If you'd like to leave corrections, additons or comments for this article or any other part of this website, please drop a word at:
________________________________

The word additions is spelled incorre

[2017-07-26 04:53] ghys commented on #447
A fair point IMHO.
Also after reading https://chocolatey.org/docs/create-packages#installation-paths and https://chocolatey.org/docs/chocolatey-faqs#what-distinction-does-chocolatey-make-between-an-installable-and-a-portable-application the advice seems to be to use `%ChocolateyInstall%\lib\mypackage` or `%ChocolateyBinRoot%` and avoid `Program Files` unless the program being packaged has a full-f

[2017-07-26 09:08] bcurran3 commented on #447
In the Chocolatey package installation for OpenHAB, I do create a shortcut both on the desktop and in the Start Menu.

If Zulu is the preferred JVM, I can switch to that easily enough. (Just confirm please.) If OpenHAB 2.2 is close, I can switch to it in the next package release. If 2.2 is far out, I can update the current package.

[2017-07-26 09:46] BClark09 commented on #447
I'd agree that for a Windows installation it makes more sense to contain everything in the same folder path. Automatic Linux installations use the deb/rpm file path recommendations, so chocolatey installations should use `C:\ProgramData\chocolatey\lib\` recommendations IMO.

Zulu is indeed the preferred JVM, Oracle-JDK comes with licencing restrictions that most likely wouldn't be fit for the usua

[2017-07-26 10:16] bcurran3 commented on #447
I'm actually updating the Chocolatey package "as we type."

Of little importance: I'm updating it NOT to make a shim for karaf-service-win.exe.

Of probable importance - should the OpenHAB icon require Run as administrator? On Windows Server 2016 I get one UAC pop up when run as administrator but two UAC pop ups when the registry is read Seems to me that one user interaction is better than two.

I

[2017-07-26 10:19] ghys commented on #447
Yes, I meant a shortcut to the folder itself (or the `conf` subfolder actually) named "openHAB Configuration Folder" or similar, which would open it with explorer.exe.
And if Chocolatey ends up installing the Windows Service automatically (maybe this could be an option like `choco install openhab -PackageParameters "/installService"` a little bit like the [exclude 32/64-bit option of the jre8](htt

[2017-07-26 10:26] ghys commented on #447
I got those too (2 UAC prompts related to the registry on Windows 10). But only with your package, if I extract the openhab-2.1.0.zip and run start.bat I get no UAC prompts.

This step is actually optional, for offline installations, if it doesn't find the .kar files add-ons would be downloaded from the Internet as required.

[2017-07-26 10:43] bcurran3 commented on #447
This could be easily done. Do you think it's that helpful? I just don't want to take flak for creating too many icons. In Start Menu, it makes sense to make a OpenHAB menu item with multiple shortcuts, I just think it might be too much to drop on the desktop.

I have to read the docs for setting it up as a service, but I'm all for the option to do that.

I probably should create an icon to launch

[2017-07-26 10:46] bcurran3 commented on #447
I'll probably rename the current openHAB icon "openHAB runtime" and create the browser icon as "openHAB GUI."

[2017-07-26 10:53] bcurran3 commented on #447
Just installed and tested on my Win10 desktop and it doesn't pop up any UAC prompts. Yet, it still does on my Windows Server 2016. I've changed some permissions on the server, but it looks like the only difference is full access by which account was used to install the package. On my server it's domain\admin on my desktop it's domain\bcurran. Both have SYSTEM, local Administrators with full contro

[2017-07-26 10:56] ghys commented on #447
I think if we manage to make openHAB run as a service it will run as the SYSTEM account, so we won't have to worry about UAC anymore :)
I'll try to have a look at it later.

G'night :)

[2017-07-26 11:23] ThomDietrich commented on #447
Why exactly? This doesn't make sense to me. openHAB is a program the user installs configures and uses. It qualifies as a typical program and should hence follow formalities known from windows software.

The installation method (chocolatey) shouldn't dictate a special installation path, even worse, a path containing chocolatey in the name. I do not see programs being installed into NSIS or Inno Se

[2017-07-26 11:34] BClark09 commented on #447
Fair points as usual @ThomDietrich! I'm a little less clued up on the specifics, but my agreement was generally for use of being inside ProgramData. I also think that the binaries would be fine placed inside program files, but I did like chocolatey's arguments for it's defaults.

And the console?

[2017-07-26 12:03] ghys commented on #447
https://chocolatey.org/docs/chocolatey-faqs#why-doesnt-a-package-install-software-to-program-files
I think they wouldn't be too happy during the review process to see a package pending moderation going explicitely going against their recommendations. Anyways, my 2c 😁

I found the reason for the UAC prompts - the `runtime/bin/karaf.bat` script in the distro wants to launch regedit.exe multple times

[2017-07-26 12:20] BClark09 commented on #447
It'll only do this if `JAVA` or `JAVA_HOME` variables aren't set. I'm assuming you no longer get UAC prompts if you set JAVA_HOME?

[2017-07-26 12:25] ThomDietrich commented on #447
I think they wouldn't be too happy during the review process to see a package pending moderation going explicitely going against their recommendations.

I've looked at this recommendation just now and began to wonder if it would indeed be an option to create a **real installer** for openHAB?

[2017-07-26 12:30] ghys commented on #447
@BClark09 you hit the nail on the head.  Setting JAVA_HOME solves this issue. It's on my machine with the JRE installed by Chocolatey, I wonder why it wasn't set, the Oracle JRE installer should have done it? Weird.

Agreed. openHAB is meant to be running as a daemon/service so it doesn't really match the definition of a "portable app"...

[2017-07-26 15:16] ThomDietrich commented on #456
:rofl: that's like a meta contribution helping others to contribute

Thanks! I'll correct it.

[2017-07-26 15:18] #456 closed

[2017-07-26 20:08] RyanRamchandar opened #459 "docs.openhab.org/configuration/services.html is a broken link"
As found under Configuration in http://docs.openhab.org/configuration/index.html

[2017-07-26 20:10] RyanRamchandar commented on #459
Also referenced here:
[code]

[2017-07-26 21:56] #459 closed

[2017-07-26 21:57] ThomDietrich commented on #459
Thanks @RyanRamchandar, the result of a silly mistake a few days ago.
Sadly the article is still empty. We are not sure what to actually describe in the services article 😄

[2017-07-26 21:59] RyanRamchandar commented on #459
Great! thanks for the quick response.

[2017-07-27 01:54] bcurran3 commented on #447
Agreed. weird. My Windows Server 2016 app server VM doesn't have this value set, my every day Windows 10 machine does. Both should have had the JVM installed by Chocolatey. Keep in mind that they were installed at different times and thus different packages and versions.

The way I packaged up openHAB for Chocolatey it is a portable app as it's just unzipped and left to be ran later. There is no r

[2017-07-27 05:52] ghys commented on #447
Maybe openHAB could have 2 packages, actually :)
`openhab.portable` to try it out with no system-wide changes, to see if it works for you;
`openhab.install` to have it properly installed on your system in the right places, including a service, by a potential future installer

[2017-07-27 07:31] bcurran3 commented on #447
Yes. That's what I was thinking would work for the time being.

[2017-07-27 13:38] ThomDietrich commented on #447
Hey @bcurran3 :wave: thanks for all the work you are putting into that package. I think users will greatly benefit from your work as soon as the project is mentioned in the documentation. All my comments were aimed to start a discussion about possible improvement to your already great start. I did in no way intent to insult or annoy you or discourage your ambitions. Sorry if my comments came aroun

[2017-07-27 20:01] bcurran3 commented on #447
@ThomDietrich no worries and no offense taken.

Count me in to make the Chocolatey package as best it can be and I'm completely amicable to take any and all suggestions from the guys who created it.

I finally got openHAB 2.1 working for me last night. Still waiting on Nest and Insteon 2.x addons that work though. :)

Prost!

[2017-07-28 13:35] cygtoad opened #462 "Onkyo Binding Documentation Suggested Edits"
I am an OpenHab newbie, but I work in IT and have a degree in writing, so I wanted to contribute a little to the documentation.
I was able to get my Onkyo reciever to work with Openhab, well mostly, with the documentation located here: http://docs.openhab.org/addons/bindings/onkyo/readme.html

Generally it is well written, but here are some suggested edits:
_________
Edit 1:
In the Thing Configura

[2017-08-05 14:49] LightIsLife commented on #185
As I am a newbie to github, I thought I'd share my thoughts on this issue first in a comment.
I have developed some text that is based on Rich's post mentioned above.  As for the location, I would like to suggest to put this just before the Scripts section in the file on Rules (http://docs.openhab.org/configuration/rules-dsl.html#scripts). Anyway, here we go, let me know your thoughts. If it works

[2017-08-05 16:17] ThomDietrich commented on #185
Hey @LightIsLife,
thanks for that comprehensive contribution on this **important** topic. I'd say you can open the PR right away. As you said you are new to github, Here's the short explanation on how to do edits directly from the GitHub page:

1. Go to the rules sourcecode page: https://github.com/openhab/openhab-docs/blob/gh-pages/configuration/rules-dsl.md
2. Click the small "Edit this file" pe

[2017-08-05 17:02] LightIsLife commented on #185
Thanks much @ThomDietrich, I appreciate the encouragement and help. If I did everything correctly, PR#469 should be the one.
Thanks also for your comments, I worked a little more on the text, hope we are getting closer. Happy to continue working on it.

[2017-08-05 21:21] bdleedy commented on #447
@bcurran3

Let's be honest, openHAB isn't installing like a typical program, it's unpacking files. Most Java programs like this are simply unzipped into the root. However, I do feel that something like C:\Program Files (x86)\openHAB would be a better folder. I feel like ProgramData is a terrible idea.

[2017-08-07 11:22] ThomDietrich commented on #447
@bdleedy did you read the rest of the comments? `C:\Program Files (x86)\openHAB` will not work because this path is write protected in windows by design. Looking at all the facts you'll realize that ProgramData is the best location.

There is a fine difference and with the windows service and start menu entries, this effort is getting closer and closer to being an "installation".

[2017-08-07 18:51] bdleedy commented on #447
I did read and understand them. That's why I said 'something like' and 'except for'. I don't consider the write protection an insurmountable issue either...

...especially after you say something like that... Right? If it's moving towards 'installation', at some point it's going to be an 'installed application'. Btw, I agree and I am excited that it's moving in this direction.

[2017-08-09 18:16] LightIsLife opened #472 "Add section on type conversion to rules-dsl.md"
Suggested by @rkoshak in comments related to pull request #469, a section on type conversion needs to be added to the file configurations/rules-dsl.md.
Content of this section will be based on forum contribution https://community.openhab.org/t/type-conversions/32684 (also by @rkoshak). I am planning to develop a draft that can be discussed in this thread.

[2017-08-09 19:04] ThomDietrich commented on #472
Hey! This thread is in fact the result of a discussion between the two of us and we decided to start it in the community. Later we want to transfer it to rules-dsl.md :)

[2017-08-09 20:55] LightIsLife commented on #472
@ThomDietrich works for me, I am pretty agnostic as to where this discussion is best placed. @rkoshak suggested to raise an issue and discuss it here as a follow-up between the disucssion you and he had, you seem to prefer it in the forum, just let me know where you want to have this discussion and whether to should close this issue it what the desired etiquette is. Really not trying to be snippy,

[2017-08-10 11:21] ThomDietrich commented on #472
There's really no "etiquette" for this, don't worry. I always go with what I learned over the years: Use whichever channel works. In order to discuss such a wide topic many non-github users might have an opinion on I think the community forum is the better place to discuss the initial version of the document. We'll see how it goes, so far there were not as many answers as I expected. I've left a c

[2017-08-10 12:02] ThomDietrich opened #474 "openhab-docs gitter chat room"
The gitter chat is for openHAB documentation improvement discussion ONLY.
If you are looking for help with openHAB or for guidance with a problem (also because of documentation gaps) please contact the openHAB community forum: https://community.openhab.org

The issue tracker is still the number one place for improvement coordination. If you found an error in documentation or room for improvement,

[2017-08-10 12:25] BClark09 commented on #474
You would prefer slack to gitter then?

[2017-08-10 12:38] ThomDietrich commented on #474
No preference. I'm already using slack for three teams but gitter is also fine. Which would the others prefer?
(For whom doesn't know it: Gitter offers better integration with a repo, we could e.g. reference issue tickets and PRs directly)

[2017-08-10 15:52] rkoshak commented on #472
Actually what I meant, though I admit it wasn't clear the way I worded it, was it might be worth creating the issue just to track the edits, but that the discussion should take place on the forum.

But I'll second Thom, it's all good. The main thing is to make some progress, no matter where it occurs.

[2017-08-10 18:49] LightIsLife commented on #472
Thanks both, no problem....happy to work in whatever way is most convenient to you (as I have no preferred routine yet established :smile: ).  The forum it is to develop this issue

[2017-08-15 10:08] ThomDietrich opened #476 "Logging article update, log4j2"
In response to the merge of karaf 4.1.2 we should update the logging article, in general and with log4j2 specific notes. It would also be great to include examples for add-on specific logging and the possibility to add new appenders.

* http://docs.openhab.org/administration/logging.html
* https://github.com/openhab/openhab-distro/pull/484
* https://community.openhab.org/t/taming-openhab-2-logging

[2017-08-15 10:44] AngelosF commented on #476
Sure!
I started playing around already with log4j2 :)
https://community.openhab.org/t/log4j2-sample-config/33284

[2017-08-15 10:44] bgilmer77 commented on #476
I will take the admin page.

On Aug 15, 2017, at 5:55 AM, Thomas Dietrich <notifications@github.com<mailto:notifications@github.com>> wrote:

In response to the merge of karaf 4.1.2 we should update the logging article, in general and with log4j2 specific notes. It would also be great to include examples for add-on specific logging and the possibility to add new appenders.

  *   http://docs.openh

[2017-08-15 10:46] AngelosF commented on #476
I will review and add content later then.  Go ahead @bgilmer77 !

[2017-08-15 12:57] bgilmer77 commented on #476
@AngelosF it might be better if you go ahead and then I contribute later.  I won't be able to get to it for a couple of days.

[2017-08-15 14:44] ThomDietrich commented on #476
@bgilmer77 I've invited you to become a contributor for the openHAB project. That's needed to assign you to this and other issues.

[2017-08-15 14:48] bgilmer77 commented on #476
@ThomDietrich Done.

[2017-08-16 07:02] AngelosF commented on #476
@ThomDietrich @bgilmer77
should we prepare the PR against http://docs.openhab.org/administration/logging.html and wait till OH2.2 Stable will be released or push the changes now?

Most people are still on log4j1 since they are running versions lower than OH2.2 Snapshot 1009 that included the Karaf 4.1.2 which brings along log4j2.

I will start typing up a PR for this but we could either:
a) wait f

[2017-08-16 07:18] kaikreuzer commented on #476
@ThomDietrich I guess we are at the point where we really should think about the docu split into different versions - did you already spend any further thoughts on this? (btw, thanks for taking care about docs update regarding logging; this is again something that I didn't spend enough thoughts on when doing the Karaf upgrade...)

[2017-08-16 09:34] bgilmer77 commented on #476
@kaikreuzer, is the idea of a document split that there is one version for 1.x, and another version for 2.x? Or do you mean to split the documentation some other way?

[2017-08-16 09:56] AngelosF commented on #476
This is a good example of a docs split:

https://github.com/influxdata/docs.influxdata.com/tree/master/content/influxdb

i.e.:
Docs v1.1 : https://docs.influxdata.com/influxdb/v1.1/
Docs v1.3: https://docs.influxdata.com/influxdb/v1.3/

Maybe we should group the docs in the same way.

I also like the http://docs.grafana.org/ for the right hand menu (with "edit this page" and other nice links)

[2017-08-16 09:57] bgilmer77 commented on #476
@AngelosF - as you can tell, I was working through my email in reverse chronological order ;-).

Interestingly, I was just thinking about the steps to start on the logging section, and it first occurred to me that, since I am running Raspbian Jessie on the apt stable main branch, I would need to pull down the snapshot instead.  No problem - create a Ubuntu VM and do it.  But as you point out, most

[2017-08-16 10:13] kaikreuzer commented on #476
@bgilmer77 Please wait for @ThomDietrich to comment, we had this all already discussed in detail.
The idea is simply to have a documentation per version. After all, that was the main reason to move from a wiki to a versioned repo - it would not make sense to mix all infos for the different releases on the master branch of the documentation.

[2017-08-16 11:11] bgilmer77 commented on #476
I understand. Yes, using the power of a versioned repo makes sense.

On Aug 16, 2017, at 6:01 AM, Kai Kreuzer <notifications@github.com<mailto:notifications@github.com>> wrote:

@bgilmer77<https://github.com/bgilmer77> Please wait for @ThomDietrich<https://github.com/thomdietrich> to comment, we had this all already discussed in detail.
The idea is simply to have a documentation per version. After

[2017-08-18 07:00] kaikreuzer commented on #476
Just a word of warning - the Karaf guys just updated their docs to also [describe log4j2](http://karaf.apache.org/manual/latest/#_log4j_v2_support) configuration and they seem to have decided to go for XML instead of property file format.

In the light of https://github.com/openhab/openhab-distro/issues/516, XML might also be for us the better option - so I would suggest to not put too much effort

[2017-08-18 07:03] kaikreuzer commented on #365
We have an update script in place by now, what is still lacking is its documentation - this currently still [describes a manual process](http://docs.openhab.org/installation/windows.html#updating-the-openhab-runtime).

Any volunteer to update it?

[2017-08-18 07:13] AngelosF commented on #476
Isn't JSON prettier? :)
https://logging.apache.org/log4j/2.0/manual/configuration.html#JSON

I was thinking to try both alternatives (xml and json) and try to use json.

[2017-08-18 07:22] kaikreuzer commented on #476
Look at it, it is all red!
I think if we go with what Karaf uses, it might cause the least confusion. If there is some good reason to use JSON instead, I'm also open for it. But one argument for me against it is that it does not support comments, which is pretty bad for configuration files...

[2017-08-18 07:35] AngelosF commented on #476
Ok, I am a Panathinaikos supporter, so green is my color (closer to XML) !

Standing by for https://github.com/openhab/openhab-distro/issues/516 till docs update

We also need @ThomDietrich 's input with regards to the docs split :)

[2017-08-18 15:47] LightIsLife commented on #472
Development here on doc section for type conversion: https://community.openhab.org/t/type-conversions/32684 is coming to a good end soon. @ThomDietrich I would like your guidance soon on how to proceed; PR #469 is still pending and this new section on type conversion should go immediately after the text proposed in #469 (just before the heading Scripts); will this create conflicting pull requests?

[2017-08-19 08:14] MHerbst commented on #223
Hast been solved quite a long time ago ...

[2017-08-19 08:14] #223 closed

[2017-08-19 08:16] MHerbst commented on #164
Ther certificate is OK now, so this issue could be closes  @ThomDietrich

[2017-08-19 08:20] MHerbst opened #477 "Redirect all pages from http to https"
We were informed by Google that the website will be marked as "unsafe" in the near future.
Therefore we should redirect all pages to their https equivalents.

BTW: also the canonical links should use https instead of http:
[code]

This is orignal message (in German):

[2017-08-19 11:02] #164 closed

[2017-08-19 16:07] metbril opened #479 "Add notification actions to documentation"
The documentation is currently missing proper documentation for sending notifications from rules through the official openHAB mobile apps. At least, I have not been able to find it.

The wiki used to have it listed here: https://github.com/openhab/openhab1-addons/wiki/Actions but that page https://my.openhab.org/docs/notifications is now 404.

- `sendNotification(<user>, <message>)`
- `sendBroadca

[2017-08-19 19:42] #292 closed

[2017-08-19 19:45] ThomDietrich commented on #479
@maziman wdyt?

[2017-08-19 20:05] ThomDietrich opened #480 "Add menu entry for dashboard, copy external article"
An article on the dashboard was provided by @paulianttila with PR https://github.com/openhab/openhab-core/pull/185/files

A menu entry could be added alongside the "Configuration - Initial Setup" page. The dashboard is not really related to "Configuration", neither are some of the other menu entries. Maybe another top level entry is needed...

Related to #62

[2017-08-20 18:26] Confectrician commented on #479
In this case i would prefer:
http://docs.openhab.org/addons/io/openhabcloud/readme.html

[2017-08-21 09:03] mboremski opened #481 "Add Alexa to the docs"
Alexa has a "skill" for openHAB (jeah).
https://community.openhab.org/t/official-alexa-smart-home-skill-for-openhab-2/23533
Should we take that to the docs too?

[2017-08-21 12:44] ThomDietrich commented on #481
Yes we should! We totally missed to do so.
A README already exists, just needs to be copied: https://github.com/openhab/openhab-alexa/blob/master/README.md

This is related to #62 where I wanted to update the copying of external content.

In the meantime we could already improve the content of this README. @mboremski do you see any need for improvements? Best!

[2017-08-21 12:47] ThomDietrich commented on #481
Addition: After a first look it became clear to me, that the article can not be copied 1:1. It contains too many technical details not needed for the general openHAB docs article. I'd say an enhanced version of the second part of the README would be what we need. Would you be interested to build this document? I'd still leave it in the openhab-alexa repo, maybe as a new file USAGE.md.

[2017-08-21 13:10] cweitkamp opened #482 "Skeleton readme outdated?"
Referring openhab/openhab2-addons#2552

@maintainers Please assign me to this one.

[2017-08-21 13:39] ThomDietrich commented on #472
Heyho, on vacation right now but I'm doing a pool GitHub session right now. Let's see how far I come.
In general I'd agree, wee can start the PR soon. I already left a comment regarding uniformity, maybe you could do something in the direction? I was expecting more users to chime in... anyhow.

[2017-08-21 14:31] ThomDietrich commented on #482
Okidoki 👍

[2017-08-21 20:03] bdleedy commented on #365
I'm still working on the Windows restore script but this could be my next project if no one else takes it.

[2017-08-22 19:00] mboremski commented on #481
sorry for the late reply.
I am not sure if the alexa-repo ist the right place to manage the README/USAGE.
After the openhab-skill has been certified by Amazon (I think) there is just a readme needed that explains how to handle the Items. Maybe a howto integrate the skill in alexa-app, but thats easy stuff.

I could try to use some useful snipets out of the actual README an write a new one.
But I a

[2017-08-22 21:01] mboremski commented on #481
Ehm. I tried around a bit with a USAGE.md file, fount out that to contribute i should make a fork.
Thats what i did right now and I uploaded the file [here](https://github.com/mboremski/openhab-alexa/blob/master/USAGE.md)

could you have a look?

[2017-08-23 08:34] Confectrician commented on #481
Hi @mboremski,

## About the workflow:
Next step would be to create an **pull request** to the __openhab-alexa__ repository.
There we can discuss and improve the text and other people can comment single text parts.
Finally the Pull Request would be "merged", which means your changes would be implemented then.

Note:
You have currently made this changes in the master branch.
![image](https://user-i

[2017-08-23 09:22] ThomDietrich commented on #476
Hey guys!
Sorry still on vacation, the attention span is a bit short atm 😄

* XML over JSON for me because JSON was never designed to be a human editable format. E.g. with it's no-comments property. For an example what that motivates can be seen [here 😅](https://github.com/openhab/openhab-docs/blob/gh-pages/package.json).

* Versioning is still an important task on my TODO list. Our mistake back t

[2017-08-23 10:48] ThomDietrich commented on #481
Excellent answer @Confectrician !

One question I want to answer:

The openHAB project is heavily distributed among dozens of project repos. That is a good thing. Each project is part of openHAB but self-contained for one specific topic, e.g. to host all code related to the openhab-alexa skill. if changes to the skill and its features are planned, the repo should be the one and only place these ch

[2017-08-23 11:20] AngelosF commented on #476
I am not sure if I got it right... (it must be the summer time, beaches and beer) 🌞

I think that I agree, but let's clarify...

Should we go ahead and type up a completely new docs entry focusing on log4j2 and add some remarks whenever we have differences for the log4j1 content?

That would not be easy since the changes are mostly in the configuration section and that's not easy to cover with 2 s

[2017-08-23 11:31] ThomDietrich commented on #476
You are making a good point. Let's do that ;)

**Prost 🍻**

[2017-08-23 11:54] mboremski commented on #481
Hey @Confectrician
Thanks a lot for helping me with the first steps. That's really helpful.

hey @ThomDietrich
thanks too, that made it more clear to me. :)

Right now I am joinig gamescom in cologne.
I will have a deeper look in the evening..

[2017-08-23 15:38] bgilmer77 commented on #476
This seems like a good approach.  I will wait until @AngelosF has posted the first draft and then will comment, unless @AngelosF, there is some logical way to divide and conquer the work.  I expect not.  Usually it is best if the first draft is written by one person so it all has the same construction.  In any case, I am here if you need me to do anything.

[2017-08-23 21:37] mboremski commented on #481
Made some changes basing on your sugestions @Confectrician and finally made my first pull request.
Tell me if I have to or can do something more.
looking forward :)

[2017-08-23 21:46] Confectrician commented on #481
Will do that tommorow. :)

[2017-08-27 10:07] #185 closed

[2017-08-27 10:15] LightIsLife commented on #472
For reference, here the section that was deleted from #469. Just parking it here in the comments for now so it does not get lost as it was decided that it should be added to the type conversion text (this issue):

#### Details:

As all object-oriented computer languages, Java and the Rules DSL have implemented the concept of inheritance.
However, inheritance only applies to Objects and does **not*

[2017-08-27 10:56] #408 closed

[2017-08-30 19:48] ThomDietrich opened #484 "Fix syntax highlighting for the SCALE transformation article"
(Triggered by https://community.openhab.org/t/item-calculation-m-s-to-km-h/33758/7)

http://docs.openhab.org/addons/transformations/scale/readme.html

It would be better to transform this into a list rather than a code block. Also the examples are rather poor and unclear. Please feel free to grab this issue.

[2017-08-30 20:26] metbril commented on #479
_Sorry for not responding sooner, but my github notifications are not working, I am not getting any email from them._

Would you accept a PR for that page? I am happy to contribute.

[2017-08-30 21:11] marziman commented on #479
I am not completely sure if OH cloud is the right place. Just because OH cloud is in the chain, it doesnt need to be the "right place".
Can you explain shortly would you have in mind?

Thanks alot
BR Mehmet

[2017-08-30 21:12] marziman commented on #479
But: Of course your effort is important and we will find a home for it!
Thanks for your support..

[2017-08-30 21:25] metbril commented on #479
My intention is to add sufficient documentation for using above **actions** in rules e.g.

[code]

This documentation used to be available through the old wiki and the my.openhab.org site (which is offline now).

My first guess would be to add it to the actions page (like the mail action) and if needed refer and link to the openHAB Cloud.

[2017-08-30 21:37] ThomDietrich commented on #479
That indeed sounds like a good plan and would fit nicely in this list http://docs.openhab.org/addons/actions.html

Only problem we need to solve: The list in the second half of the page is automatically generated from all `README.md`'s found here: https://github.com/openhab/openhab1-addons/tree/master/bundles/action

[2017-08-31 17:02] Confectrician commented on #479
Big +1, this is a proper way to keep articles clean and focused on their topic.

[2017-08-31 18:08] Confectrician commented on #152
Hey @ThomDietrich,

Whats the word here?
There is a merged PR from 17 Jun.
Can this issue be closed or is there still something to do?

[2017-08-31 18:13] Confectrician commented on #165
I would suggest http://docs.openhab.org/administration/bundles.html

If you agree you can assign me and i will add a section about that.

[2017-08-31 18:52] metbril commented on #479
The source for http://docs.openhab.org/addons/actions.html is https://github.com/openhab/openhab-docs/blob/gh-pages/addons/actions.md.

The page consists of Core actions (fixed text) and Installable actions (generated). In which section should we include the notifications?

[2017-08-31 19:23] ThomDietrich commented on #152
Yes. This was mostly tackled in #250 and #404, some open issues not closely related are still documented in #402 😄

[2017-08-31 19:23] #152 closed

[2017-08-31 19:25] ThomDietrich commented on #165
👍 sounds right. Here we go...

[2017-09-01 04:58] AngelosF commented on #476
It has been almost impossible for me to find 1-2 hours of free time to sit down and type up the first draft of the docs article... :(

I will try during the w/end to see if I can progress this one.

[2017-09-01 11:30] bgilmer77 commented on #476
@AngelosF, no problem - I am standing by. I have put together a development system running the snapshot so that I can compare the two systems running the different loggers.

[2017-09-01 14:23] rkoshak opened #487 "The Mobile Version of the Docs Site Is Broken"
I do a lot of my support work on the forums from my phone. Here are my observations for what needs to be fixed for the mobile version that gets sent to phones and tablets. Screenshots are not working on my phone right now (no idea why) but I'll post some as soon as I figure that out.

Posting this issue to capture the problems. Most of these are structural and I've no idea how to fix them.

I'm us

[2017-09-01 14:27] ThomDietrich commented on #487
Heyho, I/we are aware of that. Without wanting to go into detail right now, all of this will be dealt with soon... You can expect more details in 2-3 weeks. Thanks for the list!

[2017-09-01 14:37] rkoshak commented on #487
I figured it was, just didn't see an Issue for it. Glad it's being worked. Is there an Issue open that I missed? If so we can close this one and point at that one.

[2017-09-01 15:01] Confectrician commented on #487
Not directly.

Here are some (minimal) related ones:
#431 #412

There were some discussions on how to improve the mobile look in general and rework the complete styles on long term.
Maybe that's why there have been no quick fixes yet.

[2017-09-01 15:29] ThomDietrich commented on #487
Exactly. I had a discussion with Kai recently and in response to that I'll propose something soon. Don't want to say anything prematurely, so please give me a few days to order my thoughts, then I hope to start an active discussion ;)

[2017-09-01 16:39] rkoshak commented on #487
Cool. Feel free to close this issue if it makes sense. It looks like everything is well in hand and covered.

[2017-09-03 11:47] ThomDietrich opened #490 "Write a REST API documentation article"
http://docs.openhab.org/configuration/restdocs.html

The REST API with the provided web interface is probably one of the most underrated components of openHAB. An article, maybe under "Advanced Functionality", should describe the value of the REST API and showcase the possibilities.

* Retrieve data from an external application
* Inject data from an external application
* Inspect a Binding/Thing/I

[2017-09-03 12:05] ThomDietrich commented on #341
Default is covered by now http://docs.openhab.org/configuration/sitemaps.html#element-type-default

The comment by @colski will be covered by #189.

Thanks!

[2017-09-03 12:05] #341 closed

[2017-09-03 12:34] kubawolanin commented on #490
Great idea!
IMO the simplest way to explore the REST API is by visiting the following URL:
http://demo.openhab.org/doc/index.html

Expanding each section will reveal the corresponding API endpoints along with the HTTP method to achieve what you need.

[Swagger](https://swagger.io/) is a great tool for exploring and designing APIs. Maybe it has a feature that generates a Markdown documentation as w

[2017-09-03 13:11] ThomDietrich commented on #335
Done.

[2017-09-03 13:11] #335 closed

[2017-09-03 13:12] #316 closed

[2017-09-03 13:23] ThomDietrich commented on #304
Hey,
please pay attention to http://docs.openhab.org/configuration/sitemaps.html#colors

So to answer your question and to potentially update this table, we need to bring @digitaldan in. The given table limits the wide selection of colors to a few that are supposedly also supported by the Android and iOS apps. @digitaldan could you shed some light on that? Which colors are supported, which are not

[2017-09-03 13:27] ThomDietrich commented on #312
@jeffsf and @stephenbonar Would one of you like to work on the second iteration?

[2017-09-03 13:29] ThomDietrich commented on #59
This was solved partly long ago.

Highlighting is working, a explicit openHAB DSL highlighting scheme is probably too complicated to implement AND inject in other systems (Discourse, Jekyll, ...)

[2017-09-03 13:29] #59 closed

[2017-09-03 14:45] ThomDietrich opened #491 "Sitemaps: Add a separate section on nested elements"
(Derived from https://github.com/openhab/openhab-docs/issues/53)

Many users struggle with Frames vs. the subview of Group items vs nested Items (curly brackets syntax).

In the Sitemap article a paragraph on "Blocks" exists but should be extended to its own section, with examples and to be able to link to from the community.

https://www.openhab.org/docs/ui/sitemaps.html#concepts

[2017-09-03 14:50] ThomDietrich commented on #490
Hey Kuba! The URL you've posted is what I was referring to as "REST API web interface". Of course every user has the same interface in his local installation as well.

Do you think something like this would be needed? After all the mentioned URL already does present the available options. A separate per-element documentation is imho not needed. It would be more important to describe what these RES

[2017-09-03 15:17] ThomDietrich opened #492 "Sitemaps: Add MapView Sitemap element"
(Derived from https://github.com/openhab/openhab-docs/issues/53)

All details needed can be found in this diff: https://github.com/eclipse/smarthome/pull/277/files#diff-10aa8fe84e9119cfe8cac6ea022ff706

The probably most time consuming task here is probably to create a screenshot :)

[2017-09-03 16:05] #53 closed

[2017-09-03 22:20] bgilmer77 commented on #316
Looking at the Sitemap documentation for Colors, I do not read anything that would help me to understand the concept of a default color, or what the behavior or purpose of a default color would be.  I have not used colors much at all, so I cannot contribute something here, but certainly as an implementer of openHAB, if there is a default color, I would expect that fact to be discussed in the Color

[2017-09-03 23:28] ThomDietrich commented on #316
In my understanding of the issue this was rather a misunderstanding and turned out to be a bug that was solved. There is no such thing as a default color because only special cases you select will receive special coloring.
This should be settled. Is it?

[2017-09-05 09:23] ThomDietrich commented on #462
Hello @cygtoad ,
thanks for your help. I'll add these improvements soon!

[2017-09-05 11:27] mortommy opened #495 "Mycroft skill"
An openHAB [Mycroft](https://mycroft.ai/) skill is available:
https://community.openhab.org/t/mycroft-openhab-skill/33475
Should be integrated in the [System Integration](http://docs.openhab.org/addons/io.html) page?
Thank you.

[2017-09-05 12:52] ThomDietrich commented on #495
Definitely! I have no experience with Mycroft but it's great you've added openHAB support for it! Let's add it to the official documentation

We can start without further hesitation. In fact a pretty similar work is currently done for the Amazon Alexa skill. See for some details: https://github.com/openhab/openhab-docs/issues/481

Here's a quote that also fits here:

That means: Ideally you'd prov

[2017-09-05 23:41] ThomDietrich commented on #481
Hey @mboremski,
now that the file is available it's my turn to finally look into #62 and finish this long outstanding important piece. I'll be on vacation over the weekend but hopefully have time for that next week!

[2017-09-06 14:27] ThomDietrich commented on #492
Addition: While on it, please create all mismatching images (e.g. the temperature Text element should read 21.5°C)

[2017-09-07 10:12] mortommy commented on #495
ok, thank you.
So first of all I'll create the usage.md file, using as example the one already available for Alexa.

[2017-09-07 11:20] kaikreuzer commented on #495
@ThomDietrich As you know, I am against using the official documentation as a kind of wiki that links to external stuff that is not under control of the community - the system integration page currently only list stuff that is also available under the openHAB github organisation.

@mortommy Please don't take that comment negatively - your mycroft skill sounds awesome and it really is a great addit

[2017-09-07 12:06] mortommy commented on #495
Hi @kaikreuzer ,
for me it is ok, I'm glad to have the project in openHAB github, it gives the opportunity to my work to grows up with the community contribution.

[2017-09-07 19:41] kaikreuzer commented on #495
Cool, I have created https://github.com/mortommy/mycroft-skill-openhab/issues/12 for the further steps!

[2017-09-08 14:50] BrutalBirdie opened #496 "[enhancement] JavaScript Transformation docs"
JavaScript Transformation docs lack of examples and explanation. I want to enhance this.

Desire triggered by https://community.openhab.org/t/item-calculation-m-s-to-km-h/33758/12
Current state: http://docs.openhab.org/addons/transformations/javascript/readme.html

The Docs should explain more, like how to add this to an Item, basic Math operations etc.

[2017-09-10 17:24] kaikreuzer commented on #495
@mortommy FYI: Something went wrong with your initial commit to https://github.com/openhab/openhab-mycroft - it had all the old history including merge commits in it. I just cleaned it up, so please pull the current version from the repo. To additional notes:
1. The "github_handle" in the commit message is meant as a placeholder to put in your handle.
2. Please make sure to always add a message to

[2017-09-10 17:34] ThomDietrich commented on #495
Hey @kaikreuzer,
I had the organization idea in my mind but wanted to go step after step. Anyhow. I was away for a few days and am quite happy to see all of this sorted out.

@mortommy Let's continue. The document to copy over to documentation ([under this part](http://docs.openhab.org/addons/io.html#undefined)) should contain typical setup and usage instructions. One example for a part not meanin

[2017-09-11 07:06] mortommy commented on #495
Thank you @kaikreuzer , sorry for that.
@ThomDietrich I'll have a look to the typical setup and instructions. Thank you.

[2017-09-12 07:36] mueller-ma opened #497 "/configuration/icons.html does not exist"
but is linked in ${openhab-home}/icons/classic/readme.txt

[2017-09-12 11:26] ThomDietrich commented on #497
Hello @mueller-ma,
thanks for raising the issue. Another user already mentioned it a few weeks ago, the URL is already corrected in the latest snapshot builds.

[2017-09-12 11:26] #497 closed

[2017-09-12 13:16] mortommy commented on #495
Hi,
I added the usage.md file. Could be a good start?

[2017-09-12 13:24] ThomDietrich commented on #495
Looks good! https://github.com/openhab/openhab-mycroft/blob/master/USAGE.md

I'll try to get the copying process working today or in the next couple of days, then we can start the integration and fine tuning process :) Thanks for your quick response!

[2017-09-13 09:27] ThomDietrich commented on #491
Addition: It seems that the "Blocks" paragraph is not correct. Switches are not a valid base for nested elements.

https://github.com/eclipse/smarthome/blob/master/bundles/model/org.eclipse.smarthome.model.sitemap/src/org/eclipse/smarthome/model/Sitemap.xtext

[2017-09-14 03:20] dome2048 commented on #200
I'm very much a novice at GitHub, so please forgive the question, but am I correct that no one is working on this? If so, I'll figure out how to do a pull request to get this done.

[2017-09-14 09:57] ThomDietrich commented on #200
Hey Dome :wave:
Correct, great to here! Your help is very much appreciated. Regarding details please contact @digitaldan and check out the iOS app repo:

https://github.com/openhab/openhab.ios

[2017-09-15 22:11] kaikreuzer commented on #401
@ThomDietrich The more 2.x bindings are merged (latest addition: DMX) the more annoying this issue gets. I really think that the menu looks considerably broken and I would rather prefer to NOT show it than to leave it like this. Wdyt?

[2017-09-15 23:24] ThomDietrich commented on #401
You are absolutely correct, this needs to be dealt with!

It's actually pretty easy. I did this in two minutes:

![grafik](https://user-images.githubusercontent.com/2870104/30506568-5017ee76-9a7d-11e7-86b7-a47e3e48bc58.png)

With a few more minutes I should be able to make it pretty and only show for bindings who actually have two versions. Would you be satisfied with this?

(Regarding the problem

[2017-09-16 07:08] kaikreuzer commented on #401
With the extra few more minutes (i.e. only add it where relevant), this would be ok for me yes.
Although I would actually also suggest to remove the "legacy" and "manual" ones from the menu as they are not really "official" and also do not appear in the standard selection of the main list. Wdyt?

With these improvements, all further steps can wait for the redesign, yes.

[2017-09-16 14:14] LightIsLife commented on #69
@rkoshak @ThomDietrich
Found this slightly older issue and got intrigued. I think it is a great idea to have such a graphic and I am not aware that it already exists anywhere. However, I may be wrong and I am not even sure if this is still a "real issue" or just a forgotten one. Let me know. If I more or less captured what you intended, I am happy to develop it a little further.

I developed a cha

[2017-09-16 21:58] ThomDietrich commented on #401
@kaikreuzer I've already made some progress when I realized, that the list is pretty much duplicate free after removing all "legacy" and "manual" - for which I agree to remove.

![grafik](https://user-images.githubusercontent.com/2870104/30516256-0b48ac96-9b3a-11e7-8152-4de3a8c32876.png)

After scanning the list twice, the Tellstick binding is the only duplicate left. I wonder if the 1.x binding c

[2017-09-16 23:59] hreichert opened #503 "[Sitemaps] Element Type ‘Chart’: begin/end wrong?"
Page:
http://docs.openhab.org/configuration/sitemaps.html#element-type-chart
Source:
https://github.com/openhab/openhab-docs/blob/gh-pages/configuration/sitemaps.md#element-type-chart

Regarding to this:

and

I defined a Chart in in my sitemap:
`Chart item=gChart begin=201701010000 end=201801010000`

Following error occurs:

I looked at the model sources, [Sitemap.xtext](https://github.com/eclips

[2017-09-17 09:58] LightIsLife commented on #411
@ThomDietrich is this issue still pertinent? Seems to be captured in the docs already....let me know if I am missing anything. [Docs](http://docs.openhab.org/configuration/items.html#item-definition-and-syntax) read now:

Items are defined in the following syntax. The parts of an Item must be defined in this order. Besides the itemtype and itemname all parts are optional.

```itemtype itemname "la

[2017-09-17 10:02] LightIsLife commented on #343
@ThomDietrich is still pertinent? Seems it got resolved in #416

[2017-09-17 11:47] ThomDietrich commented on #343
It did! Thanks ;)

[2017-09-17 11:47] #343 closed

[2017-09-17 11:51] ThomDietrich commented on #411
Indeed.

I wonder if we can do anything about: http://docs.openhab.org/configuration/items.html#tagging
At the moment there is really not much more to say. I'd hope that would change soon. Till then we can close this issue if you think the chapter is acceptable for now.

[2017-09-17 11:52] ThomDietrich commented on #490
@LightIsLife it seems like you are looking for an interesting issue to work on... Great :D Would you like to work on this one? It sure is important and so far a clean slate. An alternative would be to continue on one of the Transformation articles.

[2017-09-17 13:34] LightIsLife commented on #490
@ThomDietrich thanks much for the pointer, indeed I was looking for issues that have no one working on it yet. Happy to take a stab, progress will be a little slower, as I have little practical experience with REST API yet.

[2017-09-17 15:39] LightIsLife commented on #411
Ah, missed the special chapter.... I see..... that is confusing: it does not say a lot, the link to the Hue integration does not really help (instructions there are not very clear) and the text at the top of the items chapter is likely to be missed as there is this special tagging section. Would suggest to either delete the special section on tagging (less desirable) or re-write with something lik

[2017-09-17 20:53] ThomDietrich commented on #411
You've probably seen my open PR #494 regarding the Items article? I've just added a quick chapter on tagging while I was at it. Please check it out, hope you are satisfied ;)

[2017-09-18 05:17] LightIsLife commented on #411
@ThomDietrich saw your work on the item article (and thanks much for it).
The addition on tagging sound good, except that you may want to consider adding the full definition to #494:

itemtype itemname "labeltext" <iconname> (group1, group2, ...) ["tag1", "tag2", ...] {bindingconfig}

Or expand your example to include all elements. The exact position of this tag has been a regularly discussed ques

[2017-09-18 08:28] ThomDietrich commented on #401
Hey Kai,
the merge is okay but what do you think about Tellstick?

[2017-09-18 08:29] ThomDietrich commented on #411
https://github.com/openhab/openhab-docs/blob/cb0bbdacaeb40681db5978f9082296b7205b14f9/configuration/items.md#item-definition-and-syntax

DRY - do not repeat yourself ;)

[2017-09-18 08:35] kaikreuzer commented on #401
Yes, I guess it should be moved to legacy, this was probably only forgotten. I'll create a PR for it.

[2017-09-18 08:40] kaikreuzer commented on #401
FTR: https://github.com/openhab/openhab1-addons/pull/5310

[2017-09-18 09:10] ThomDietrich commented on #401
Thanks ;)

[2017-09-18 09:10] #401 closed

[2017-09-18 09:22] #431 closed

[2017-09-18 09:26] LightIsLife commented on #411
Sure, either way is fine. To use a colloquialism, there are many ways to skin a cat. My personal preference is to make more self-sustained modules, and include in a section on tags the placement too. But there are always trade-offs. It is easier to read but more difficult to maintain.

[2017-09-18 09:51] ThomDietrich commented on #411
I don't want to put off your suggestion lightly. Let's see how it goes. If you ever feel like this detail is missing (or I), let's discuss it again!!

[2017-09-18 09:51] #411 closed

[2017-09-18 17:15] rkoshak commented on #69
I keep getting distracted and am not a great contributor to GitHub. I am apparently more event-driven these days.

I highly recommend taking Kai's advice above and move this issue to the ESH project. Any change/addition made there will be picked up by OH and will benefit both projects.

I'm not sure if what I'm about to say is even possible but here goes:

- The text above sounds good
- The conten

[2017-09-18 19:23] LightIsLife commented on #490
@kubawolanin @ThomDietrich I started to look into this and it appears that swagger is already integrated and actually is the tool that makes the nice presentation of the REST API in OH2 (when REST documentation is installed); not sure what to add there.
I developed some text that is designed to help people understand why they should care about the REST API to begin with, but not quite sure where t

[2017-09-18 20:53] ThomDietrich commented on #490
Excellent start @LightIsLife ! I think this pretty much goes into the right direction 🎉

Yes, I think that was a misunderstanding of what was Kuba was trying to say.

The main goal 👍

I think we should discuss this.
First, yes of course, a normal user might not need to know about the REST API. There is nothing to sell. Carrying on :blush:
The last part is where I'd reconsider. Just because someone

[2017-09-18 21:14] ThomDietrich commented on #69
Hey, just a short comment from me, it's late :)
I agree that an overview is important, a graphic is even more helpful.

I have to add, that I fear a single diagram is hard to get right, complete and updated. We've invested a lot of work into documentation parts like [this](http://docs.openhab.org/configuration/index.html) and all the referenced articles. Not all of them are finished or even presen

[2017-09-18 21:44] bgilmer77 commented on #490
👍 +1 to what Thom said. At the risk of making a suggestion I do not have time to do myself, a simple example integrating with Node-RED (really simple!) might help to show how it could be used.

Very nice job from what I can see from n my phone.

[2017-09-18 21:55] rkoshak commented on #69
I think the Beginner's Tutorial is a great place for it. And instead of vague generic WiFi Bulb A we can actually reference real examples.

[2017-09-18 22:31] ThomDietrich commented on #490
Thanks @bgilmer77,

Regarding the Node-RED suggestion: Please do not mix documentation and Tutorials. There are quite a few tutorials about how to Integrate systems like Node-RED with openHAB. The documentation should stay neutral. My suggestion is to show basic commands (either as simple URL requests for GET or curl calls for POST) and their result/effect.

Integration with a specific tool is the

[2017-09-19 04:15] LightIsLife commented on #490
@thomdietrich. Thanks much for your quick feedback. I take all the examples
I can get 😀
On Tue, Sep 19, 2017 at 12:31 AM Thomas Dietrich <notifications@github.com>
wrote:

[2017-09-19 04:20] LightIsLife commented on #69
Thanks both. I am fine with either of course place. Happy to make it more
real, any preferences of brand names to mention in stead o bulb a. Hue
should likely be one tp-link the other? Personally, I have no preference
whatsoever, which was one of the main reasons to go with bulb a
On Mon, Sep 18, 2017 at 11:55 PM Richard Koshak <notifications@github.com>
wrote:

[2017-09-19 06:51] bgilmer77 commented on #490
@ThomDietrich I completely agree. The first thing I thought of before I finished reading all of your note was curl.

[2017-09-19 09:16] ThomDietrich commented on #490
@LightIsLife actually examples from my side are not needed, the curl examples in swagger are enough. There is even a Windows binary for curl.

[2017-09-19 09:41] bgilmer77 commented on #490
@LightIsLife I took the liberty of providing some edits based on your excellent contribution.  Please feel free to accept or discard these inputs.  Since I did some major reformatting, I have just posted my redraft without any diff from the original.  Let me know if you would prefer me to run a diff and post that as well.

@ThomDietrich I included your language for the third paragraph as well, alt

[2017-09-19 09:52] ThomDietrich opened #507 "Items: Add a chapter about the actual Item state"
The Item article currently discusses the Item syntax and usage. So far completely ignored is the question about the Item state, e.g. Initialization, UNDEF, Binding influence etc.

The chapter will probably be short.

Please collect ideas what needs to be mentioned here!

[2017-09-19 11:01] ThomDietrich commented on #402
@rkoshak I've missed to check these comments while working on #494 Could you please reevaluate?
http://docs.openhab.org/configuration/items.html

[2017-09-19 11:03] ThomDietrich commented on #382
Hello @halfbaked, I've just finished a big overhaul of the Items article and with that of the Icons chapter.
http://docs.openhab.org/configuration/items.html#icons

Could you please reevaluate your concerns? Thanks!

[2017-09-19 11:03] #382 closed

[2017-09-19 11:09] ThomDietrich commented on #275
Addressed in #494, which concentrated on the Syntax chapter. The Binding part of the Items article still needs to see a big overhaul.

[2017-09-19 11:09] #275 closed

[2017-09-19 11:10] ThomDietrich commented on #272
Should be addressed by #488

[2017-09-19 11:10] #272 closed

[2017-09-19 14:42] bgilmer77 commented on #477
FWIW, redirecting from http to https is only part of the solution.  You have to have a valid certificate on the https server or the client will get all sorts of warnings.  Google won't be happy either.

I have experience using [letsencrypt.org](https://www.letsencrypt.org), a free and open project sponsored by the LINUX Foundation, on Debian systems.  If it would be appropriate, I could write an a

[2017-09-19 14:45] ThomDietrich commented on #477
@bgilmer77 that's a great idea... sadly already addressed in two ways:

* http://docs.openhab.org/installation/security.html#nginx-letsencrypt
* http://docs.openhab.org/installation/openhabian.html#features

[2017-09-19 14:54] bgilmer77 commented on #477
Understood.  And not sad at all - glad there is good coverage already in the documentation.

[2017-09-19 15:13] bgilmer77 commented on #490
@ThomDietrich I am going to try to post the note above as a PR.  Hopefully I will do it correctly.  If not, please advise.

[2017-09-19 16:30] rkoshak commented on #69
Actually, I would rather see something like Hue for one and zwave or something like that for the other. This seems like a great place to subtly emphasize the fact that OH is a bridge connecting multiple technologies.

I don't think the brand names or specific technologies are all that important.

[2017-09-19 16:40] LightIsLife commented on #490
@bgilmer77 thanks for your edits; was planning to do the same (posting a PR), but go ahead....and thanks
@ThomDietrich thanks for your comments as always; I was wondering why we would not take the examples from the swagger, but as I have no experience in using the REST API myself, I thought your examples may go beyond what is provided there.

[2017-09-19 16:44] rkoshak commented on #402
I believe all of these have either been addressed or are no longer relevant. The article looks great!

[2017-09-19 16:48] bgilmer77 commented on #490
@LightIsLife please make the PR. I am still learning about using GitHub. You should get the original attribution. I will contribute once I see the PR.

[2017-09-19 16:50] LightIsLife commented on #490
@bgilmer77 I am no expert either ..... but will do, thanks

[2017-09-19 17:12] bgilmer77 commented on #490
@LightIsLife Please post one final time here when you have finished the PR.

[2017-09-19 17:18] LightIsLife commented on #490
created PR #508

[2017-09-19 17:28] bgilmer77 commented on #490
@LightIsLife forgive me - I am still learning about the etiquette I should follow in this community.  Markus, I note that you posted your version without my update.  Is that because you disagree with my suggestions, or because you wanted to track the changes using your PR?  Please take a look at what I wrote above and let me know if you want me to suggest these changes on your recently posted PR.

[2017-09-19 18:05] #402 closed

[2017-09-19 18:14] LightIsLife commented on #490
@bgilmer77 mmmhhhh....now I am confused; I am pretty certain that I copied your post (the one 8 posts up); I moved a sentence or two replaced a verb (provide) to avoid duplication, added the curl examples and some links; what did I miss?
I certainly intended to start with your great edits and NOT my original post; apologies if I missed anything.
And no worries about etiquette, ask as many question

[2017-09-19 18:22] bgilmer77 commented on #490
@LightIsLife Okay, and thank you.  Let me comment on your PR and then you can see the differences.  That is the easiest way - and besides, I may have made a mistake and you copied everything I had.

[2017-09-21 21:34] bgilmer77 commented on #507
Clearly we need to talk about the states themselves.  If anyone has a state diagram handy, then a short table of allowed states and their meaning would be helpful.

The section of the documentation on persistence and how to get Item states to persist across reboots is very clear, so obviously all we need are pointers to that information, but for someone who is just starting, they are likely to foc

[2017-09-21 21:55] #490 closed

[2017-09-22 01:16] #200 closed

[2017-09-24 15:05] ThomDietrich commented on #480
https://github.com/openhab/openhab-core/blob/master/bundles/org.openhab.ui.dashboard/README.md

@kaikreuzer The document is rather technical. Do we need it on docs.openhab.org?

[2017-09-24 20:29] kaikreuzer commented on #480
I wouldn't say that we need exactly this document, if you think it is too technical.

But the feature in itself is something that many users asked for and which I think is pretty useful - so yes, it should be covered by docs.openhab.org.

Btw, would also make sense to use this to e.g. add a tile for FrontTail in openHABian.

[2017-09-24 20:56] ThomDietrich commented on #480
You are right of course, we need some part of the documentation introducing the dashboard. Be it this single article or as a part of another article. After some reconsideration: I guess the README with a bit of added introductional yada yada would be acceptable 👍

I saw the two examples and thought the same thing (frontail and nodered, both are provided by openHABian). So far openHABian is not tou

[2017-09-24 20:58] #472 closed

[2017-09-25 06:26] kaikreuzer commented on #480
Is it in Java and packable as an OSGi bundle? If so, why not.

[2017-09-25 10:56] ThomDietrich commented on #480
Nope far from it. That's why I'm doubting it. Frontail is powered by Nodejs and a few dependencies.

[2017-09-25 12:31] kaikreuzer commented on #480
That's what I thought, so forget about it...

[2017-09-25 13:01] ThomDietrich commented on #480
Okay topic settled, I've opened Issue https://github.com/openhab/openhabian/issues/212 for it.

Back to the issue, I'll add the README to #516

[2017-09-26 00:19] kceiw opened #517 "Document thing status change rules"
After this PR https://github.com/eclipse/smarthome/pull/3001
OpenHAB can react on thing status change in the rule. But it lacks documentation about how to do it.

[2017-09-26 10:13] #517 closed

[2017-09-27 18:04] hreichert commented on #503
Anyone?

[2017-09-27 18:23] LightIsLife commented on #503
@hreichert maybe you have more luck discussing this in the forum first? Can't help you here personally as I never used this feature, but I would think that the forum may be the better place to start this discussion and get more guidance/input

[2017-09-27 18:39] hreichert commented on #503
@LightIsLife Thanks for your reply. I don't want to use this feature either, but I discovered that there is something wrong here while working on other chart related stuff. As I think that just the documentation is wrong, I opened the issue here.

[2017-09-27 20:18] ThomDietrich commented on #503
Hello @hreichert,
at first read I also wasn't sure about the right answer. Your decision to open an issue here was right. Now I think before removing the feature from docs it would be worth reporting the issue at eclipse/smarthome.

[2017-10-05 09:22] BClark09 opened #520 "Implement versioned docs"
Hi all, I found no issue discussion on how the docs would be separated into versions, but it comes up in discussion from time. I've done some playing around based on [this website](https://justwriteclick.com/2017/07/30/investigating-jekyll-for-versioned-content/):

![image](https://user-images.githubusercontent.com/8983584/31221175-b7b4229c-a9ba-11e7-921e-09dfe1549d8e.png)

The above site is built

[2017-10-05 13:44] ThomDietrich commented on #520
Hey @BClark09,
you should have asked before going through all that trouble. I've got something pretty similar in a test-setup of mine :) I wanted to finish #516 before continuing. Nonetheless, this looks pretty good!! 👏

You didn't find any discussion on the issue as this was so far only discussed in a non-public thread (which you are part of I believe). In this thread we were discussing different

[2017-10-05 14:06] BClark09 commented on #520
There was no trouble really, I came across the website in my own research of Git usage and tested that script. I was pleasantly surprised to see that it just worked.

errrr :see_no_evil:

The versioned files have their own directory in _site, when built and depending on which version you're looking at, the {{site.baseurl}} will be different. I'd take a good guess that having a {{sharedbase}} varia

[2017-10-05 19:14] binderth opened #521 "[comfoair binding] add undocumented features"
see: http://docs.openhab.org/addons/bindings/comfoair1/readme.html
This one needs an update for the table within item configuration:

ewt_temperature = READ
ewt_temperature_low = READ
ewt_temperature_high = READ
ewt_speed = READ
ewt_mode = READ
bypass_mode = READ
filter_reset = WRITE | 1 - filterhours will be reset to 0
filter_error = READ
error_reset = WRITE | 1 - error messages will be reset

(s

[2017-10-06 14:13] udo1toni commented on #521
You can add this information through https://github.com/openhab/openhab1-addons/blob/master/bundles/binding/org.openhab.binding.comfoair/README.md.

You have to fork, update the file and request a pull. Don't forget to sign the pull request by adding the line 'Signed-off-by: <your name> <your email-address>' to the github pull request comment.

Take a look at other pull requests, if my description

[2017-10-06 23:15] ThomDietrich commented on #496
You should also look into: https://community.openhab.org/t/json-transformation-with-tuples-wont-work-solved/34777/10 ( @rkoshak )

Btw. this might be of interest: https://github.com/eclipse/smarthome/issues/4318

[2017-10-09 10:18] #507 closed

[2017-10-09 10:23] ThomDietrich commented on #521
Please let us know after you've done the change so we can close the issue here. Thanks for your help!

[2017-10-10 12:40] binderth commented on #521
pew. I never forked or signed or pull requested anything! ;)
But I'll work me through it... ;)

[2017-10-10 18:45] Confectrician commented on #492
@ThomDietrich

I have read your comment above 3 times now and i simply don't get it.
Could you explain this for me again?

Does ist simply mean that all screenshots should be based on the same sitemap and the same current values?

[2017-10-11 07:56] bgilmer77 opened #524 "persistence.md should be rewritten"
persistence.md is incomplete and references the old wiki article.  The page should be updated, and information from the wiki article should be incorporated into the new persistence.md where appropriate.

[2017-10-11 20:40] cniweb commented on #163
Note for openHAB 2 in openHAB 1 wiki removed.

[2017-10-15 12:07] ThomDietrich commented on #492
Hey @Confectrician,
yes I should have made myself more clear :) The sitemap used to create the screenshots is part of the sitemaps article. It is appended at the end of the article as a comment (It ain't stupid if it works 😄). See: https://github.com/openhab/openhab-docs/blame/gh-pages/configuration/sitemaps.md#L653

Regarding the temperature: As you'll see, the temperature is hardcoded with "21.3

[2017-10-15 19:15] kubawolanin opened #530 "[Proposal] "Edit this page on GitHub" link"
The goal of this proposal is to encourage more people to contribute to the documentation pages.

So let's say that user visits [this page](http://docs.openhab.org/developers/contributing/contributing).
Adding the following example code at the beginning of `.content` class:
[code]

Would result in effect like this:
![przechwytywanie](https://user-images.githubusercontent.com/2270505/31588114-705318

[2017-10-15 21:00] ThomDietrich commented on #530
Hey Kuba!
That's a good idea! I was also thinking about adding such a link. I wanted to go with a [Materialize floating action button](http://materializecss.com/buttons.html) for it.

The big problem is that the majority of content in docs is not actually hosted in the docs repo and the URL to the original file would need to be known. To that end I started to add the `source` font matter to files,

[2017-10-16 06:54] kubawolanin commented on #530
Sure I am :)
And I really like the idea of incorporating floating button there.

Cheers,
Kuba

[2017-10-18 15:04] #62 closed

[2017-10-18 15:04] #481 closed

[2017-10-18 15:04] #495 closed

[2017-10-19 17:21] ThomDietrich commented on #520
To add some more thought to this issue:

openHAB is constantly evolving and the documentation repo is keeping track with that. The official documentation page will soon contain a root documentation and a certain amount of sub-directories for certain versions. A user will normally want to stay on the root path.
@BClark09 I'd suggest to have the documentation of the latest stable version on the root

[2017-10-19 17:36] BClark09 commented on #520
Yeah I agree with all that. I noticed (but can't remember where) someone having problems with trying to implement a snapshot feature because they were reading it from the docs.

I do think that we should branch off of the tags and use branches instead of tags though. WDYT?

[2017-10-19 17:52] ThomDietrich commented on #520
I'm not sure yet. Branches would not hurt but maybe tags are already sufficient. I fear that it might become tedious to manage changes to all existing old-version branches. All changes we need to apply to files of version-subdirectories will be systematic and can hence be scripted rather then stored in commits. Maybe I'm missing something? Wdyt?

[2017-10-19 19:09] BClark09 commented on #520
That's a good argument for it, but what would be done about small problems like broken links etc?

Also I think it would be necessary to have a 404 page for the old versions which point towards / or /snapshot/

[2017-10-20 11:35] #524 closed

[2017-10-20 14:25] Confectrician commented on #492
You can assign me.
PR is nearly incoming^^

I would suggest to edit all temperature related screenshots too, to keep a common thread during the complete article.

Additionally:
Is there a reason for sorting the element types in an alphabetical order within the table and not sorting it in the later content?!

Should i just append the MapView as last element type?

[2017-10-20 20:56] ThomDietrich opened #534 "Logging: Add example for logging variable/Item state"
https://community.openhab.org/t/specifying-the-number-of-decimal-places/35319/4
http://docs.openhab.org/administration/logging.html#create-log-entries-in-rules

[code]

Also: The "subpackage" description is a bit weak. Instead of "Demo" we should motivate something that the user can actually refer to, like "My Custom Rule" or "heating-control.rules"

Last thing that comes to mind: We should figure

[2017-10-21 22:15] kaikreuzer commented on #520
In our private discussion, we said it might be good to have the snapshot (as a moving target) on the root and put "static" releases into sub-directories:

That would be a MAJOR drawback. Why is that so? From our discussion so far, we said that released versions are simply copied to a sub-folder (which can be automated to be copied from a tag/branch) in the master branch. Clearly not ideal from a g

[2017-10-23 12:31] ThomDietrich opened #538 "Add dictinary based tooltips"
We should implement some javascript trickery to replace words by html code to include CSS tooltips (one possible solution).

See: https://www.w3schools.com/css/css_tooltip.asp

Possible use cases: Giving more details about e.g. `$OPENHAB_CONF`: "The location of all configuration files. See the platform specific installation articles to learn more."

Wdyt?

[2017-10-23 12:46] Confectrician commented on #538
I agree, this could be useful in some/many cases👍

But i think there are more urgent things to do, we shouldn't forget while opening new tasks.
- Versioned docs
- Mobile usability
- tbc

I know its a bit off-topic, but we shouldn't forget about these. :)

[2017-10-23 13:03] ThomDietrich commented on #538
Good point! All of this was part of long discussions over the weekend (e.g. with @kubawolanin) and I intend to post a requirements list for the webpage rework in the next couple of days.

Besides that: It is okay to write down an unimportant idea even if no one intends to work on it in the near future.

[2017-10-23 13:47] Confectrician commented on #538
Just to be sure:
I didn't want to connote, that this is unimportant. 😃
And of course I am a friend of writing down ideas.
That's the only way to keep them in mind long term, if you don't work on them directly.

[2017-10-24 07:10] lakshmipathi256 opened #539 "user role management system"
in openHAB how we have to manage the multiple users with single openHAB instance.

[2017-10-24 07:12] BasavarajCM opened #540 "Role management in openHAB server"
in openHAB server, how we have to manage the multiple users with single openHAB instance.

[2017-10-24 12:22] ThomDietrich commented on #540
Hello,
this is a complex issue and not yet part of the openHAB environment. External solutions can be applied, see: http://docs.openhab.org/installation/security.html

For more questions please check and ask the community forum.

[2017-10-24 12:23] #540 closed

[2017-10-24 18:59] Confectrician opened #541 "Iconset Page broken (in eclipse smarthome repo)"
Hi,

The classic iconset seems broken for some Icons, but this seems to be a problem of the parent Repository.
I have already opened the related issue eclipse/smarthome#4456 in the corresponding Repository.
![image](https://user-images.githubusercontent.com/7161177/31962092-e68d8cb0-b8fc-11e7-831e-95d2501e6c24.png)

## This is just a reference, for people who may want to report this issue here
Dis

[2017-10-24 19:17] kaikreuzer commented on #541
The question mark is there to indicate that this iconset is lacking the according required icon, it is no t a bug of the documentation page.

[2017-10-24 19:17] #541 closed

[2017-10-25 19:23] cniweb commented on #90
@ThomDietrich I think ou can close this issue, thanks.

[2017-10-25 21:20] ThomDietrich commented on #90
Wonderful. Thanks!

[2017-10-25 21:20] #90 closed

[2017-10-25 22:17] Confectrician commented on #445
Is this still up to date with our new logo?
If not, the issue could be closed.

[2017-10-25 22:44] ThomDietrich commented on #445
Depends. The new logo is now once again without the white filling (option 2). Do we want to leave it like this?

[2017-10-26 03:57] Confectrician commented on #445
My opinion:

I think in most cases the actual logo will fit fine, especially because it is some more minimalistic with thinner lines compared to the old one.
I would leave it like it is for now.

[2017-10-26 08:54] kaikreuzer commented on #445
I created it with the transparent background, but also noticed that on dark backgrounds (and people use all different kinds of skins) it is difficult to see. So I have already updated the community forum favicon this way:

![bildschirmfoto 2017-10-26 um 10 52 06](https://user-images.githubusercontent.com/3244965/32043741-ec606c94-ba3b-11e7-82e3-92798a5ecee1.png)

I think this is better, so I would

[2017-10-26 10:41] ThomDietrich commented on #445
Exactly my point and I would also go that way. Please do ;)

[2017-10-26 12:06] Confectrician commented on #521
Hey @binderth,

If you need some advice/help in starting with the GitHub Fork/Sign/Pull Request things, feel free to contact me in the community board. 😄

[2017-10-26 12:48] Confectrician opened #545 "[Editors Page] Add LSP to VS Code section"
Since the VS Code extension, will support Language Server Protocol in the next time,
we should add some info about this to the corresponding section in the [Editors Page](https://github.com/openhab/openhab-docs/blob/gh-pages/configuration/editors.md)

Especially the requirements should be mentioned.
- Correct Server configuration in VS Code
- LSP AddOn installed with Paper UI

Related:
[VS Code Re

[2017-10-26 12:52] mueller-ma commented on #445
Thanks @kaikreuzer

[2017-10-26 14:10] #445 closed

[2017-10-26 17:36] ThomDietrich commented on #520
At the Smart Home Day me and @kaikreuzer had a short discussion regarding a dedicated machine or container for the documentation page. His opinion was that this is currently not desirable. I agree that this will be extra work and an additional maintenance risk.

Let me try to discuss all options.

### Dedicated System

The hosting aspects of GitHub pages are pretty restrictive. I'll shortly summar

[2017-10-26 17:42] ThomDietrich commented on #520
@kaikreuzer regarding the "moving target": I believe that the "default" non-version path of the documentation should point to the... well default. So if possible, shouldn't that be the stable release?

[2017-10-26 18:42] Confectrician commented on #545
Additionally we could remove the *manual* installation part and replace it with the installation through marketplace, since the extension is listed there meanwhile.

Or do we need both ways of installing the extension?
Wdyt?

(I have already changed Line 37, which said that marketplace is missing currently.)

[2017-10-26 18:50] kubawolanin commented on #545
Hey @Confectrician,
Thank you for posting the issue. It's great you remember about it 😄

While it's great to have the tool mentioned on Editors page, I do believe that we should rather reference its README (check) and [direct link to it](https://marketplace.visualstudio.com/items?itemName=openhab.openhab) on the Marketplace.

I would see the Editors page as a quick reference guide for where you ac

[2017-10-26 18:57] Confectrician commented on #545
Already done 20min ago in my feature branch. 😄

Ok.
I will mention the rule validation, add some explanation and link it directly to the corresponding readme anchor in the vscode repo for further instructions..

[2017-10-27 15:06] kaikreuzer commented on #520
Not necessarily. Note that on www.openhab.org we have main menu links to community.openhab.org, github.org and myopenhab.org as well - these won't be served from the same server either. What we mainly need are common stylesheets and headers, but I do not see the need to merge the hosting. Especially wrt the versioning discussion in this issue, I very much think that we should keep docs.openhab.org

[2017-10-27 16:09] #484 closed

[2017-10-27 16:10] kaikreuzer commented on #445
All done!

<img width="205" alt="screen shot 2017-10-27 at 18 09 44" src="https://user-images.githubusercontent.com/3244965/32113894-0ee00ec6-bb42-11e7-8ecf-dc80996e56b3.png">

[2017-10-30 13:47] #492 closed

[2017-10-30 14:06] ThomDietrich commented on #545
Sounds like this is resolved?

[2017-10-31 14:06] bgilmer77 commented on #534
This whole article should be expanded as well, but let's take it in bite-sized pieces

[2017-10-31 14:12] bgilmer77 commented on #534
@ThomDietrich I am happy to take a crack at this.  Please clarify what the code-fenced text is in your first comment.  Is this an example to use in place of the Demo one in the current article?  FWIW, I like "heating-control.rules".

Finally, just so I understand what is going on here, do I understand correctly that the line above, or the lines from the article could be put into a rule causing log

[2017-10-31 17:38] bgilmer77 commented on #534
Just created PR #546 to address this.

[2017-11-01 04:03] ScheissSchiesser opened #547 "Network binding description needs updated, contains incorrect Thing definitions"
For instance: `pingdevice` is not a valid Thing. It is concerning that there is not complaint from Openhab about this.

The correct definition is `network:device:<somename>`

I gleaned this information from finding the device through Paper UI. Trying to define the Thing manually gives no error for `pingdevice`, but that definition doesn't appear to actually do anything.

[2017-11-01 10:04] Confectrician commented on #547
All Binding documentations are grabbed automatically from external openHAB repos.
The correct place for this correction would be https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.network/README.md
So the PR has to be in https://github.com/openhab/openhab2-addons/

---
Additionally i want to mention the following:
I have read through the readme now and it men

[2017-11-01 10:08] Confectrician commented on #545
PR is incoming next days, when i have found time for adding the content of the last comment.

[2017-11-02 13:21] ThomDietrich commented on #547
Please be aware, that the README was recently updated for the brand new Network binding version only available in the latest openHAB 2.2 snapshot. This situation is not ideal and we are working on a solution.
Till then please see here for the openHAB 2.1 stable version of the binding:
https://github.com/openhab/openhab2-addons/blob/ed8ce5e3e4cfeadae11cf76c0e3e586c23b0e0d3/addons/binding/org.openha

[2017-11-02 17:11] ScheissSchiesser commented on #547
Ah, I see. I won't submit my pull request then.

I think setting up docs.openhab.com such that one can select a binding version or openhab version would be helpful. No idea how feasible that it.

Perhaps a message at the top of the README stating the version of the binding would at least deter people from creating issues like this one.

[2017-11-02 18:26] ThomDietrich commented on #547
exactly what is in planning. If you have basic web development experience or would like to learn, you are invited to help! Just contact me and we can discuss details ✌️

[2017-11-02 19:41] ScheissSchiesser commented on #547
I would love to help. I would qualify my web development skills as "extremely basic," but I am willing to learn.

[2017-11-02 19:41] #547 closed

[2017-11-03 15:39] ItIsFelix opened #548 "The example in Network binding is not correct"
Where: http://docs.openhab.org/addons/bindings/network/readme.html

[code]
should be
[code]

[2017-11-03 15:53] ThomDietrich commented on #520
Regarding subdomains: As discussed privately, I was under the impression, that we are striving towards a project that contains not only the documentation (as of now) but also the main webpage, the blog and possibly other sub-areas in one repository. I'm open to discuss other approaches where we keep all of those separate. I'm not sure if a separation of all those and the synchronization of stylesh

[2017-11-03 16:30] Confectrician commented on #548
One note from my side:

This doc page is generated automatically from https://github.com/openhab/openhab2-addons/blob/master/addons/binding/org.openhab.binding.network/README.md and the correction has to be in the https://github.com/openhab/openhab2-addons/ repository.

(But from your GithUb profile, it looks like you already have recognized that. 😄 )

[2017-11-04 18:18] bgilmer77 commented on #548
I have filed a PR in openhab2-addons to address this, #2825.

[2017-11-05 12:35] ThomDietrich commented on #548
Wonderful.

[2017-11-05 12:35] #548 closed

[2017-11-05 21:24] kaikreuzer commented on #520
Err, which parts exactly? You mean dedicated system vs. Github pages? Imho, we should try the approach you just now did with #552. I agree that it isn't nice to completely go against the history + versioning in git and just plainly copy all content, but if it helps us avoiding to run a dedicated server, it should still make our lives easier.

[2017-11-06 00:29] #545 closed

[2017-11-06 00:43] #165 closed

[2017-11-07 21:51] Confectrician commented on #150
Bump.
Implemented a long time ago.

[2017-11-07 21:55] Confectrician commented on #180
Could be closed in my opinion.
The main reasons for this issue should be adressed by one of the last windows.md commits.

[2017-11-08 06:31] bgilmer77 commented on #538
It would be good to add this.  The example you give is a great one.  If I had not been working with OH for a while, it would take some digging to figure out what `$OPENHAB_CONF` meant and what it was for my system.  A simple tool tip like this might keep someone from walking away from OH all together.  Remember - it has to be easy to adopt OH or people go to commercial solutions with better suppor

[2017-11-08 06:39] bgilmer77 commented on #530
Would the `source` front matter be applicable to other areas of the docs?  As you know, we have other places where an article may appear in openhab-docs, but it is actually an ESH article.  (Or is this a different concept?)

[2017-11-08 09:44] alzameelan opened #554 "Infinite loop for a MQTT message OPENHAB2"
i'm changing now from Openhab1 to Openhabe2, i have a lot of items which use MQTT message to control my home, i've tried to write them in the items file in the items folder, but it seem that something went wrong.
Here is an example i write it to to test if it works: items.items

   Group test

Switch test "test sensor" (test) {mqtt=">[ideaal:test:state:*:Switch ${itemName}; zustand ${state}],>[ide

[2017-11-08 09:51] Confectrician commented on #554
Hi @alzameelan,

This place is for handling the documentation homepag of openHAB.
Related to this, you won't reach the whole openHAB community.

I would suggets you to register @ community.openhab.org
and ask your question in the forum.
You will reach more people who can possibly help you. :smiley:

Best Regards
Confectrician

[2017-11-08 10:02] alzameelan commented on #554
@Confectrician
thank you very much, i will write my problem there

[2017-11-08 12:10] #554 closed

[2017-11-08 12:11] ThomDietrich commented on #530
The exact same topic yes. I've started another discussion that hopefully will soon help with the this feature

[2017-11-08 12:12] #150 closed

[2017-11-08 12:16] #180 closed

[2017-11-08 21:25] Confectrician commented on #530
Could you link it here, if its a public visible discussion?
Would be nice to have an impression of the whole topic.

[2017-11-08 21:57] Confectrician opened #556 "[Appendix]Maybe add a new Remark/Atom Tutorial to Contribution Section"
Sorry i didn't find a better headline.

Basic Idea is inspired from: #423
Related: #418, #196, #50
Also: #530 as a parallel and a bit different approach.

I am not working on Atom yet but want to change to this environment.
I do many things alright already, nevertheless some validation and error notifications would be nice.
Also it would be nice to have some kind of page with good informations for

[2017-11-09 11:00] ThomDietrich commented on #556
Sounds good!
Most of these details can go into the README. I agree that they shouldn't be too technical and that would be okay.
Markdown related content should go into: https://github.com/openhab/openhab-docs/blob/gh-pages/styleguide.md

[2017-11-09 11:01] ThomDietrich commented on #530
Sure, here you go: https://github.com/eclipse/smarthome/issues/4503

[2017-11-09 12:48] bgilmer77 commented on #556
Is there a place already where the linter and its installation and operation are discussed?  I found it once, but now I cannot locate it.

[2017-11-09 14:21] ThomDietrich commented on #556
At that time I've documented the linter right in the configuration file. That is of course not a good position and whoever does work on this issue may move these details 😃 https://github.com/openhab/openhab-docs/blob/gh-pages/package.json

[2017-11-09 14:26] ThomDietrich commented on #556
Btw. I was also looking into integrating the whole linting process into the continuous integration process. I did not make any progress there but that would also be an interesting step. Before that we should however try to resolve most issues. There are thousands of errors thanks to the various binding READMEs. I did not start working on these yet but that would definitely be something.

Last note

[2017-11-09 18:50] Confectrician commented on #556
That's why i wanted to get atom running here locally.
Just to get an impression of how big the problem is. 😄

Maybe we could add those informations splitted to the "correct" files and add some summary article with readme and styleguide as a link.
I like this even more than my initial thought.

First some general information about the process/workflow and then some more detailed information in the

[2017-11-09 20:54] abbviemr opened #558 "Installation -> Docker uses --user flag which causes container to not be able to create groups"
The tutorial in the forum as well as the manual itself reference the --user switch which causes the current container image to fail to start (not able to create group).

    docker run \
        --name openhab \
        --net=host \
        -v /etc/localtime:/etc/localtime:ro \
        -v /etc/timezone:/etc/timezone:ro \
        -v /opt/openhab/conf:/openhab/conf \
        -v /opt/openhab/userdata

[2017-11-10 12:48] Confectrician commented on #556
@ThomDietrich

I have installed and configured atom and all necessary packages and node modules, but the linting doesn't seem to recognize the package.json settings.

Is there anything special to do additionally?

[2017-11-10 13:03] ThomDietrich commented on #556
no just the steps documented inside the package.json file. What happens when you open a console for the openhab-docs directory, then type:

[code]

[2017-11-10 14:05] bgilmer77 commented on #556
FWIW, installed Atom and lint-md on my Mac with no problem.  I tried to install it on a Ubuntu 16.04 Desktop and am getting errors and the linter is not active.  When I get a moment I will post the errors here.

[2017-11-10 15:57] bgilmer77 commented on #556
Interesting - reran `npm install` and `npm run-script lint-md`, and now Atom errors are gone.  But...

on Ubuntu 16.04, running npm run-script lint-md on a fully updated system produces the following:
node v4.2.6
npm v3.5.2
...
openhab-docs@0.0.0 lint.md: "remark ."
spawn ENOENT
Failed at the openhab-docs@0.0.0 lint-md script "remark .".

Attached is the error log...
[npm-debug.log](https://github

[2017-11-10 16:00] bgilmer77 commented on #556
Okay - this is very strange.  A search for lint-md does not find the file on my system??!!

[2017-11-10 23:26] bgilmer77 commented on #556
I would be happy to take a crack at writing something about the linter, starting by just pulling the text from the package.json file.  But where should it go?  I think it should go into a Contributing article, but there are two of them - one in the main documentation, and one in the developers guide.  Thoughts?

[2017-11-10 23:51] KidSquid1 opened #561 "RULES: Use of the UNDERSCORE (_) is not permitted in RULE file names."
On the RULES page it should be mentioned that you can not use the UNDERSCORE _ character in filenames of rules.  Using the character causes OH to skip the file and does not provide any feedback in the logs.

I spent many nights reviewing the code to see why the rules were not firing, my syntax was correct but the file name prevented OH from processing the file.

If any other characters are not per

[2017-11-11 01:39] bgilmer77 commented on #561
I have verified @KidSquid1s issue.  Unfortunately, the log entry for a rule with or without an underscore in the filename are exactly the same - the log reports that the rule has been loaded.

[2017-11-11 16:53] Confectrician commented on #556
I would go for a new article in the main documentation.
Developers guide is a special area where not everyone will look in.
And docs contributions can perfectly done by non developers too.

About the atom issues:
I didnt have to time to check it yet, but will keep you updated here.

[2017-11-11 17:00] Confectrician commented on #561
Sorry i cant confirm that behavior.

I have a rules file which is named: `wohnzimmer_multimedia.rules`
This file is loaded fine and all rules are working fine for weeks now.
I resaved the file and tested it again. Everything is ok.

We should investigate this behaviour a bit more, before changing the docs now.

[2017-11-11 17:05] bgilmer77 commented on #561
Hum. I have a file, pingMe.rules. Works fine. I rename it ping_me.rules, it loads, but fails to execute.

[2017-11-11 17:08] KidSquid1 commented on #561
Could this be OH version related? I’m on 2.2 Snapshot Build 1072

[2017-11-11 17:09] Confectrician commented on #561
I am on `openHAB 2.1.0-1 (Release Build)`

[2017-11-11 17:21] ThomDietrich commented on #166
Ran into this today. With the nice coverage of possible triggers for rules, this one is missing from http://docs.openhab.org/configuration/rules-dsl.html

We should cover "Channel-based Triggers", should only be a few lines of information. @openhab/documentation-maintainers who wants to give it a shot?

Example 1: https://community.openhab.org/t/astro-binding-issue/2011/43
Example 2: https://githu

[2017-11-11 20:56] bgilmer77 commented on #561
I am on 2.10 release build.

[2017-11-11 22:16] bgilmer77 commented on #561
Very strange - when @KidSquid1 first posted this bug, I activated a test rule I call pingMe.rules.  Here is the contents of that file:

[code]
This rule worked perfectly when the filename was `pingMe.rules`.  I renamed the file to `ping_Me.rules`.  The log shows that the rule was loaded without any error, but it failed to execute.

Today I did exactly the same thing, as far as I know, and the rule

[2017-11-11 22:23] bgilmer77 commented on #561
BTW, I am going to close the PR I created to address this issue.  It is not because I think discussion is finished - it is because I made a mistake in creating the commit that is included with the PR.

If we find that the underscore character is truly not permitted, then I will create a new, cleaner PR to address this.

[2017-11-11 22:35] Confectrician commented on #561
@ThomDietrich

Do you know anything about changes regarding the rules in the snapshot version?

Maybe we should ask back in the community forum or in the eclipse smarthome repo to clarify this.

[2017-11-12 02:32] KidSquid1 commented on #561
Ok, have grabbed your rule and can report the following:

Rule without the underscore in the name....

`2017-11-11 20:20:51.978 [INFO ] [el.core.internal.ModelRepositoryImpl] - Loading model 'pingme.rules'
2017-11-11 20:20:52.011 [INFO ] [el.core.internal.ModelRepositoryImpl] - Refreshing model 'pingme.rules'
2017-11-11 20:21:00.005 [INFO ] [.smarthome.model.script.pingMe.rules] - pingMe just ping

[2017-11-12 09:07] Confectrician commented on #561
That is a really weird behavior.

I would ask you to post this behavior with a link to this issue in the community forum.
We can reach more people there and maybe clarify what's going on here.

Additionally I would close the issue for now since we don't need to change the documentation before we have clarified this.

If there's need for a change we can of course reopen it at any point.

Regards

J

[2017-11-12 09:08] #561 closed

[2017-11-12 14:49] ThomDietrich commented on #561
Hey guys! I just did a quick test myself. Both `amazondashbutton.rules` and `amazon_dashbutton.rules` work just fine. I am on the latest snapshot just like you @KidSquid1. The problem must lie somewhere else. It might in addition to the community also help to open an issue in the eclipse smarthome repo. After all the goal is not to solve this only for you but all others to follow...

[2017-11-12 15:16] KidSquid1 commented on #561
I have posted this to the eclipse repo as per @ThomDietrich  suggested.
[https://github.com/eclipse/smarthome/issues/4532](url)

My original posting in the OH forum is here as well
[https://community.openhab.org/t/astro-rule-weirdness/35709/13](url)

[2017-11-12 15:50] ThomDietrich commented on #556
Whoever moves the linter instructions somewhere more meaningful, please add the following option to run the linter over a certain directory:

[code]

[2017-11-12 15:53] bgilmer77 commented on #556
I have started an outline for this article. That’s why you’re getting all the questions from me on it. Will put up a PR once I have the basics down.

[2017-11-12 15:53] ThomDietrich commented on #556
Regarding the where: I'd move as much content as possible into README.md.

[2017-11-12 16:06] ThomDietrich commented on #561
Saw your issue over in the smarthome repo. You have posted the whole file and suspected it could be related to astro. The least you should do is reduce the content of the file to a minimum, maybe figure out which part of the file makes the difference. I think the chances are low that someone will pick up the issue as it is right now...

[2017-11-12 16:07] bgilmer77 commented on #556
So you want linter info in the README?

[2017-11-13 22:07] CWempe opened #564 "broken links (io vs. ios folder)"
some links are broken inside the documentation.

I am pretty sure this is because the folders got renamed by @ThomDietrich in 7c2579f33561e3d2f4553e113cf1713a0850a43e

example:
In http://docs.openhab.org/addons/ios/alexa-skill/readme.html the are some links to `/io/homekit/readme.html` etc.

The same might apply to `persistence(s)`.

Maybe someone can run a script to find and fix these errors.

[2017-11-14 09:49] ThomDietrich commented on #564
I was thinking about adding some CI magic for this. Running a tool once will always lead to this situation at some point :-/
I'll look at it. Thanks!!

[2017-11-14 09:49] #564 closed

[2017-11-14 10:21] ThomDietrich opened #565 "Continuous checking for broken links and the remark style"
Hey everyone.

I was thinking about a way to automatically generate **broken links** and **markdown lint** statistics, e.g., after every commit to gh-pages. I've been looking at various Github integrated [Code Quality](https://github.com/marketplace/category/code-quality) tools, however none of them seems to offer this kind of freedom. Most of them are specialized to e.g. run a python linting. I a

[2017-11-14 16:10] Confectrician commented on #565
Just as an idea:
What about google webmaster tools?
They can report crawling issues automatically.
One issue could be, that we get informed about this with some delay but at least we get informed.

Of course some tool that solves this task before updating the docs would be better.

[2017-11-14 22:00] ThomDietrich commented on #565
Not sure about how thorough their report is but I'm anyhow looking for more than any single service will be able to offer. I've hacked together a script to do the alternative approach described above. About to open PR...

[2017-11-15 14:52] bgilmer77 opened #567 "Linter relies on OSx-only utility - does not appear to work on Ubuntu/Debian"
Running npm-install produces the following error:
[code]
It appears that fsevents is a OSx-only utility.

Running `npm-install --no-optional` results in a clean install, but running `npm run-script lint-md` produces the following, in part:
[code]

[2017-11-17 23:53] bgilmer77 opened #570 "jekyll config file error"
Running `jekyll serve` in the openhab-docs directory produces the following:
[code]
Editing the `_config.yml` file as directed appears to correct the error.

[2017-11-19 21:53] Confectrician commented on #570
I think that i had this warning, while using the vagrant version.
It currently doesnt appear for me, while using jekyll nativ on my pc.

can you give some information about your environment?

[2017-11-19 22:26] Confectrician commented on #462
Hey @ThomDietrich,

I looked through the issues and found this one.
As i had time and motivation, i jumped in an added a quick fix PR.

I did nothing for topic 3, since i don't have enough knowledge of the callback functionality in this specific case.
Maybe we can add that later or leave it as it is written in the readmes table already.

[2017-11-20 19:13] Confectrician commented on #167
Hey @openhab/documentation-maintainers

I think this could be closed or am i wrong?

[2017-11-21 17:08] ThomDietrich commented on #167
For sure.

[2017-11-21 17:08] #167 closed

[2017-11-21 17:16] ThomDietrich commented on #462
Hey guys!
First off, sorry @cygtoad for ignoring the issue for too long. My time is limited right now. Thanks @Confectrician. I'll check the PR to see if I can help with topic 3 next.

@cygtoad you mentioned you'd like to continue help improve the documentation. Are you still interested and if so, please let us know how you imagine that could look like. It is always an easy option to find a bindin

[2017-11-21 17:34] ThomDietrich commented on #570
Can't say that I saw this warning recently...

[2017-11-22 17:34] #166 closed

[2017-11-22 18:21] bgilmer77 commented on #570
A little more detail:
Ubuntu 16.04 LTS
jekyll 3.0.1

But, I do not get the error running:
MAC OSx High Sierra
jekyll 3.6.2

But...
I have yet to verify that I have exactly the same repo cloned from GitHub in both environments.

That's all for now.

[2017-11-24 18:23] Confectrician commented on #534
Can we close this issue, since there is a according PR which has already been merged?
Or are there still things to discuss?

[2017-11-24 18:26] bgilmer77 commented on #534
Seems to me like it makes sense to close it.

[2017-11-24 20:27] #534 closed

[2017-11-24 22:04] Confectrician commented on #477
While browsing through the issues i checked random docs articles and all seem to work with https.
Seems we have a valid ssl certificate for the docs subdomain.

Are there any arguments against redirecting the docs from http to https?

[2017-11-24 22:10] Confectrician commented on #479
To get the activity back here:

I would suggest to add a short `Notification Actions` section somewhere before the `Installable Actions`

[2017-11-24 23:14] bgilmer77 commented on #477
If there are no technical blockers, I would strongly encourage us to move to https for everything about the documentation.

[2017-11-25 07:20] Confectrician commented on #477
Felle free to test to yourself.
Every page i have choosen, worked fine.

The only thing that would interest me, is if this is a github pages ssl certificate (see [here](https://github.com/blog/2186-https-for-github-pages)) or one, that has been set up by the foundation for our domain.

[2017-11-25 19:45] bgilmer77 commented on #474
@ThomDietrich can we close this?

[2017-11-25 19:46] mueller-ma commented on #474
I read some days ago an article about github introducing chat rooms. Maybe better than gitter

[2017-11-25 19:48] bgilmer77 commented on #409
@rkoshak Ithink this can be closed. WDYT?

[2017-11-26 12:42] ThomDietrich opened #576 "Persistence: Wrong example in docs"
@bgilmer77, you've recently updated this article: http://docs.openhab.org/configuration/persistence.html#items

According to it I just wanted to define a minimal config of this format:

[code]

The latter doesn't seem to evaluate and yields:

[code]

Wdyt?

[2017-11-26 13:25] ThomDietrich commented on #479
Hey @Confectrician,
thanks for triggering he issue.
Yes. Let's put it e.g. before "HTTP Actions"? Are you going to work on it?

[2017-11-26 13:31] ThomDietrich commented on #477
It's a certificate created for "sni166795.cloudflaressl.com" with "*.openhab.org" as one of many SAN entries.

Yes we can activate the redirect. Does anyone know the easiest method for that? Normally I'd define a webserver side rewrite but that's not possible.

[2017-11-26 13:33] ThomDietrich commented on #474
@mueller-ma I also read about that and am interested to check it out. I'll open a chatroom and close the issue :)

[2017-11-26 13:33] #474 closed

[2017-11-26 17:31] Confectrician commented on #479
From what i read in the first post @metbril wanted to do something and just didn't know the right place.
I would say we wait some time and see if he answers this issue again.

Otherwise, i will assign that issue to me.

[2017-11-26 17:46] Confectrician commented on #477
seems that it isn't that easy with a custom domain.
https://www.jonathan-petitcolas.com/2017/01/13/using-https-with-custom-domain-name-on-github-pages.html

Don't know if we would fit into the fre cloudflare pricing model.

[2017-11-26 18:16] kaikreuzer commented on #477
I don't really understand the issue - when I enter the documentation through https://docs.openhab.org/, all subsequent pages are automatically called with https.
So I assume that we only have to adapt all external links to directly use https?

[2017-11-26 18:38] Confectrician commented on #477
This will solve the issue for many cases of course, but if you enter `docs.openhab.org` directly through the browsers adress bar, it will not get redirected.
I think i am not the only one who is using the docs frequently and doesn't enter them without a link.

I don't know where the domain is hosted, but maybe the domain provider has a setting which redirects automatically to https.

[2017-11-26 18:45] ThomDietrich commented on #477
I'd agree with @Confectrician. Normally you'd define some webserver settings for this kind of stuff. In our case there seems to be a nice alternative:

https://gist.github.com/konklone/9968713#gistcomment-1600385

[2017-11-26 18:54] kaikreuzer commented on #477
Ok, adding a piece of javascript to always do the redirect of course makes sense.
My "don't understand" was rather referring to any certificate discussion - imho there is no action required.

[2017-11-26 19:01] ThomDietrich commented on #477
I'm creating a PR as we speak

[2017-11-26 20:16] ThomDietrich commented on #192
This issue has served its purpose :)

[2017-11-27 08:38] bgilmer77 commented on #576
@ThomDietrich would you like me to see if I get the same results on my dev machine?

[2017-11-27 12:55] ThomDietrich commented on #576
Plus correcting the article, yes :)

[2017-11-27 17:27] ThomDietrich opened #578 "Configuration: Add a link to the "demo" example configuration"
https://github.com/openhab/openhab-distro/tree/master/features/distro-resources/src/main/resources

Even if the user didn't select the Demo starting package, he/she might want to look at the example files at some point. There should be a link to them somewhere in configuration.

How about http://docs.openhab.org/configuration/index.html and/or http://docs.openhab.org/configuration/packages.html

B

[2017-11-27 17:37] Confectrician commented on #578
I would vote for `and`

[2017-11-27 18:21] BClark09 commented on #578
Providing them through the Linux packages would be no problem! And I'd agree that `/usr/share/openhab2` (`$OPENHAB_HOME`) would be the most appropriate place for them.

[2017-11-27 18:42] ThomDietrich commented on #578
Fine with me. @kaikreuzer wdyt?

[2017-11-28 11:03] kaikreuzer commented on #578
I even wonder if we should move them to the docs completely and remove the demo packaging - especially one we have the home builder merged, which should then become the starting point for new setups (while currently people probably often choose the demo setup as a start).

[2017-11-28 11:42] ThomDietrich commented on #578
@kaikreuzer let's do that!

With "to the docs" you mean out of the distro into the docs repository? Having them available in docs sounds good to me but as we also need them for @BClark09 and many users will still like to access them directly, how about https://github.com/openhab/openhab-conf-demo

[2017-11-28 11:57] kaikreuzer commented on #578
Hm, good questions. I think for @BClark09 it would probably be ideal if they are still part of the distro (as this is the input for the apt packaging) - we could package them in `runtime/demofiles` or somewhere else; Then every user would have them available without having to do a git clone or something similar technical... I would want to avoid creating a new repo for that.

[2017-11-28 12:38] BClark09 commented on #578
Adding them to `runtime/demofiles` would be perfect. It would copy over in apt/yum automatically.

[2017-11-28 13:02] ThomDietrich commented on #578
Fine with me. Imho "demofiles" is a bit unspecific. Consider something with "conf", "config" or "example".

I'll leave this issue open till after the change, then work on appropriate docs changes.

[2017-11-28 13:31] kaikreuzer commented on #578
Ok, so let's first get the home builder merged & documented and the demo packaging removed.

Anything is fine for me, please name your favorite :-)

[2017-11-28 13:58] ThomDietrich opened #579 "Console: Rephrase how to connect to the console"
https://community.openhab.org/t/interactive-mode-how-where/36642

http://docs.openhab.org/administration/console.html#accessing-the-console

The beginning of the section should be clearer. We should clearly differentiate between the two options (by setup path), making the ssh-based one the default/preferred one.

[2017-11-28 14:03] BClark09 commented on #578
"example" has my vote. `openhab/runtime/conf/` and `openhab/runtime/config/` imply they have some sort of functionality.

[2017-11-28 15:42] Confectrician commented on #578
+1 for example.

I agree with bclark. conf or config could be misunderstood.

[2017-11-28 16:12] bgilmer77 commented on #578
+1 example

[2017-11-28 16:15] kaikreuzer commented on #578
I expected @ThomDietrich to mean democonf/democonfig instead of demofiles as he said "with". So it was about replacing the word "files", not about the absolute name.
"example" by itself is not telling much either - I'd rather go for "sampleconfig" or similar.

[2017-11-28 16:17] bgilmer77 commented on #578
Ah - I missed that part Kai.  I would prefer sampleconf or sample-conf (or sample_conf?).

[2017-11-28 16:47] ThomDietrich commented on #578
@kaikreuzer Thank you. Yes 😄

[code]

Any combination is fine with me. The word "demo" is by now maybe not the best fit. "example" or "sample" would both fit, however in the community we already eastablished the term "example". For the second part I'd have liked "config" better but as the distribution is served with the "conf" folder, that might be the better choice. Hence my vote goes to: `exampl

[2017-11-28 17:11] kaikreuzer commented on #578
Ah, glad to see that we sometimes do NOT misunderstand each other ;-)

`example-conf` sounds good to me.

[2017-11-28 17:16] bgilmer77 commented on #578
+1 example-conf

[2017-11-29 13:30] ThomDietrich commented on #477
Everyone,
I've just merged the first PR wrt this issue and it seems to work quite well. All pages below http://docs.openhab.org/developers are redirecting your browser to https.

I'll give this a few days to be tested, then create the PR to effect all pages. Please test!

[2017-11-29 13:46] ThomDietrich commented on #565
Note to self: Add info when the badges where last updated.

Also: Maybe replace linkchecker by: https://github.com/stevenvachon/broken-link-checker
The situation is unclear as the linkchecker project was just forked by a new community. Broken-link-checker is a nodejs application and would go nicely alongside remark

[2017-11-29 13:55] bgilmer77 commented on #477
@ThomDietrich I just clicked through all of the left-hand menu items using both Firefox and Safari in their most current versions and all of the links were delivered using https.

[2017-11-29 15:02] kaikreuzer commented on #477
Works well for me, too 👍

[2017-12-04 14:29] ThomDietrich opened #583 "Redirects for subdirectories without index.html"
It's not uncommon to browse a URL like: http://docs.openhab.org/addons/bindings/
It is then a surprise to end up on a 404 page. An appropriate `redirect` should be created:

http://docs.openhab.org/addons/bindings/index.html -> http://docs.openhab.org/addons/bindings.html

[2017-12-06 22:10] Confectrician commented on #462
I have adressed 2 of the 3 given topics in a now merged PR ( openhab/openhab2-addons#2860 ) and opened a new issue for the outstanding topic in the openhab2-addons repo.
See: openhab/openhab2-addons#2925

Since all topics are resolved or moved t the correct repo, i will close this issue now.

[2017-12-06 22:10] #462 closed

[2017-12-07 06:33] jrieder opened #585 "MySQL to JDBC/MySQL MIgration Section"
In section https://docs.openhab.org/addons/persistence/jdbc/readme.html#migration-from-mysql-to-jdbc-persistence-services

A) The following comments should be added as the item manangement tables are different in the native mysql persistance compared to jdbc/mysql persistance:

"Rename in the existing MySQL Database the managetable from "`Items`" to "`items`""

B) Parameter "`reconnectCnt`" seems

[2017-12-07 15:20] Confectrician commented on #585
Hi @jrieder,

Thanks for filing this issue.

For users who are possibly willed to take this issue and improve the docs:

Some parts of our documentation are grabbed from external ressources and generated into the addons folder automatically from time to time.

For the jdbc readme, the original file can be found here:
https://github.com/openhab/openhab1-addons/blob/master/bundles/persistence/org.op

[2017-12-07 22:54] rkoshak opened #586 "Create a set of super simple examples"
This has come up twice today on the forum. There is a big gap for new non-technical users to get started with OH. Many if not most of the examples in the documents are too complex, too late in the docs (i.e. users give up reading before they get to the examples).

I propose adding:

- a section in the beginner's tutorial to describe text based Item configs
- supplemental pages with examples, one f

[2017-12-07 23:01] Confectrician commented on #586
Hey @rkoshak,

Thanks for the proposal.

I think it is partly based on https://community.openhab.org/t/please-send-basic-rule-examples/37062/31 from my own readings this evening.

If you have other threads in mind, which made you file this issue, please mention them here too.
This way everyone can read all recent topic related content and get an overview of the needs.

[2017-12-08 16:46] rkoshak commented on #586
There was another one and I can't find it anymore. That is what happens when you read every post. I'll give it another go. The root problem of the post was the OP didn't understand basic Items syntax even after reading (or claiming to have read) the Items Docs. Their claimed problem was they couldn't figure out how to reference an Item from Rules. The OP's picture looked like a Simpson's character

[2017-12-08 16:55] Confectrician commented on #586
No problem, we can add that later or add others when they are related.
Just wanted to get an overall overview, of the problems that confuse people.

[2017-12-08 17:07] rkoshak commented on #586
Here is the one that you already know about.

https://community.openhab.org/t/wtf-rules-in-oh-2-1/37066

[2017-12-08 17:15] bgilmer77 commented on #586
+1 to this project.  We have to make it as easy as possible to go from zero to up and running for someone who has some basic computer knowledge, but zero exposure to OH.

This is a topic that is very near and dear to my heart.  If there is not an easy on-ramp for people who are interested in OH, they will ditch it in frustration after their initial attempts.

Speaking from my own experience, I sta

[2017-12-09 22:42] iceburg1991 commented on #578
+1 example-conf , sounds good and logic.

[2017-12-11 22:46] ThomDietrich commented on #479
Hey guys, we are going to promote this part of the documentation soon, see: https://github.com/openhab/openhab.android/pull/509

Anyone able to submit a PR in the next couple of days?

[2017-12-12 09:17] Confectrician commented on #479
PR incoming this Week. :+1:

[2017-12-12 21:09] Confectrician commented on #479
Ok its not that easy, since i cant get it to work right now for my installation.

[2017-12-12 21:34] bgilmer77 commented on #479
I have notifications working on my installation through myopenhab.  @Confectrician do you want to do the PR, or would you like me to put something up there to shoot at?

@ThomDietrich BTW, I am also using Prowl.  There are a number of notification add-ons available.  I guess you only want to address notification through myopenhab?

[2017-12-12 21:38] Confectrician commented on #479
Please do the PR @bgilmer77.

Maybe i will get mine to work, when documentation is there. 😄

[2017-12-12 21:42] bgilmer77 commented on #479
Okay - I will work on this tomorrow.

@Confectrician , one quick thing since I have you here - @ThomDietrich was wanting to do some clean up before the new release.  I have some time this week and could dig into this.  Was the assignment to go through the add-ons and 'de-lint' as many of them as we can with one PR per add-on?  I never got conformation of this and don't want to start into this with

[2017-12-12 22:03] Confectrician commented on #479
There was no real conclusion.

-> Please have a look at the related TeamDiscussion.
I will bump it now.

[2017-12-13 12:33] bgilmer77 commented on #479
@metbril I have created the PR #587.  Does this address your issue?  There is additional information on the wiki that I did not put into this PR.  Let me know if you think we need more here or if the references to documentation elsewhere is sufficient.

[2017-12-14 13:01] ThomDietrich opened #589 "Add MQTT 101 to Tutorials list"
https://community.openhab.org/t/mqtt-binding-v1-11-getting-started-101/33958

http://docs.openhab.org/tutorials/index.html#community

@Confectrician @bgilmer77 @kubawolanin this would be a good chance to add other Tutorials as well. Please post links to community threads you'd like to see in the list.
It would be amazing if someone other than me opened a PR for this. ;)

Thanks!

[2017-12-14 13:25] ThomDietrich opened #590 "Items/Commands: Mention REFRESH"
Each Item type defines a set of accepted commands. These are for example ON, PLAY, 5 or "Hello". There are also not-so-obvious commands, most importantly (the only one!?) REFRESH:

[code]

While at it, we should check if all Item Types and accepted Commands are mentioned.
See:
* https://github.com/eclipse/smarthome/blob/master/bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smart

[2017-12-14 21:14] Confectrician commented on #590
Seen in https://community.openhab.org/t/type-conversions/32684

`MyColorItem.sendCommand(INCREASE)`

probably there is `DECREASE` too.

[2017-12-14 21:19] Confectrician commented on #589
I have looked through the Tutorials and Examples area of the community board.
There are some additional interesting topics, but i would say that those are more complex and maybe confuse new users, so i don't want to suggest them.

But:
I would say we could change the list order a bit.
Washing Machine State Machine is a great topic, but also very complex.
There is not only openHAB and washing machi

[2017-12-14 23:10] kaikreuzer commented on #578
I didn't really make it to address this in time and I feel that removing the demo package now is too risky and will render many screenshots outdated immediately.
So I hope you do not mind if I leave it in place in the 2.2 release after all; let's do the change in 2.3.0-SNAPSHOT then.

What I'd like to add though is the Home Builder to some package. I think the "Standard" package is the only candid

[2017-12-14 23:21] kaikreuzer commented on #578
You can simply vote on https://github.com/openhab/openhab-distro/pull/609 :-)

[2017-12-15 13:57] ThomDietrich commented on #479
@bgilmer77 Prowl is in the list below, here: http://docs.openhab.org/addons/actions.html#installable-actions
Not sure what you meant when mentioning it.

@Confectrician Hahaha touché

[2017-12-15 14:06] bgilmer77 commented on #479
@ThomDietrich My question was about whether you want to stay completely focused on just OH Cloud notifications.  That was my assumption when I wrote the PR.  At this point, don't worry about my mention of Prowl above.

[2017-12-15 14:16] ThomDietrich commented on #479
Yes :) Okay

[2017-12-15 14:53] ThomDietrich opened #591 "HomeBuilder article"
Hello @kubawolanin,

we just realized that HomeBuilder does not yet have a place in the openHAB documentation.

It would be important to have an article about it in the documentation for the 2.2 release.

1. Could **you** please update and extend the usage article: https://github.com/openhab/openhab-core/blob/master/bundles/org.openhab.ui.homebuilder/USAGE.md I would ask you to add a header like [

[2017-12-15 17:10] kubawolanin commented on #591
Hey @ThomDietrich, thanks for reminding me.
I've submitted my PR with the changes to HomeBuilder docs. I'd appreciate your feedback.
No images at the moment.

Cheers

[2017-12-15 21:59] Kattihatt opened #593 "How to consult the logs should be added to beginner tutorial!"
So I've been fiddling with openhab2 for like eight hours today. Might say more about me than the lack of documentation really, but the second I joined the IRC-channel, they told me to check the logs. Being oblivious of how to since I hadn't ran into any log files they told me about:
"ssh openhab@localhost -p 8101
habopen
log:display"

Not working blindfolded, it took me ten minutes to figure out w

[2017-12-15 22:51] bgilmer77 commented on #593
@Kattihatt I agree.  Coming from a Debian sys admin background, one of the first things I did when I was getting started was to go looking for the logs in /var/log, but of course...

Anyway, you have a good suggestion.  Let me see if I can create a PR to address your comment.

[2017-12-16 15:08] Confectrician commented on #593
Maybe we can reuse some of the logging article parts or refer to them.
So that we have a really basic understandable starting point of logs and refer for more generic thigns to the corresponding docs page.

[2017-12-16 19:29] bgilmer77 commented on #593
It needs to be REALLY REALLY simple.  Leave out EVERYTHING except the most basic instructions about how to access a log.  And include a pointer to more complex article on logging.  My two cents.

[2017-12-16 21:04] #591 closed

[2017-12-16 23:57] #579 closed

[2017-12-17 11:32] ThomDietrich commented on #593
Hello @Kattihatt I think @bgilmer77 made an excellent point. All too often do we who might have more background with Linux systems forget to explain basics not everyone knows magically.

A side note: Do you use openHABian? You should know that it brings a web frontend (openHAB Log Viewer) to access the logs. That might be something to look out for!

My suggestion: Mention to check the logs if step

[2017-12-17 12:28] Confectrician commented on #593
👍

[2017-12-20 17:42] ThomDietrich opened #597 "Logging: Add openHABian log viewer (frontail) as an option"
Many (especially new) users start off with openHABian and would hence have access to the frontail log viewer. Sadly they don't know that. Other users don't know about the option.

We should mention it in documentation.

[2017-12-21 16:37] ThomDietrich opened #598 "Windows: Remove old download link"
It should be considered to not link a fixed version but rather the locations where the latest builds can be downloaded.

[2017-12-21 16:51] ThomDietrich opened #599 "Rules: Document "triggeringItem""
https://github.com/eclipse/smarthome/pull/4526

@jmsjones you've implemented that great feature. Thanks for that. Now that openHAB 2.2 is released we need to document it so users do actually know about it. Would you like to contribute some details somewhere around here? http://docs.openhab.org/configuration/rules-dsl.html#implicit-variables

[2017-12-22 19:54] ThomDietrich opened #601 "Replace angle brackets in example code by proper unicode symbol"
Example code is full of placeholders, e.g. http://docs.openhab.org/configuration/sitemaps.html#element-type-switch

[code]
The use of `<>` is confusing in certain situations. I just realized that another symbol (unicode) is commonly used for these cases. http://www.fileformat.info/info/unicode/char/3008/index.htm

[code]

If the introduced space is not desired, we can also go with http://www.filef

[2017-12-25 10:27] Stefan300381 commented on #189
Hi there,

wow, old issue. I am new to OpenHab and have just read the installation instructions (git clone of openhabian to linux arm device) followed by the tutorial. Unfortunately I fell into the same trap, meaning I couldn't find the config folder. Via google I found the answer: There is no folder named conf in my installation, but everything can be found under /etc/openhab2

So I highly sugges

[2017-12-25 15:22] bgilmer77 commented on #189
Hi @Stefan300381, I feel your pain.  I had exactly the same experience when I first tried to learn about openHAB.  I have created Pull Request #603 which I hope addresses your problem.  Let's hope people looking through the tutorial in the future will not have to share our frustrations...

[2017-12-26 18:13] digicos opened #604 ""Binding" introduced without any short description"
Hi,
 I am a newbie to Openhab, and while going through the documentation at [this page](https://docs.openhab.org/concepts/things.html) , binding is introduced in [Thing Status](https://docs.openhab.org/concepts/things.html#thing-status). I would request to place a small introduction to what "bindings" are, just before mentioning it or provide a link to the relevant section.

[2017-12-26 18:18] bgilmer77 commented on #604
Hi @digicos.  Thank you for pointing this out.  Let me take a look at this.

[2017-12-26 18:21] bgilmer77 commented on #604
@digicos Question - would a link to [this](https://docs.openhab.org/addons/bindings.html) be helpful when the word Binding is first used?  Do you think we need some text specifically to introduce bindings?  If so, maybe it belongs on [this](https://docs.openhab.org/concepts/index.html) page?

[2017-12-27 04:40] Stefan300381 opened #605 "Typo in beginners tutorial"
Hi,

The tutorial http://docs.openhab.org/tutorials/beginner/sitemap.html1 states:

One last thing to do is setting the default sitemap for the “Basic UI” via “Paper UI”. Browse to “Configuration -> Services” in Paper UI and click the “Configure” button of Paper UI

Actually the last two words are wrong. It should be “Basic UI” instead of “Paper UI”, as shown in the screenshot below the statement

[2017-12-27 10:28] bcurran3 commented on #447
I see 2.20 is out. I've made the Chocolatey package but putting it on hold for a day or two to review this thread and implement any changes.

TDL:
change to zulu for JVM (right?)
add icon to config fold or browser to launch config.

Give me your wishlist before I "set this in stone" please.

[2017-12-27 11:10] ghys commented on #447
@bcurran3 Great!
I can't comment on the JRE switch to Zulu because I never tried it on Windows...

Nice! 👍
By the way: you might have noticed openHAB has a new logo, since you  (I suppose it was you?) updated it on https://chocolatey.org/packages/openhab, so I trust your new package will have the [tools/openhab.ico](https://github.com/bcurran3/ChocolateyPackages/tree/master/openhab/tools) icon upd

[2017-12-27 14:24] digicos commented on #604
@bgilmer77 , a text (along with mention to link for further exploration ) would be helpful to understand what bindings are and set a context for further understanding. For me it was more confusing and not able to visualize what binding in physical / logical terms could mean. "Things" section has a better explanation..
I still have unclear thoughts about "bindings"..are "bindings" physical or logic

[2017-12-27 14:39] bgilmer77 commented on #604
@digicos, please take a look at [this](http://docs.openhab.org/configuration/items.html#binding) article in the configuration section on items.  Once a binding for a specific physical thing (small "t", not capital "T" as in "Thing" in openHAB) is associated with an Item, the Item knows how to communicate with that physical device.  You can think of the binding as a translator.  So inside the guts

[2017-12-27 14:53] digicos commented on #604
@bgilmer77 this clarifies my doubts..Thanks! The below paragraph about "binding" would be helpful in the introduction section.

[2017-12-27 15:15] bgilmer77 commented on #604
@digicos I am glad this helped.  I will work to get something in the documentation quickly about this.  And thank you for bringing this up.

I am very focused on improving the experience of new users so this comment is really helpful.  Question - what OS are you using and are you having any other problems getting started?

[2017-12-27 16:01] digicos commented on #604
@bgilmer77 I am using OpenHabian on Raspberry Pi 3, which i finished installing 2 days back without any  hassles. Windows 10 & Ubuntu as my development platform.
I'll keep posting in case I hit another mental block!..

I work on technologies ranging from embedded systems to making web apps, so I find the documentation kind of easy to follow

Thanks once again..appreciate your efforts!!.

[2017-12-28 00:55] lews0r opened #607 "OH User Manual - BigAssFan Binding - SiteMap Example"
Example shows:
Slider item=PorchFanLight**Speed** label="Light Brightness [%s %%]"

Should be:
Slider item=PorchFanLight**Level** label="Light Brightness [%s %%]"

[2017-12-28 02:33] bgilmer77 commented on #607
Hi @lews0r, thank you for noting this issue.
If you don't mind, please create the same issue in /openhab/openhab2-addons. The addon you refer to is in that repository.

FWIW, I have already created a PR, /openhab/openhab2-addons/#3404 to address

[2017-12-28 04:16] lews0r commented on #607
Sorry - was just for the documentation, the binding works properly. Should I still re-create in /openhab/openhab2-addons?

[2017-12-28 09:12] Confectrician commented on #607
The documentation for bindings is maintained in the add-ons repo and copied over to the docs from time to time.

This is done this way to only have one location where you need to change something for one binding.

Please have a look at our readme here. We have a section called "automatic generated parts" which describes how we do that.

About your question:
I think you don't need to file an issue

[2017-12-30 13:23] #599 closed

[2017-12-30 13:38] ThomDietrich commented on #604
Hey guys, Thanks @digicos for your participation.

Three comments from my side:

1. The concepts articles are copied over from another place (the eclipse smarhome project). While this technicality shouldn't hinder improvements, I'd suggest to address the reported error inside the article rather than by linking another part of the openHAB documentation.
2. @digicos this is not the solution for the

[2017-12-31 12:10] Hilbrand opened #610 "Update osgids regarding use of Service Component Annotations"
On the page: https://github.com/openhab/openhab-docs/blob/gh-pages/developers/prerequisites/osgids.md It states the following in https://github.com/openhab/openhab-docs/blob/gh-pages/developers/prerequisites/osgids.md#1-service-component-description:

    Note! Please keep in mind that the Service Component Description might be
    automatically generated using SCR Annotations like @Component, @Re

[2017-12-31 17:08] martinrunge commented on #558
The same is true for the launch with systemd:
I succeeded with the following "/etc/systemd/system/openhab2.service":

    [Unit]
    Description=openHAB 2
    Requires=docker.service
    After=docker.service

    [Service]
    Restart=always
    ExecStart=/usr/bin/docker run --name=%n --net=host --tty \
      -v /etc/localtime:/etc/localtime:ro \
      -v /etc/timezone:/etc/timezone:ro \
      -v

[2017-12-31 17:15] Confectrician commented on #558
Do you want to add the PR yourself @martinrunge ?

[2018-01-01 17:22] ThomDietrich opened #613 "Adopt openhab-android repo name"
e.g. in update-external-resources script.

https://github.com/openhab/openhab-android/pull/588

[2018-01-02 12:02] bcurran3 commented on #447
OK. I've updated the openHAB 2.2.0 Chocolatey package.
https://chocolatey.org/packages/openhab/2.2.0

- I think I got the right icons used, please verify
- stayed with Oracle JRE (4,646,370 downloads) vs Zulu (574 downloads) as Oracle is more popular
- downloads the addons
- openHAB shortcut FOLDER created with following shortcuts
- openHAB icon
- openHAB Dashboard icon
- openHAB Community icon
-

[2018-01-02 12:17] ThomDietrich commented on #447
@bcurran3 great work!

Zulu Java is the default recommendation on Linux as openJDK poses certain incompatibilities and Oracle Java is problematic in it's licensing terms. While a defaulting to Zulu could be discussed I guess Oracle Java is just fine for your package. I'd say we can ignore this for now.

Your work is highly appreciated but I fear underrated. You should seriously consider drafting a

[2018-01-02 15:01] martinrunge commented on #558
You ask me to open a new issue for that instead of commenting an already closed one, right?

[2018-01-02 15:17] Confectrician commented on #558
No, thats's why I reopened this one already. :)

I was asking if you want to do the change yourself and file a Pull Request.

[2018-01-02 16:23] martinrunge commented on #558
Yes, just recognized it myself. Pull Request is on its way.

[2018-01-02 19:58] bcurran3 commented on #447
Thanks @ThomDietrich.

Packaging is pretty easy. I've packaged a few hundred programs and have lots of templates now. :) It's just simple scripting.

Zulu vs Java: IMHO I think you're looking at this issue from a developer standpoint (and with Linux eyes). In the Wintel world, Oracle's Java is the defacto standard. To the majority, there is no such thing as a choice or any other versions. The norm

[2018-01-04 17:28] lsiepel opened #615 "Logging page shows wrong example"
The provided logging example at this page: https://docs.openhab.org/administration/logging.html is wrong/old:
log:set DEBUG org.openhab.binding.sonos

Should be:
log:set DEBUG org.eclipse.smarthome.binding.sonos

[2018-01-04 21:25] ThomDietrich commented on #615
Sounds about right, thanks for reporting!

[2018-01-04 21:29] #615 closed

[2018-01-06 21:32] mueller-ma opened #617 "Images on apps/android.html are not shown"
See http://docs.openhab.org/addons/uis/apps/android.html

[2018-01-06 22:51] ThomDietrich commented on #617
Right. Seems like I was a bit sloppy during integration. I'll fix this in conjunction with #613

[2018-01-06 22:57] bgilmer77 commented on #617
@ThomDietrich I picked this up also.  From what I can see, the names in the source `images` directory match what is in the article, but when I look in uis/apps/images, the appropriate file names are `android_01.png` and `android_02.png`.  I am guessing you already know this...

[2018-01-06 23:27] ThomDietrich commented on #617
The whole issue is related to the process of retrieving external resources and the regular "Update generated content" commits you are seeing from Kai. At some point I should give you and @Confectrician a short overview on that.

[2018-01-06 23:29] bgilmer77 commented on #617
I thought so. For now I will leave this to you. And Happy New Year!

[2018-01-06 23:45] ThomDietrich commented on #617
Thanks Brad! All the best wishes for you as well! 🍀

[2018-01-07 09:36] Confectrician commented on #617
I think there is still a lot of "internal documentation" missing, which makes it hard for "newbies like us" to get an overview of the whole process.
But experience will come with the time. 😃

Maybe at least some (more) comments in the corresponding scripts could be useful in the nearer future.
But that's of course a bit too off topic for this issue now.

[2018-01-07 16:38] #613 closed

[2018-01-07 16:38] #617 closed

[2018-01-07 16:42] ThomDietrich commented on #617
Works now: http://docs.openhab.org/addons/uis/apps/android.html

[2018-01-07 17:29] ThomDietrich opened #619 "Docs Versioning: Add 2.2.0 stable and 2.3.0-SNAPSHOT"
After the openHAB 2.2.0 release and last improvements and corrections to the documentation it is time to update the versioning function (#520)

[2018-01-07 17:37] kaikreuzer commented on #619
I just noticed something that I didn't had a close enough look at before: I see that you have created 2.1.0, 2.2.0, 2.3.0 etc. versions.
As I briefly mentioned in https://github.com/openhab/openhab-docs/issues/520#issuecomment-339998197, I would actually rather suggest to only have docs for minor versions, i.e. 2.1, 2.2, etc.

Note that we have the addons download site also only for 2.x and if the

[2018-01-07 17:38] ThomDietrich commented on #619
Caught me in the last second. Good point. On it.

[2018-01-07 17:43] ThomDietrich commented on #619
![grafik](https://user-images.githubusercontent.com/2870104/34652148-a13b0eee-f3da-11e7-87eb-2c49f31c633b.png)

So you would prefer v2.3-SNAPSHOT, v2.2, v2.1
?

[2018-01-07 17:48] kaikreuzer commented on #619
How about even simpler 2.1, 2.2, latest (which is imho more common on documentation than the technical word SNAPSHOT).

[2018-01-07 17:54] bgilmer77 commented on #619
Strongly agree with LATEST.  This is well aligned with the Linux world.

[2018-01-07 18:03] ThomDietrich commented on #619
Makes total sense to me, I'm on it.

[2018-01-07 18:06] ThomDietrich commented on #619
One thing I'd rather not change now (takes more time then you might think) but would be something to remember for next time. You seem to agree on the proposal by Kai, my current solution consists of "latest version, v2.2, v2.1" - If we want to get rid of the "v/version" that would be fine with me.

[2018-01-07 18:08] bgilmer77 commented on #619
Fixing this next time is just fine with me - I do not see that this is superurgent.

[2018-01-07 18:11] #619 closed

[2018-01-07 18:14] ThomDietrich commented on #619
It's done.

Please forgive me for not going the Pull Request path. This process involves three branches and 3000 files and complicated enough 🙇
Please check if you can find any issues: https://docs.openhab.org/

[2018-01-07 19:47] kaikreuzer commented on #619
Nice work, many thanks! 👍

[2018-01-07 20:59] bgilmer77 commented on #593
I am looking into reviving work on this PR.

My suggestion would be to add the following to the installation/index.html page in the last section under "Help".

"You may also want to look at this article on [logs](http://docs.openhab.org/administration/logging.html).  Inspecting the logs may reveal information that is helpful to you as you work with openHAB."

Any objections?

[2018-01-09 20:14] bgilmer77 commented on #604
@ThomDietrich I have a single sentence PR that I could introduce over on eclipse/smart-home to address this specific issue.

`**Bindings** are add-ons that provide a way to tie Items to physical devices, and to abstract the specific communications requirements of that device into a more generic openHAB world of Things, Items and Channels.`
While the article you reference does give a short descript

[2018-01-09 21:23] bgilmer77 commented on #607
Closing this issue.  PR openhab/openhab2-addons/#3042 has addressed this and has been merged.

[2018-01-09 21:23] #607 closed

[2018-01-09 21:24] ThomDietrich opened #622 "Logging: Move information to one spot"
Almost identical details regarding logging in rules are available in these spots:

* https://docs.openhab.org/administration/logging.html#create-log-entries-in-rules
* https://docs.openhab.org/addons/actions.html#logging-actions
* https://docs.openhab.org/configuration/rules-dsl.html#logging

This should be sorted out somehow...

How about reducing the section in the actions article to a minimum,

[2018-01-10 18:56] ThomDietrich commented on #604
Sounds good. How about "link" instead of "tie"?

[2018-01-10 22:06] rkoshak opened #623 "Update Docker Upgrade Docs now that the container performs the upgrade steps for you"
The Docker scripts have been updated to automatically perform the upgrade steps when the container version is different from the userdata version.

[2018-01-11 17:12] bgilmer77 commented on #604
Sure - I agree with link.  I will go ahead and drop this PR when I get a chance.

[2018-01-11 17:26] bgilmer77 commented on #604
Sure - I agree with link.  I will go ahead and drop this PR when I get a chance.

[2018-01-11 20:32] bgilmer77 commented on #604
Created PR eclipse/smarthome/#4899

[2018-01-11 20:35] Confectrician commented on #604
If you remove the last / it will be linked automatically. 😃

eclipse/smarthome#4899

[2018-01-12 18:19] #623 closed

[2018-01-14 15:58] bgilmer77 opened #626 "A"

[2018-01-17 02:28] bdleedy opened #628 "iCloud binding Account Thing lacks config explanation"
`Thing device myiPhone8 "iPhone 8" @ "World" [deviceId="VIRG9FsrvXfE90ewVBA1H5swtwEQePdXVjHq3Si6pdJY2Cjro8QlreHYVGSUzuWV"]`

It is unclear what `@ "World"` signifies and where to obtain the `deviceId`

[2018-01-17 09:01] Confectrician commented on #628
Hi @bdleedly,

Thanks for posting this issue.

As information for you and others willed to fix this:

Since this is binding releated content, it is maintained in the corresponding addons repo and has to be fixed there.
(I think it's the openhab2-addons repo in this case.)

We grab the binding readme files from time to time and update the docs automatically then.

I will look up the current file to

[2018-01-17 11:44] ThomDietrich commented on #628
Hey @bdleedy,
your first concern is easily answered by the Things configuration article: https://docs.openhab.org/configuration/things.html#defining-things-using-files It is not related to the iCloud binding and should imho not be discussed there. What do you think?

Regarding your second issue, I agree. The article only says:

To be clear: The given ID is the identifier the device identifies itse

[2018-01-17 11:44] #628 closed

[2018-01-18 10:13] ThomDietrich opened #629 "Since 1.x switch not working"
https://docs.openhab.org/addons/bindings.html

Ticking/un-ticking "Since 1.x" does not filter the content of the list

cc @kaikreuzer

[2018-01-23 13:30] #626 closed

[2018-01-23 18:12] ThomDietrich opened #634 "Clarify the relation beteen "System Integration" and "Misc" in Paper UI"
https://docs.openhab.org/addons/io.html
https://github.com/openhab/openhab2-addons/pull/3162

The "System Integration" category is more or less the same as the Misc add-ons category in Paper UI. Important: It is not the same!

In the introduction of https://docs.openhab.org/addons/io.html it should e.g. be stated that most of the mentioned systems are integrated via a "Misc" add-on. *Just a first

[2018-01-23 20:22] Confectrician commented on #634
I'd suggest a new headline (maybe below the table) explaining all options in detail.

Just to be sure:
I know installing from Paper UI, Karaf and dropping a .jar somewhere.
Did I miss some option, that i simply didn't use myself yet?

[2018-01-23 20:31] bgilmer77 commented on #634
Those are the options I am aware of...

[2018-01-23 20:40] Confectrician commented on #634
OK. I will provide a WIP PR in the next minutes.

The System Integration part is a quick fix.
Add on installation needs a bit more attention, but i have some idea already.

[2018-01-24 16:14] ThomDietrich commented on #189
@BClark09 it seems like there is no explicit placeholder for the "add-ons" folder. Can you confirm that? What do we make of it?

[2018-01-24 16:43] bgilmer77 commented on #189
+1

[2018-01-24 16:47] BClark09 commented on #189
Ah yes, the `addons` folder is located in `$OPENHAB_HOME/addons` but it would be no problem to add a `$OPENHAB_ADDONS` environment variable to linuxpkg?

[2018-01-24 16:53] bgilmer77 commented on #189
Ahh!  There’s the answer - $OPENHAB_HOME. FWIW, what other variables exist?  Where could I look to see for myself?

[2018-01-24 16:54] bgilmer77 commented on #189
No opinion on whether we need an ADDONS variable.

[2018-01-24 17:01] BClark09 commented on #189
The variables are used (and set if not defined in) in `https://github.com/openhab/openhab-distro/blob/master/distributions/openhab/src/main/resources/bin/oh2_dir_layout`

In linuxpkg installs, the easiest way to see the list is by using `openhab-cli info`, which it gets from `/etc/profile.d/openhab2.sh`

[code]

[2018-01-24 19:24] ThomDietrich commented on #189
@BClark09 `$OPENHAB_HOME/addons` is technically correct. The intriguing question is... is that better than yet another placeholder? Pretty unsure about it. We also reference the items folder as `$OPENHAB_CONF/items` and not with its own placeholder. Wdyt?

[2018-01-24 19:28] bgilmer77 commented on #189
I would say we do not need another placeholder.  I was just missing the pointer to OPENHAB_HOME.  Others?

[2018-01-24 19:40] BClark09 commented on #189
Yep, `$OPENHAB_HOME/addons` is a good reference to have. For me, having it's own placeholder implies that we can move it somewhere else, and this is not the case.

Sidenote: It's not the case for `$OPENHAB_RUNTIME` either, but this environment variable is used in Karaf so it should be referenced at least in `cli info`. It'd be my preference for the docs to reference `$OPENHAB_RUNTIME` as `$OPENHAB

[2018-01-25 07:39] ThomDietrich commented on #189
Convinced me.

Sounds good. Could you (to summarize this issue) give a final list of all placeholders? Locations, and others like hostname or port

[2018-01-25 14:48] BClark09 commented on #520
This can be closed now right?

[2018-01-25 14:51] Confectrician commented on #520
Correct. thanks for notifying. 😄

[2018-01-25 14:51] #520 closed

[2018-01-25 14:54] BClark09 commented on #430
Now that we have versioned docs, I think this can be closed also?

[2018-01-25 15:45] BClark09 commented on #189
Sure, for the docs I would use:

<table>
    <tr>
        <th>Placeholder</th>
        <th>Example on UNIX/MacOS</th>
        <th>Example on Windows</th>
        <th>Apt/Yum Packages</th>
    </tr>
    <tr>
        <td>$OPENHAB_HOME</td>
        <td>/opt/openhab</td>
        <td>C:\\openhab</td>
        <td>/usr/share/openhab2</td>
    </tr>
    <tr>
        <td>$OPENHAB_USERDATA</td>
        <td>

[2018-01-25 15:59] BClark09 commented on #175
Can this issue be closed now? I think one new action that may need to be raised from the above conversation is that a variable be made for the binding interface.

[2018-01-25 18:14] ThomDietrich commented on #175
@BClark09 Sounds about right. Can you create one?

[2018-01-25 18:14] #175 closed

[2018-01-25 18:16] ThomDietrich commented on #430
It was a good idea but yes now we have versioned docs AND try to avoid mentioning of version numbers as much as possible...

[2018-01-25 18:16] #430 closed

[2018-01-27 18:06] BClark09 commented on #175
Whilst looking into it, it seems that we already have one! $OPENHAB_HTTP_ADDRESS is the environment variable you can set to do this.

Is it worth editing the docs to mention it? I think so.

[2018-01-31 23:47] ghys commented on #487
I was a little frustrated by this for some time so I decided to take a look and ended up with #639.
I only saw this discussion before committing.
Even if something else is in the works, hoping it can be merged :) - it does the job in the meantime and it's a relatively small fix!

[2018-02-04 18:28] mueller-ma opened #640 "Mapview label and icon are not displayed in basic UI"
See https://github.com/eclipse/smarthome/issues/5030 and https://github.com/openhab/openhab-docs/pull/533#discussion_r165842038

@ThomDietrich

[2018-02-06 01:50] michaelrice opened #641 "openhab-genertor command not found"
Following this: https://docs.openhab.org/installation/openhabian.html#what-next it says

```After your first setup is done, you might want to generate Items, Sitemap and HABPanel dashboard for your home. Simply log in to your Raspberry PI with SSH and type openhab-generator. ```

But using `Version:     2.2.0 (Build)` you get `openhab-generator: command not found`

[2018-02-06 07:42] Confectrician commented on #641
Hey @michaelrice,

thanks for pointing us to that issue.
I don#t think that the documentation here is wrong.
It seems like something went wrong with the implementation of openhab-generator in openhabian.

I have moved the issue to openhab/openhabian#329 and will close this one later.

BR
Jerome

[2018-02-06 07:43] #487 closed

[2018-02-09 17:26] ThomDietrich commented on #641
Hey @michaelrice, thanks for triggering this issue. The generator is the successor to the Home Builder: https://docs.openhab.org/configuration/homebuilder.html
Please use this one ;)

Let's track the task in the other issue.

[2018-02-09 17:26] #641 closed

[2018-02-11 15:50] cdjackson opened #642 "Broken links with ZWave documentation"
Hey @ThomDietrich thanks for updating the docs with the latest version of ZWave readme, although it doesn't look to have copied over all the new thing files. This means that the link to the list of things is currently broken and docs.openhab goes 404 as a result.

When you get a chance could you take a look at this.

Thanks (and I hope the writing is otherwise going well ;) ).

[2018-02-12 00:23] kaikreuzer commented on #642
The generation was actually done by me, but the files end up in `_addons_bindings` and I assume that some copy-task needs to be adjusted. As I am not fully aware of all this copying mechanism anymore, I'd rather leave it to @ThomDietrich to adjust it...

[2018-02-12 11:46] BClark09 commented on #642
I had a look at this, the links are correct for github as they link directly to the .md files. But since they're served as .html files then the website will generate a 404.

e.g:
https://docs.openhab.org/addons/bindings/zwave/doc/things.html
https://docs.openhab.org/addons/bindings/zwave/doc/aeon_zw100_01_010.html

Either at the generation stage, or at the serving stage, `.md` needs to be replaced

[2018-02-12 11:50] kaikreuzer commented on #642
Ah, thanks!
Yes, I think it should be html at generation stage already (as we have all links as html in the docs repo).
@cdjackson Could you adapt your generation accordingly? I'd then deploy an updated version.

[2018-02-12 12:10] cdjackson commented on #642
I thought about that when I was looking at it yesterday and thought that the doc generation system must change the links from md to html. It has to change the link anyway as MD links are completely different to html hyperlinks.

It's a shame if we have to do this as it will means that the readme on github will have broken links, but if you confirm that that's how it works I can update and we just

[2018-02-12 12:38] kaikreuzer commented on #642
Afaik, we have to live with the broken links on Github.

[2018-02-12 13:41] BClark09 commented on #642
Is https://github.com/openhab/openhab-docs/blob/gh-pages/process_addons.groovy the file used to copy over the task? IMO it would be better to add a replace all ".md)" with ".html)" for each line in each file taken in, but I understand this might be a resource intensive action.

[2018-02-12 13:54] mueller-ma commented on #640
Fixed: https://github.com/eclipse/smarthome/pull/5071

[2018-02-12 13:54] #640 closed

[2018-02-12 13:54] cdjackson commented on #642
I would also prefer to fix it in the processor if possible...

[2018-02-13 23:09] vzorglub opened #643 "Telegram action documentation"
I had a hard time with the configuration of the telegram action.
One issue is getting the chatId! But this is Telegram's fault and not very well documented and pretty unreliable.
It appears that Group chats have a chatId that is prefixed with a "-". On node red, the telegram node ignores that and "it just works" but OH needs the prefix. So I propose the following amendment (In Bold).

-     Open a

[2018-02-14 14:49] bgilmer77 commented on #643
Hi @vzorglub, thank you for posting this issue.  I do not use Telegram, but I will open a Pull Request and post your suggested fix.

However, I need to ask a favor please.  If I am not mistaken, the Telegram Action is from OH1, and so it is part of the openhab/openhab1-addons repository.  Could you please repost this issue in that repository and close this one?  Once I see it posted there I will w

[2018-02-14 19:17] vzorglub commented on #643
I think I have created a pull request myself directly on the readme file

Please check and let me know if I did it right!

Thanks

On 14 February 2018 at 14:49, Brad Gilmer <notifications@github.com> wrote:

[2018-02-14 19:36] bgilmer77 commented on #643
I looked but I do not see it.  I also did not get a notification of a new PR.  Where did you post this?

[2018-02-14 20:38] vzorglub commented on #643
In the openhab1-addons report, I believe.

Regards

On 14 Feb 2018 19:36, "Brad Gilmer" <notifications@github.com> wrote:

[2018-02-14 20:48] bgilmer77 commented on #643
Interesting - I am in /openhab/openhab1-addons, and the PR at the top is openhab/openhab1-addons/#5490, which has to do with Telegram, but it is not your PR, and the subject of the PR is not your work.

[2018-02-14 22:53] vzorglub commented on #643
Ok
I must have done it wrong then.
I am new at github.
I'll try again.

Regards

On 14 Feb 2018 20:49, "Brad Gilmer" <notifications@github.com> wrote:

[2018-02-15 02:00] bgilmer77 commented on #643
Ok. Let me know if I can help.

[2018-02-15 07:49] Confectrician commented on #643
telegram Action can be found here:
https://github.com/openhab/openhab1-addons/tree/master/bundles/action/org.openhab.action.telegram

[2018-02-15 11:36] vzorglub commented on #643
I think I got it right this time....
My pull request is on the list this time

Regards

On 15 February 2018 at 02:00, Brad Gilmer <notifications@github.com> wrote:

[2018-02-15 11:36] vzorglub commented on #643
I think I got it right this time....
My pull request is on the list this time

Regards

On 15 February 2018 at 07:49, Jerome L. <notifications@github.com> wrote:

[2018-02-15 14:53] bgilmer77 commented on #643
I see your PR!!!  Thank you for being persistent, and congratulations.  I am still learning a lot about GitHub and Git myself, so I know that it can take a lot of work to understand how to do things.

I will comment on your PR `openhab/openhab1-addons#5497` now.

[2018-02-15 15:02] bgilmer77 commented on #643
I am closing this issue since there is now a PR openhab/openhab1-addons#5497.

[2018-02-15 15:02] #643 closed

[2018-02-18 09:07] Confectrician commented on #589
Push,

I just asked myself, why this simple issue is not solved yet...
I would still have your opinion on my last post here.

cc @ThomDietrich, @bgilmer77

[2018-02-18 13:35] ThomDietrich commented on #589
Hey Jerome,
short answer: because I'm (sadly) not active right now...

Long answer: By all means, please feel free to add a PR for this simple issue.
It is a good idea to rearrange the list. The counter-arguments against the washing machine tutorial make sense I guess. On the other side I am against the Type conversions and design patterns. First because the type conversions are anyhow part of doc

[2018-02-18 19:40] bgilmer77 commented on #589
So if @Confectrician you want to propose a new order, that would be great. I will be sure to look at it.

[2018-02-19 20:35] Josar opened #645 "Link and full packet qualifier in documentation"
As i often need the full packet qualifier e.g for enabling debug massages and also when i try to see if the code does what the documentation says, i would love to see a link and a full packet qualifier on the doc pages.

[2018-02-19 20:54] kaikreuzer commented on #645
Logging can be configured for every single class, so it might be difficult to cover all situations in the docs.

But I assume you are mainly talking about activating general debug logging for a specific add-on, such as
[code]
In general, it is always either `org.openhab`or `org.eclipse.smarthome` namespace, so it should be fairly straight forward, once you know this. But I see that the binding/add

[2018-02-19 21:00] bgilmer77 commented on #645
@kaikreuzer this is the sort of feature that will really help OH adoption.  Many new users of home automation to not experience the "happy path".  Providing them with simple things to try to get more information when things go wrong is super-important.

[2018-02-19 21:02] kaikreuzer commented on #645
Fancy to enter an issue at https://github.com/openhab/openhab-core for such a command? I cannot promise to find the time myself to implement it anytime soon, but I can put a bounty on it, so maybe some Karaf-literate person can be found to go for it :-)

[2018-02-19 21:04] bgilmer77 commented on #645
I am happy to create the Issue, but would you like to do it @Josar?  You had the original comment, but this may have taken a direction you did not anticipate.

[2018-02-19 21:09] bgilmer77 commented on #645
@kaikreuzer, too much to ask for something that lets non-Karaf-literate users do something on a UI (Paper?) that initializes the debug and lets them see the result?  WDYT?  I am not sure myself.  It depends upon how readable the debug output would be to a user.  If you have to have your PhD in Javascript or RAML (or OH2, for that matter) to interpret the output, then having it be accessible throug

[2018-02-19 21:22] Josar commented on #645
Full support for @kaikreuzer  as i often had the same/similar idea. But today i thought start with small request as a link in the doc is easy and fast do implement. IMHO.

@bgilmer77  same for your suggestion. Full support, as there are a lot of problems which could be addressed much faster when the avarage user would have easy acces to the log. Maybe just a log panel in PaperUI.

https://github.c

[2018-02-19 21:28] bgilmer77 commented on #645
@Josar I understand.  I will enter an Issue for the general ask to have debug available for "mere mortals".

[2018-02-19 21:48] bgilmer77 commented on #645
Just opened openhab/openhab-core#299

[2018-02-19 22:59] udo1toni commented on #645
What about market place addons? I thnik they won't be neither `org.openhab` nor `org.eclipse.smarthome`...

[2018-02-20 00:47] Josar commented on #645
@udo1toni  so you basically contradict the

of @kaikreuzer  und welcome such an addition.

[2018-02-20 08:09] kaikreuzer commented on #645
Note that this issue here is about the documentation at docs.openhab.org and market place add-ons are not listed here. They come with their own url for documentation, so they can provide their own info on how to deal with them.

@Josar I am not sure whether it is technically feasible to also cover any kind of marketplace add-on through the suggested mechanism, but if so, it would of course make se

[2018-02-22 23:01] Josar opened #647 "XLST documentation lost."
https://docs.openhab.org/addons/transformations/xslt/readme.html
https://github.com/openhab/openhab1-addons/wiki/Samples-XSLT-Transformations

In the old wiki there is almost perfectly explained how the XLST transfomation works and how to solve basic probles like namespace.

Somehow the new page does not reflect anything of that. Is this on Purpose?

This question rises up as there are people aski

[2018-02-23 06:01] Confectrician commented on #647
Maybe it simply hasn't been ported yet.
I don't think that this was on purpose.

Im not working with xlst.
Would you like to add this content to the docs and file a PR here?
I can of course help on GitHub and contributing topics.

[2018-02-23 06:03] Confectrician commented on #647
And maybe we have to add this change to the eclipse smarthome repo.
I have ported the JSONPATH article some time ago and had to move my contribution to that repo too.

[2018-02-23 09:57] Josar commented on #647
https://github.com/eclipse/smarthome/pull/5137

[2018-02-23 09:57] #647 closed

[2018-02-23 10:11] Confectrician commented on #647
Wow, that was fast.

I will make a review over there.

[2018-02-28 11:25] ThomDietrich opened #648 "Sync the contributing guideline from openhab-distro"
@mueller-ma

Yes good idea ;) I'll look into this (at some point in the future)

[2018-03-01 21:45] c5n opened #650 "Add-ons: DMX binding manual missing options and error in example"
Please add missing thing options:

fadetime, dimtime
I guess "fade" is obsolete?

**Issue in Full Example / demo.item**

`Color MyColorItem "My Color Item" { channel="dmx:dimmer:rgb:color" }`
should be
`Color MyColorItem "My Color Item" { channel="dmx:dimmer:mybridge:rgb:color" }`

[2018-03-02 08:33] Confectrician commented on #650
Hi @c5n,

Binding Docs are maintaned in the corresponding binding source folder.
This is done this way to keep the docs up to date according to changes in the binding itself.

In this case, the corrext place for a fix would be
https://github.com/openhab/openhab1-addons/blob/master/bundles/binding/org.openhab.binding.dmx/README.md
Maybe you could create a **pull request** there with the added and c

[2018-03-02 19:11] c5n commented on #650
Hi @Confectrician
thanks for the hint, but it is a OH2 binding and I only could find the documentation in
https://github.com/openhab/openhab-docs/tree/2.2-patch/_addons_bindings/dmx
so I thought this would be the right place.
I'm unable to locate the dmx binding at https://github.com/openhab/openhab2-addons/tree/2.2.x/addons/binding

Sorry for the confusion, I'd like to contribute if I'm able to f

[2018-03-02 20:02] Confectrician commented on #650
Hi Carsten, i just recognized that.

If it is OH2 and it isn't in the openhab2-addons repo, it is always worth to have a look into the eclipse smarthome repo which has some bindings too beneath the meain framwework part.

https://github.com/eclipse/smarthome/tree/master/extensions/binding/org.eclipse.smarthome.binding.dmx

Here we go.
Updates will then be included with one of the next OH releases

[2018-03-02 22:39] c5n commented on #650
Thank you very much for pointing that out. And there it is: The documentation is up to date over there.

But that's weird. The DMX binding I use with raspbian on my Pi already accepts the options described at the eclipse smarthome site but the documentation over here is outdated. It took me many hours of double and triple checking my definitions word by word, and lots of readings in the forum unti

[2018-03-02 23:57] Confectrician commented on #650
Unfortunately no.

That's the open source way.
"It's done when it's done."

The mechanism itself is pretty good and logical.
It makes sense to maintain the documentation in a place where the binding code is maintained too.

As said, all Readme files are fetched from time to time and then the homepage gets all meanwhile made updates in one run.

We could of course check if there's something wrong w

[2018-03-05 22:53] uhafner opened #651 "Paper UI: Add action should show the thing name"
When I create a new rule using Paper UI and create a new 'Then'->'Send Command' element, then the dialog 'Add Action' shows for the Select box (Configurations -> Item) the Type Name of the Thing (e.g., Blinds Control) and the internal ID. It would be more user friendly to show the actual name of the thing here. Otherwise it is hard to choose the correct one.

![bildschirmfoto 2018-03-05 um 23 45 5

[2018-03-06 07:49] kaikreuzer commented on #651
Why is that a documentation issue? Is there anything wrong in the docs?
The list that is shown is that of your Items, not Things. For Items, their label and their name are shown, which is the correct information to clearly identify them.

[2018-03-06 07:49] #651 closed

[2018-03-06 12:26] uhafner commented on #651
Sorry, wrong project, should have been the main project.

Is the item label and name configurable using the Paper UI? Seems that I can only edit Things.

[2018-03-06 13:26] kaikreuzer commented on #651
Yes, it is configurable, but the "Items" menu entry is only visible if you disable the "simple mode" for item creation (you find it in the Paper UI under Configuration->System->Item Linking).

For the simple mode, I agree that the default item names/labels are not ideal when being used in the rule engine, but I don't have any much better suggestion than showing the item name, which is at least uni

[2018-03-06 15:10] uhafner commented on #651
I see, I found the settings. I can't change the names but this is something different what I need to investigate (Error 405 - Item is not editable). Thanks for the pointers.

[2018-03-06 20:13] kaikreuzer commented on #651
Right, you cannot edit the ones that had been automatically created from simple mode - only the items that you create manually (e.g. by activating a new channel) can be edited.

[2018-03-10 14:58] digicos opened #652 "broken link pointing to openHab documentation"
I was reading about the openHab Cloud Connector on below URL
[http://www.myopenhab.org](http://www.myopenhab.org)
Under section

link to openHAB 2.0 results in 404.

[2018-03-12 20:47] kaikreuzer commented on #179
I guess this can be closed...

[2018-03-12 20:47] #179 closed

[2018-03-20 09:15] Confectrician opened #655 "[installation/macosx.md] File locations table is missing"
According to [Linux](https://docs.openhab.org/installation/linux.html#file-locations) and [Windows](https://docs.openhab.org/installation/windows.html#file-locations) we should mention the locations for macosx also.

Since i am not using this OS external help would be appreciated.

[2018-03-20 09:17] #650 closed

[2018-03-20 09:35] Confectrician commented on #163
Can this issue be closed?

[2018-03-20 09:38] Confectrician commented on #183
Hey @rkoshak,

I am browsing through some older issues for cleanign up the repo a bit.
Can we close this issue or is it still under progress?

[2018-03-20 09:41] Confectrician commented on #655
Some overview can be found here:
https://github.com/openhab/openhab-docs/issues/189#issuecomment-360506100

It seems that this is up to date.

[2018-03-20 09:42] Confectrician commented on #189
Should we add the general table somewhere in the docs too and close this issue afterwards?

[2018-03-20 09:49] Confectrician commented on #199
Bringing this one up again.

Maybe we could provide a genereated url structure for the community faq thread here?

[2018-03-20 09:53] Confectrician commented on #203
Hey @martinvw,

You wanted to be assigned here.
Is there stell need for an update and (if yes) would you still ike to take care of it?

#655 could also be interesting here.

[2018-03-20 10:52] martinvw commented on #203
No its not likely that I will pick it up soon, to busy with live and reviewing PR's :-)

So please take it over and/or remove my assignment

[2018-03-21 15:00] mueller-ma opened #656 "FR: Client certificate authentication Howto"
The Android client supports authentication via client cert, but there is no explanation how to configure it server side. I think it should be on this page: https://docs.openhab.org/installation/security.html

See https://github.com/openhab/openhab-android/issues/333

[2018-03-22 07:32] Confectrician commented on #656
Great idea.

Do we have a tutorial or something similar in the community for that, we could reference too in a fist step?

[2018-03-26 11:10] ThomDietrich commented on #597
Yes this should still be done. If you'd like, please add a PR for: https://github.com/openhab/openhab-docs/blob/gh-pages/administration/logging.md

Regarding your issue: Not sure what you mean by running it in the terminal. The whole point is, that frontail provides a webinterface, you simply need to browse its webpage on port 9001

[2018-04-03 18:55] slawekjaranowski commented on #656
Hi,
I started some discussion on https://community.openhab.org/t/using-nginx-reverse-proxy-for-client-certificate-authentication-start-discussion/43064

[2018-04-05 21:25] martinvw opened #658 "openHAB & ESH contributing guidelines out-of-sync"
@triller-telekom I noted today that especially the current vision of null handling is not reflected in the openHAB coding guidelines, AFAIK they should remain alligned, there also seem to be other differences. So it would be great if they could be re-alligned:

ESH has a more extensive A.12
openHAB has B.9 which is not available in ESH

It would be great if someone, maybe @triller-telekom could gi

[2018-04-06 11:27] triller-telekom commented on #658
Good point! I have created #659 to sync them again. Thanks for noticing.

[2018-04-06 13:54] ItIsFelix opened #660 "Wrong alt property for presence.png (Prupose)"
Wrong alt property for Purpose->presence.png
[_addons_iconsets/classic/readme.md](https://github.com/openhab/openhab-docs/blob/gh-pages/_addons_iconsets/classic/readme.md)

`<img src="icons/presence.png" alt="presence-off " title="presence-off ">`

[2018-04-06 20:44] #658 closed

[2018-04-06 20:46] Confectrician commented on #660
Hi @ItIsFelix

Thanks for reporting, but the iconset comes from eclipse smarthome and is generated into our docs.
So we would have to fix and report it over there.

I will leave this issue open and have a look where to report this in the original source.

BR
Jerome

[2018-04-07 08:42] Confectrician commented on #629
Seems there has been something changed in the markup, so the Jquery statements simply dont get the right elements.

I will provide a fix for that.

[2018-04-07 09:04] Confectrician opened #661 "Bindings Page broken."
Somehow the build does somethign weird with the bindings page.
There are dozens of empty table rows and tbh i don't know from what they are generated.

The table rwos should rather be generated based on the addons_bindings folder,
but i can't see something wrong there.

cc: @kaikreuzer, @ThomDietrich

[2018-04-07 09:40] Confectrician commented on #661
could maybe be related to #642

[2018-04-07 18:51] kaikreuzer commented on #661
What exactly is the issue (where are the tables that you mention)? https://docs.openhab.org/addons/bindings.html looks all right to me...

[2018-04-07 19:38] Rosi2143 opened #662 "wrong subid's for tinkerforge binding"
**Industrial Digital Out 4 Bricklet**:
subids [here](https://docs.openhab.org/addons/bindings/tinkerforge1/readme.html#binding-properties-19) is mentioned as "out0, out2, out3, out4", but it should be "out0, out1, out2, out3" - see also example below.

**Industrial Digital IN 4 Bricklet**:
subids [here](https://docs.openhab.org/addons/bindings/tinkerforge1/readme.html#bricklet-15) is mentioned as

[2018-04-07 21:28] #652 closed

[2018-04-07 21:29] kaikreuzer commented on #652
No, as almost anything, this is also available on Github 😎 : https://github.com/openhabfoundation/myopenhab.github.io/pull/8

[2018-04-07 22:02] Confectrician commented on #661
If you scroll down long enough you should be able to See something like this:
![screenshot_20180407-235334](https://user-images.githubusercontent.com/7161177/38460730-05c82550-3ac0-11e8-9815-df1462725f65.png)

[2018-04-07 22:10] kaikreuzer commented on #661
Oh, indeed :-)
As it happens right above Z-Wave, I agree that it could be related to #642.
I'd hope that @ThomDietrich has some input here...

[2018-04-08 06:58] Confectrician commented on #661
Addition which i was too lazy to write from mobile:

I was working on a fix for the bindings selection javascript and noticed that it doesn't seem to broken in the v2.2 and v2.1 docs versions. So some of the newer changes have to break something.

[2018-04-09 08:29] #629 closed

[2018-04-09 08:41] kaikreuzer commented on #661
It indeed is related to #642 as all those entries refer to Z-Wave devices:

<img width="645" alt="screen shot 2018-04-09 at 10 39 54" src="https://user-images.githubusercontent.com/3244965/38488017-65d6c302-3be2-11e8-8773-432bbfb598aa.png">

I have to admit that I have no clue how the bindings.html is generated - I hope @ThomDietrich can shed some light on this.

[2018-04-09 08:47] Confectrician commented on #661
Would be very cool indeed.
I would have to dig into that special case from scratch too.
At leeast some overview of how it works would be nice to provide a fix myself maybe.

[2018-04-10 07:42] Confectrician opened #665 "[Discussion] Docs Repo restructuring"
Hi all,

One thing that i could observe repeatedly since i am helping out here in the docs
is the confusion about external content.
I have added the `external source` label some time ago for this and i am using it frequently.

# The Problem

People come here to improve the docs and me or others have to tell them that they are in the wrong place.
This is one thing if its *only* a new issue.
Its a b

[2018-04-10 10:36] bgilmer77 commented on #665
I am at a very busy trade show so I must keep this short. I agree that there is a problem. I also see many times we have to say, “thank you for your contribution. Now please do your work again, but somewhere else”. I can imagine this is very frustrating. I do not have time to look at the proposed solutions, but thanks for highlighting the problem.

[2018-04-10 11:35] ThomDietrich commented on #665
Hey!
This is an annoying and unneeded problem indeed. I want to quickly give another view on the whole issue.

The actual source if this issue is, that we copy external content over to this repository. This is only needed because we are hosting the documentation via GitHub. One limitation that emerges out of that is, that we indeed need to commit all documents. This is also the reason for the regu

[2018-04-10 12:53] Confectrician commented on #665
Let me explain it in some simple words:
I am helping out here for a not so short time now and i am still not aware of the whole generation process.
I also think that is really unlucky to have to reverse engineer the generation process from xml or shell files.
It should be easy to grasp for everyone which contents are coming from which source/repo.
That should be improved with a graphic or better e

[2018-04-10 14:13] kaikreuzer commented on #665
Hey @Confectrician, I agree with the problem you are raising and as many things, this has grown historically to what it is today.

I think a separation of "source docs" and "served pages" indeed makes a lot of sense - mixing those simply causes a lot of mess. Maybe there is actually a not too complex short term solution for it without requiring additional repos or servers:

We could remove all stu

[2018-04-10 14:24] bgilmer77 commented on #665
All,
Again, very abbreviated comments, but I would like to contribute to this discussion.
A few points:

- We should always think very carefully about anything that makes it difficult for people to contribute.  Some people who put a contribution in the wrong repo will be okay to move it.  Others will go away and never come back if we give them the "fail - put your contribution over here" message.

[2018-04-10 14:52] ThomDietrich commented on #665
@kaikreuzer your short term solution is pretty similar to @Confectrician 's idea to add a new repo but even better. @Confectrician I think it's totally worth trying. What we would need is a bash script (at least that is one and maybe the most logical choice) that executes all external-sources-steps and adds the appropriate git steps affecting the gh-pages branch.

@kaikreuzer I'm amazed that we di

[2018-04-10 19:36] Confectrician commented on #665
Hi all,

First i want to thank all of you for the huge and constructive feedback in that short time.

The branch solution sounds good for me too. (For a short term improvement)
Keep it short and simple on master to avoid confusion for new contributors and keep the complicated stuff (which has currently to be here due to the GitHub Pages workflow, which i fully understand) "under the hood" for the

[2018-04-11 09:35] Confectrician commented on #665
I would use the current external content workflow as is and just push that to the *hidden branch* instead of master in the future.
It doesn't make sense to invest much time in automating this stuff so short before a possible website relaunch.

For the docs-master itself i would love to test/implement some automation already.

### Workflow could be

- master commit
-> update gh-pages branch due CI/

[2018-04-11 09:41] Confectrician commented on #192
Should we close it then?

[2018-04-11 13:45] ThomDietrich commented on #192
Weird. Yes :)

[2018-04-11 13:45] #192 closed

[2018-04-14 13:19] mueller-ma opened #666 "Explain how to speed up chart rendering"
Hey,
when rendering charts with many values on slow hardware, e.g. rpi, it needs some time until the charts show up.
The basic ui requests charts always in 480px * 240px, but the android app requests them in much higher resolution, which takes much longer. A workaround is the setting "max chart width", but I couldn't find any documentation about the feature, only the PR: https://github.com/eclipse

[2018-04-14 15:11] Confectrician commented on #660
Hi @ItIsFelix,

I have opened eclipse/smarthome#5416 and will close this issue now.

[2018-04-14 15:11] #660 closed

[2018-04-16 07:36] mueller-ma commented on #648
We could also add all guidlines and a list with all maintainers in one repo and just link to this repo.

[2018-04-16 07:39] Confectrician commented on #648
I am perfectly fine with creating a PR instead of committing directly.

About repo specific information:
That's of course a valid point and we should think about how to handle that.
maybe generalize the guidelines as much as possible (which maybe already is the current state) and generate them individually?

My intention was just to prevent forgetting about important guideline changes and the idea

[2018-04-18 19:42] thucke opened #668 "Caldav: Google deprecated commonly used endpoint"
The current examples of the [Caldav Command Binding documentation](https://docs.openhab.org/addons/bindings/caldav-command1/readme.html#google-2-factor-authentication) for connection Google calendars are shoing URL examples like `https://www.google.com/calendar/dav/email@gmail.com/events`.
However the [CalDAV API Developer's Guide](https://developers.google.com/calendar/caldav/v2/guide) states tha

[2018-04-18 20:02] Confectrician commented on #668
Hi @thucke

Thanks for pointing out this issue.
All of our Binding Documentation is maintained in the corresponding Add-on Repos beneath the Binding code.
We grab it from time to time and update all Binding docs in one run.

For CalDav the location would be:
https://github.com/openhab/openhab1-addons/tree/master/bundles/binding/org.openhab.binding.caldav-personal

## What does that mean now?

The